<div class="modal fadeIn show" id="myModal" aria-modal="true" role="dialog">
    <div class="modal-dialog @(IsModalLg ? "modal-lg" :"")" style="@(!string.IsNullOrEmpty(Width)?$"max-width:{Width}":"")">
        <div class="modal-content" style="@(!string.IsNullOrEmpty(Width)?$"max-width:{Width}":"")">
            <div class="modal-header @(HeaderCssClass) @(ShowHeaderCloseButton ? "d-flex justify-content-between" : "")">
                <FontLabel fontSize="16px" Class="modal-title text-white" fontColor="white">@Title</FontLabel>
                <button onclick="@Close" class="close-button @(ShowHeaderCloseButton ? "" : "d-none")">
                    <TelerikIcon Icon="x"></TelerikIcon>
                </button>
            </div>
            <div class="modal-body">
                @if (string.IsNullOrEmpty(Message))
                {
                    <div class="body-content px-1">
                        @(Body)
                    </div>
                }
                else
                {
                    <div class="body-content">
                        <FontLabel>@(Message)</FontLabel>
                    </div>
                }
            </div>
            @if (Footer is not null)
            {
                <div class="modal-footer">
                    <div>
                        @(Footer)
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal-backdrop fade show" @onclick="@( () => { if(CloseOnOutsideClick) { OutsideClick(); } })"></div>
</div>