<div class="modal fadeIn show" id="myModal" aria-modal="true" role="dialog">
    <div class="modal-dialog" style="@(!string.IsNullOrEmpty(Width)?$"max-width:{Width}":"")">
        <div class="modal-content" style="@(!string.IsNullOrEmpty(Width)?$"max-width:{Width}":"")">
            <div class="modal-header @(HeaderCssClass)">
                <h5 class="modal-title text-white">@Title</h5>
                <button onclick="@Close" class="close-button">
                    <TelerikIcon Icon="x"></TelerikIcon>
                </button>
            </div>
            <div class="modal-body">
                @if (string.IsNullOrEmpty(Message))
                {
                    <div class="body-content px-3">
                        @(Body)
                    </div>
                }
                else
                {
                    <div class="body-content">
                        @(Message)
                    </div>
                }
            </div>
            @if (Footer is not null)
            {
                <div class="modal-footer">
                    <div>
                        @(Footer)
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal-backdrop fade show" @onclick="@( () => { if(CloseOnOutsideClick) { OutsideClick(); } })"></div>
</div>