@using DE = DataModels.Entities

<TelerikForm Model="@aircraftMake" OnValidSubmit="@Submit" Class="popup-content">

    <FormValidation>
        <DataAnnotationsValidator></DataAnnotationsValidator>
    </FormValidation>

    <FormItems>

        <input type="hidden" value="@aircraftMake.Id" name="Id" />

        <div class="row">
            <div class="col-md-12 align-items-center d-flex">
                <label for="name" class="k-label k-form-label">Aircraft Make</label>
            </div>
            <div class="col-md-12">
                <TelerikTextBox Id="name" @bind-Value="@aircraftMake.Name" PlaceHolder="Make" ></TelerikTextBox>
                <TelerikValidationMessage For="@(() => aircraftMake.Name)"></TelerikValidationMessage>
            </div>
        </div>

    </FormItems>
    <FormButtons>

        <hr style="margin-top:35px" />

        <div class="row" style="margin-bottom:0px">
            <div class="col-md-12 text-right">

                <FormFooterComponent id="@aircraftMake.Id" IsSubmitButtonLoading="@isBusySubmitButton" CloseDialogCallBack="@CloseDialog">
                </FormFooterComponent>

            </div>

        </div>

    </FormButtons>

</TelerikForm>