@namespace Web.UI.Pages.Document
@using DataModels.Enums
@using DataModels.VM.Document;
@using GlobalUtilities.Extensions;
@using Web.UI.Shared.Components;

@page "/Document"

<div class="row my-0">
    <div class="col-12 my-0 col-lg-3 col-md-12 col-xl-2 @(isLeftBarVisible ? "":"d-none")">

        <div class="p-0 m-0 mb-2">
            <div class="p-0 m-0">

                <CascadingValue Value="@companyId" Name="CompanyId">
                    <Web.UI.Pages.Document.DocumentTag.LeftPanel @ref="leftPanel" RefreshGridCallBack=@RefreshDocumentsGrid />
                </CascadingValue>
            </div>
        </div>

    </div>

    @{
        string cssClass = isLeftBarVisible ? "col-lg-9 col-xl-10 ps-0" : "col-lg-12";
    }

    <div class="col-md-12 col-12 my-0 @cssClass">
        <div class="cursor-pointer  mb-2 d-flex">

            <div class="col-2" @onclick=@(() => ToggleLeftPane())>
                <FontLabel fontColor="#0D89DD" fontSize="12px">
                    <CustomIcons IconName="toggle-hamburg" PrimaryColor="#0D89DD"></CustomIcons>
                    Toggle Left Pane
                </FontLabel>
            </div>

            @if (globalMembers.IsSuperAdmin)
            {
                <div class="col-md-10 d-flex justify-content-end">
                    <div class="col-md-6 ">

                        <TelerikComboBox Id=companyId Data="@companies" TextField="Name"
                                     Filterable="true" FilterOperator="@StringFilterOperator.Contains" Class="common-bg"
                                     Placeholder="Select Company" ValueField="Id"
                                     Value="@companyId"
                                     ValueExpression="@( () => companyId )"
                                     ValueChanged="@( (int value) => OnCompanyValueChanges(value) )">
                        </TelerikComboBox>

                    </div>
                </div>
            }

        </div>
        <div class="card p-0  no-box-shadow">
            <div class="card-body p-0">

                <DocumentsList @ref="documentsList" />
            </div>
        </div>
    </div>
</div>
