@using DataModels.Enums
@using Web.UI.Shared.Components;

@page "/CompanyDetails"

<PageTitle>Company Details | Upflyte </PageTitle>

<style>
    .nav-item {
        border-right: 2px solid rgba(17, 17, 17, 0.3);
    }

        .nav-item:last-child {
            border-right: none;
        }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: inherit;
        background-color: inherit;
        border-bottom: 4px solid #3066F8;
    }

    .nav.nav {
        border-bottom: 1px solid #D9D9D9;
    }

    .custom-label {
        color: #8A8C9B;
    }
</style>
<div class="row my-0">
    <div class="col-md-12 col-lg-4 col-12 my-0  @(isLeftBarVisible ? "":"d-none")">
        <div class="card p-0">
            <div class="card-body p-0">
                <div>
                    <div class="row d-flex justify-content-center align-items-center w-100 m-0" style="height: 150px;border-radius: 5px 5px 0 0;background-color:transparent;border: 0;background-repeat: no-repeat;background-size: 100% 100%;background-image: url(https://images.unsplash.com/photo-1531558506007-fe311a2f4729?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80);">
                        <span class="d-flex justify-content-between mt-3 k-cursor-pointer">

                            <TelerikButton ThemeColor="light" Size="xs" Class="btn k-btn-link mx-2  btn-sm" OnClick="@(() => NavigationManager.NavigateTo("/Aircraft"))">
                                <CustomIcons IconName="arrow" />
                                <FontLabel fontColor="#3066F8" fontSize="">Back</FontLabel>
                            </TelerikButton>
                            <label for="filePicker" class="k-cursor-pointer">
                                <CustomIcons IconName="edit-square" PrimaryColor="white" />
                                <InputFile id="filePicker" accept="@supportedImagesFormats" style="display:none" OnChange="@OnInputFileChangeAsync"></InputFile>
                            </label>
                        </span>

                        <img src="@companyData.Logo" onerror="this.onerror=null;this.src='../img/company-default-logo.png';"
                             style="height: 126px !important;width: 126px !important;border-radius: 100px;border: 5px solid white;padding: 0;position: relative;top: 30px;">
                    </div>
                    <div class="row bg-white d-flex align-items-end w-100 m-0" style="height: 100px;border-radius: 0 0 7px 7px;">
                        <div class="col-12 text-center">
                            <h5><b>@companyData.Name</b></h5>
                        </div>
                    </div>
                </div>
                 <hr class="m-0" />
                    @*<div class="row" style="padding: 1rem 1rem;">
                        <div class="col-12">
                        <div class="justify-content-between">
                            <span class="mx-2">
                                <CustomIcons IconName="aircraft" PrimaryColor="#3066f8"></CustomIcons>
                            </span>
                            Company information
                             
                        </div>
                        </div>
                    </div>*@
                <div class="row d-flex justify-content-between d-flex align-items-center  my-1">
                    <div class="d-flex justify-content-around  align-items-center">
                        <span class="mx-2">
                            <CustomIcons IconName="aircraft" PrimaryColor="#3066f8"></CustomIcons>
                        </span>
                        Company information
                        <TelerikButton ThemeColor="info" Class="btn k-btn-primary k-ml-3 btn-xs btn-sm" Size="xs" OnClick="@(() => CompanyEditDialog())">
                            Update
                        </TelerikButton>
                    </div>
                </div>
                <hr class="m-0" />
               
                <div>
                   
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Primary Service</FontLabel></div>
                        <div class="col-6 d-flex justify-content-start">
                            <FontLabel fontColor="#042455">
                                @if (companyData.PrimaryServicesList.Count() > 0 && companyData.PrimaryServiceId != null)
                                {
                                    @companyData.PrimaryServicesList.Where(p=>p.Id == companyData.PrimaryServiceId).First().Name
                                }
                            </FontLabel>
                        </div>
                    </div>
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Timezone</FontLabel></div>
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#042455">@(companyData.TimeZone)</FontLabel></div>
                    </div>
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Address</FontLabel></div>
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#042455">@companyData.Address</FontLabel></div>
                    </div>
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Website</FontLabel></div>
                            <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#3066F8"><a href=@(companyData.Website == null ? "" : companyData.Website)>@(companyData.Website == null ? "" : companyData.Website)</a></FontLabel></div>
                    </div>
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Primary Airport</FontLabel></div>
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#042455">@(companyData.PrimaryAirport == null ? "-" : companyData.PrimaryAirport)</FontLabel></div>
                    </div>
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Contact No</FontLabel></div>
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#042455">@(companyData.ContactNo == null ? "-" : companyData.ContactNo)</FontLabel></div>
                    </div>
                    <div class="row p-4 m-0 w-100 ap-value d-flex align-items-center border-0">
                        <div class="col-12 d-flex justify-content-center">
                            <TelerikButton Class="btn k-btn-primary" ThemeColor="primary" OnClick="@CompanyEditDialog" Enabled="@(!isBusyAddButton)">
                                Update Details
                                <TelerikLoader Class="button-loader-indicator" Size="sm" ThemeColor="light" Visible="@isBusyAddButton">
                                </TelerikLoader>
                            </TelerikButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12  col-12 my-0 @(isLeftBarVisible ? "col-lg-8 ps-0":"col-lg-12")">
            <div class="cursor-pointer  mb-2" @onclick=@(() => ToggleLeftPane())><FontLabel fontColor="#3066F8" fontSize="16px"><CustomIcons IconName="toggle-hamburg"></CustomIcons> Toggle Left Pane</FontLabel></div>
        <div class="card p-0">
            <div class="card-body p-0">
            <Web.UI.Pages.Company.DetailsView.DetailTabs.Index CompanyData=@companyData />
            </div>
        </div>
    </div>
</div>

@if (isDisplayPopup)
{
    <CustomPopupComponent Title="@popupTitle"
                      HeaderCssClass=@CustomPopupComponent.GetHeaderCssClass(operationType)
                      CloseOnOutsideClick="false" OnClose="@(()=> {isDisplayPopup = false;})">
        <Body>

                <Create companyData=@(companyData) CloseDialogCallBack="@CloseDialog"></Create>
            
        </Body>
    </CustomPopupComponent>
}