@using DataModels.VM.LogBook;
@using DataModels.Enums;

<EditForm Model="@logBookVM" OnValidSubmit="@Submit" OnInvalidSubmit="@test">

    <CustomValidationSummary> </CustomValidationSummary>

    <div class="row mx-0 my-1" style="margin-top:9px !important">

        <div class="col-md-12 d-flex justify-content-end">
            <TelerikButton Class="btn k-btn-primary" ButtonType="@ButtonType.Button" ThemeColor="primary" OnClick="(() => AddEntry())">
                <CustomIcons IconName="add" PrimaryColor="White"></CustomIcons> Add New
            </TelerikButton>
            <FormFooterComponent id="@logBookVM.Id" IsSubmitButtonLoading="@isBusySubmitButton" IsHideCancelButton="true">
            </FormFooterComponent>
        </div>
    </div>
    <div class="row m-0">
        <div class="logbook-header d-flex justify-content-between align-items-center my-1" @onclick=@(() => ToggleVisibility_LogBookEntry())>
            <span><FontLabel fontColor="#0D89DD">LogBook Entry</FontLabel></span>
            <span>
                @*<FontLabel fontColor="#042455">Configure</FontLabel>*@
                @if (isLogBookEntryVisible)
                {
                    <CustomIcons IconName="minus" />
                }
                else
                {
                    <CustomIcons IconName="plus" />
                }
            </span>
        </div>
        <input type="hidden" value="@logBookVM.Id" name="Id" />
        <div class="col-12 py-1 @(!isLogBookEntryVisible ? "d-none":"")">
            <div class="row my-0" style="margin-bottom: 10px !important;margin-top: 8px !important;">
                <div class="col-1" />
                <div class="col-2">
                    <div><label>Date</label></div>
                    <TelerikDatePicker Class="logbook-control-max-width" @bind-Value="@logBookVM.Date" Id="date"></TelerikDatePicker>
                </div>

                <div class="col-2">
                    <div><label>Departure</label></div>
                    <TelerikTextBox Class="logbook-control-max-width" Id="departureAirport" @bind-Value="@logBookVM.Departure" Placeholder="Departure"></TelerikTextBox>
                    <TelerikValidationMessage For="@(() => logBookVM.Departure)"></TelerikValidationMessage>
                </div>

                <div class="col-2">
                    <div><label>Arrival</label></div>
                    <TelerikTextBox Class="logbook-control-max-width" Id="arrivalAirport" @bind-Value="@logBookVM.Arrival" Placeholder="Arrival"></TelerikTextBox>
                    <TelerikValidationMessage For="@(() => logBookVM.Arrival)"></TelerikValidationMessage>
                </div>

                <div class="col-2">
                    <div><label>Aircrafts</label></div>
                    <TelerikComboBox Id=aircraft Data="@AircraftsList" TextField="Name" Class="logbook-control-max-width"
                                     Filterable="true" FilterOperator="@StringFilterOperator.Contains"
                                     Placeholder="Select Aircraft" ValueField="Id" @bind-Value="@(logBookVM.AircraftId)">
                    </TelerikComboBox>
                    <TelerikValidationMessage For="@(() => logBookVM.AircraftId)"></TelerikValidationMessage>
                </div>
            </div>

            <div class="row my-0" style="margin-bottom:8px !important;">
                <div class="col-1" />
                <div class="col-2">
                    <div><label>Total Time</label></div>
                    <TelerikNumericTextBox Class="logbook-control-max-width" Id="totalTime" @bind-Value=@logBookVM.TotalTime Placeholder="Hours" />
                </div>

                <div class="col-2">
                    <div><label>PIC</label></div>
                    <TelerikNumericTextBox Class="logbook-control-max-width" Id="totalTime" @bind-Value=@logBookVM.PIC Placeholder="Hours" />
                </div>

                <div class="col-2">
                    <div><label>SIC</label></div>
                    <TelerikNumericTextBox Class="logbook-control-max-width" Id="totalTime" @bind-Value=@logBookVM.SIC Placeholder="Hours" />
                </div>

                <div class="col-2">
                    <div><label>Night</label></div>
                    <TelerikNumericTextBox Class="logbook-control-max-width" Id="totalTime" @bind-Value=@logBookVM.Night Placeholder="Hours" />
                </div>
            </div>
            <div class="row my-0" style="margin-bottom:8px !important;">
                <div class="col-1" />
                <div class="col-2">
                    <div><label>Solo</label></div>
                    <TelerikNumericTextBox Class="logbook-control-max-width" Id="totalTime" @bind-Value=@logBookVM.Solo Placeholder="Hours" />
                </div>

                <div class="col-2">
                    <div><label>Cross Country</label></div>
                    <TelerikNumericTextBox Class="logbook-control-max-width" Id="totalTime" @bind-Value=@logBookVM.CrossCountry Placeholder="Hours" />
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0">
        <div class="logbook-header d-flex justify-content-between align-items-center my-1" @onclick=@(() => ToggleVisibility_TakeoffsLandings())>
            <span><FontLabel fontColor="#0D89DD">Takeoffs & Landings</FontLabel></span>
            <span>
                @*<FontLabel fontColor="#042455">Configure</FontLabel>*@
                @if (isTakeoffsLandingsVisible)
                {
                    <CustomIcons IconName="minus" />
                }
                else
                {
                    <CustomIcons IconName="plus" />
                }
            </span>
        </div>
        <div class="col-12 py-1 @(!isTakeoffsLandingsVisible ? "d-none":"")">
            <div class="row my-0" style="margin-bottom: 8px !important;margin-top: 8px !important;">
                <div class="col-1" />
                <div class="col-2">
                    <div><label>Day Takeoffs</label></div>
                    <TelerikNumericTextBox Class="logbook-control-max-width" Id="dayTakeoffs" @bind-Value=@logBookVM.DayTakeoffs Placeholder="Hours" />
                </div>
                <div class="col-2">
                    <div><label>Day Landings Full Stop</label></div>
                    <TelerikNumericTextBox Class="logbook-control-max-width" Id="nightTakeoffs" @bind-Value=@logBookVM.DayLandingsFullStop Placeholder="Hours" />
                </div>
                <div class="col-2">
                    <div><label>Night Takeoffs</label></div>
                    <TelerikNumericTextBox Class="logbook-control-max-width" Id="nightTakeoffs" @bind-Value=@logBookVM.NightTakeoffs Placeholder="Hours" />
                </div>
                <div class="col-2">
                    <div><label>Night Landings Full Stop</label></div>
                    <TelerikNumericTextBox Class="logbook-control-max-width" Id="nightLandingsFullStop" @bind-Value=@logBookVM.NightLandingsFullStop Placeholder="Hours" />
                </div>

            </div>
            <div class="row my-0" style="margin-bottom: 8px !important;margin-top: 8px !important;">
                <div class="col-1" />
                <div class="col-2">
                    <div><label>All Landings</label></div>
                    <TelerikNumericTextBox Class="logbook-control-max-width" Id="totalTime" @bind-Value=@logBookVM.AllLandings Placeholder="Hours" />
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0">
        <Web.UI.Pages.LogBook.Instrument.Instrument logBookVM="@logBookVM"
                                                    ShowBodyPart="isInstrumentVisible"
                                                    OnToggle="@(() => ToggleVisibility_Instrument())" />
    </div>

    <div class="row m-0">
        <div class="logbook-header d-flex justify-content-between align-items-center my-1" @onclick=@(() => ToggleVisibility_RouteDistance())>
            <span><FontLabel fontColor="#0D89DD">Route & Distance</FontLabel></span>
            <span>
                @*<FontLabel fontColor="#042455">Configure</FontLabel>*@
                @if (isRouteDistanceVisible)
                {
                    <CustomIcons IconName="minus" />
                }
                else
                {
                    <CustomIcons IconName="plus" />
                }
            </span>
        </div>
        <div class="row my-0 @(!isRouteDistanceVisible ? "d-none":"")" style="display:flex;margin-bottom:12px !important;">
            <div class="col-1" />
            <div class="col-2">
                <div><label>Distance</label></div>
                <TelerikNumericTextBox Class="logbook-control-max-width" Id="distance" @bind-Value="@logBookVM.Distance" Placeholder="Distance"></TelerikNumericTextBox>
            </div>

            <div class="col-4">
                <div><label>Route</label></div>
                <TelerikTextBox Width="100%" Id="route" Class="logbook-control-max-width" @bind-Value="@logBookVM.Route" PlaceHolder="Route"></TelerikTextBox>
            </div>
        </div>
    </div>

    <div class="row m-0">
        <TimeDetails LogBookTimeDetails="@logBookVM.LogBookFlightTimeDetailVM"
                     ShowBodyPart="isStartEndVisible"
                     OnToggle="@(() => ToggleVisibility_StartEnd())" />
    </div>

    <div class="row m-0">
        <div class="logbook-header d-flex justify-content-between align-items-center my-1" @onclick=@(() => ToggleVisibility_NightVisionGoggles())>
            <span><FontLabel fontColor="#0D89DD">Night Vision Goggles</FontLabel></span>
            <span>
                @*<FontLabel fontColor="#042455">Configure</FontLabel>*@
                @if (isNightVisionGogglesVisible)
                {
                    <CustomIcons IconName="minus" />
                }
                else
                {
                    <CustomIcons IconName="plus" />
                }
            </span>
        </div>
        <div class="row my-0 @(!isNightVisionGogglesVisible ? "d-none":"")" style="display:flex;margin-bottom:16px !important">
            <div class="col-1" />
            <div class="col-2">
                <div><label>NVG</label></div>
                <TelerikNumericTextBox Class="logbook-control-max-width" Id="nvg" @bind-Value="@logBookVM.NVG" Placeholder="NVG"></TelerikNumericTextBox>
            </div>

            <div class="col-2">
                <div><label>NVG Operations</label></div>
                <TelerikNumericTextBox Class="logbook-control-max-width" Id="nvgOperations" @bind-Value="@logBookVM.NVGOperations" Placeholder="NVG Operations"></TelerikNumericTextBox>
            </div>
        </div>
    </div>

    <div>

        <Web.UI.Pages.LogBook.CrewPassenger.CrewPassenger LogBookCrewPassengersList="@logBookVM.LogBookCrewPassengersList" RolesList="@RolesList"
                                                          PassengersList="@PassengersList" UsersList=@UsersList
                                                          CrewPassengersList="@logBookVM.CrewPassengersList">
        </Web.UI.Pages.LogBook.CrewPassenger.CrewPassenger>

    </div>

    <div class="row m-0">
        <TrainingDetails LogBookTrainingDetailVM="@logBookVM.LogBookTrainingDetailVM" ShowBodyPart="isTrainingVisible" OnToggle="@(() => ToggleVisibility_Training())"></TrainingDetails>
    </div>

    <div class="row m-0">
        <Photos ShowBodyPart="isFlightPhotosVisible" PhotosList="@logBookVM.LogBookFlightPhotosList" OnToggle="@(() => ToggleVisibility_FlightPhotos())"></Photos>
    </div>

    <div class="row m-0">
        <div class="logbook-header d-flex justify-content-between align-items-center my-1" @onclick=@(() => ToggleVisibility_Comments())>
            <span><FontLabel fontColor="#0D89DD">Comments</FontLabel></span>
            <span>
                @*<FontLabel fontColor="#042455">Configure</FontLabel>*@
                @if (isCommentsVisible)
                {
                    <CustomIcons IconName="minus" />
                }
                else
                {
                    <CustomIcons IconName="plus" />
                }
            </span>
        </div>
        <div class="col-1" />
        <div class="col-8 py-1 @(!isCommentsVisible ? "d-none":"")" style="margin-top:8px !important;">
            <TelerikTextBox Id="comments" @bind-Value="@logBookVM.Comments" Placeholder="Comments" Class="textarea-height"></TelerikTextBox>
        </div>
    </div>

    <div class="row mx-0 my-1">
        <div class="col-md-12 text-right">
            <FormFooterComponent id="@logBookVM.Id" IsSubmitButtonLoading="@isBusySubmitButton" IsHideCancelButton="true">
            </FormFooterComponent>
        </div>
    </div>
</EditForm>

