@using DataModels.VM.LogBook;

<style>

    .row-margin 
    {
        margin-bottom:
    }

</style>

<TelerikForm Model="@logBookVM">

    <FormValidation>
        <CustomValidationSummary> </CustomValidationSummary>
    </FormValidation>

    <FormItems>
        <div class="row m-0">
            <div class="logbook-header d-flex justify-content-between align-items-center" @onclick=@(() => ToggleVisibility_LogBookEntry())>
                <span><FontLabel fontColor="#3066F8">LogBook Entry</FontLabel></span>
                <span>
                    <FontLabel fontColor="#042455">Configure</FontLabel>
                    @if (isLogBookEntryVisible)
                    {
                        <CustomIcons IconName="minus" />
                    }
                    else
                    {
                        <CustomIcons IconName="plus" />
                    }
                </span>
            </div>
            <input type="hidden" value="@logBookVM.Id" name="Id" />
            <div class="col-12 py-1 @(!isLogBookEntryVisible ? "d-none":"")">
                <div class="row my-0" style="margin-bottom: 10px !important;margin-top: 8px !important;">
                    <div class="col-3">
                        <label>Date</label>
                        <TelerikDatePicker @bind-Value="@logBookVM.Date" Id="date"></TelerikDatePicker>
                    </div>

                    <div class="col-3">
                        <label>Departure Airport</label>
                        <TelerikTextBox Id="departureAirport" @bind-Value="@logBookVM.Departure" PlaceHolder="Airport"></TelerikTextBox>
                    </div>

                    <div class="col-3">
                        <label>Arrival Airport</label>
                        <TelerikTextBox Id="arrivalAirport" @bind-Value="@logBookVM.Arrival" PlaceHolder="arrival"></TelerikTextBox>
                    </div>

                    <div class="col-3">
                        <label>Aircrafts</label>
                        <TelerikComboBox Id=aircraft Data="@logBookVM.AircraftsList" TextField="Name"
                                         Filterable="true" FilterOperator="@StringFilterOperator.Contains"
                                         Placeholder="Select Aircraft" ValueField="Id" @bind-Value="@(logBookVM.AircraftId)">
                        </TelerikComboBox>
                        <TelerikValidationMessage For="@(() => logBookVM.AircraftId)"></TelerikValidationMessage>
                    </div>
                </div>

                <div class="row my-0" style="margin-bottom:8px !important;">
                    <div class="col-2">
                        <label>Total Time</label>
                        <TelerikNumericTextBox Id="totalTime" @bind-Value=@logBookVM.TotalTime Placeholder="Hours" />
                    </div>

                    <div class="col-2">
                        <label>PIC</label>
                        <TelerikNumericTextBox Id="totalTime" @bind-Value=@logBookVM.PIC Placeholder="Hours" />
                    </div>

                    <div class="col-2">
                        <label>SIC</label>
                        <TelerikNumericTextBox Id="totalTime" @bind-Value=@logBookVM.SIC Placeholder="Hours" />
                    </div>

                    <div class="col-2">
                        <label>Night</label>
                        <TelerikNumericTextBox Id="totalTime" @bind-Value=@logBookVM.Night Placeholder="Hours" />
                    </div>

                    <div class="col-2">
                        <label>Solo</label>
                        <TelerikNumericTextBox Id="totalTime" @bind-Value=@logBookVM.Solo Placeholder="Hours" />
                    </div>

                    <div class="col-2">
                        <label>Cross Country</label>
                        <TelerikNumericTextBox Id="totalTime" @bind-Value=@logBookVM.CrossCountry Placeholder="Hours" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-0">
            <div class="logbook-header d-flex justify-content-between align-items-center" @onclick=@(() => ToggleVisibility_TakeoffsLandings())>
                <span><FontLabel fontColor="#3066F8">TAKEOFFS & LANDINGS</FontLabel></span>
                <span>
                    <FontLabel fontColor="#042455">Configure</FontLabel>
                    @if (isTakeoffsLandingsVisible)
                    {
                        <CustomIcons IconName="minus" />
                    }
                    else
                    {
                        <CustomIcons IconName="plus" />
                    }
                </span>
            </div>
            <div class="col-12 py-1 @(!isTakeoffsLandingsVisible ? "d-none":"")">
                <div class="row my-0" style="margin-bottom: 8px !important;margin-top: 8px !important;">
                    <div class="col-2">
                        <label>Day Takeoffs</label>
                        <TelerikNumericTextBox Id="dayTakeoffs" @bind-Value=@logBookVM.DayTakeoffs Placeholder="Hours" />
                    </div>
                    <div class="col-2">
                        <label>Day Landings Full Stop</label>
                        <TelerikNumericTextBox Id="nightTakeoffs" @bind-Value=@logBookVM.DayLandingsFullStop Placeholder="Hours" />
                    </div>
                    <div class="col-2">
                        <label>Night Takeoffs</label>
                        <TelerikNumericTextBox Id="nightTakeoffs" @bind-Value=@logBookVM.NightTakeoffs Placeholder="Hours" />
                    </div>
                    <div class="col-2">
                        <label>Night Landings Full Stop</label>
                        <TelerikNumericTextBox Id="nightLandingsFullStop" @bind-Value=@logBookVM.NightLandingsFullStop Placeholder="Hours" />
                    </div>
                    <div class="col-4">
                        <label>All Landings</label>
                        <TelerikNumericTextBox Id="totalTime" @bind-Value=@logBookVM.AllLandings Placeholder="Hours" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-0" style="margin-top: 8px !important;margin-bottom: 10px !important;">
            <Instrument logBookVM="@logBookVM"
                        ShowBodyPart="isInstrumentVisible"
                        OnToggle="@(() => ToggleVisibility_Instrument())" />
        </div>

        <div class="row m-0">
            <div class="logbook-header d-flex justify-content-between align-items-center" @onclick=@(() => ToggleVisibility_RouteDistance())>
                <span><FontLabel fontColor="#3066F8">Route & Distance</FontLabel></span>
                <span>
                    <FontLabel fontColor="#042455">Configure</FontLabel>
                    @if (isRouteDistanceVisible)
                    {
                        <CustomIcons IconName="minus" />
                    }
                    else
                    {
                        <CustomIcons IconName="plus" />
                    }
                </span>
            </div>
            <div class="row py-1 my-0 @(!isRouteDistanceVisible ? "d-none":"")" style="display:flex;margin-bottom:12px !important;">
                <div class="col-3">
                    <label>Distance</label>
                    <TelerikNumericTextBox Id="distance" @bind-Value="@logBookVM.Distance" Placeholder="Distance"></TelerikNumericTextBox>
                </div>

                <div class="col-9">
                    <label>Route</label>
                    <TelerikTextBox Id="route" @bind-Value="@logBookVM.Route" PlaceHolder="Route"></TelerikTextBox>
                </div>
            </div>
        </div>

        <div class="row m-0">
            <TimeDetails LogBookTimeDetails="@logBookVM.LogBookFlightTimeDetailVM"
                         ShowBodyPart="isStartEndVisible"
                         OnToggle="@(() => ToggleVisibility_StartEnd())" />
        </div>

        <div class="row m-0">
            <div class="logbook-header d-flex justify-content-between align-items-center" @onclick=@(() => ToggleVisibility_NightVisionGoggles())>
                <span><FontLabel fontColor="#3066F8">Night Vision Goggles</FontLabel></span>
                <span>
                    <FontLabel fontColor="#042455">Configure</FontLabel>
                    @if (isNightVisionGogglesVisible)
                    {
                        <CustomIcons IconName="minus" />
                    }
                    else
                    {
                        <CustomIcons IconName="plus" />
                    }
                </span>
            </div>
            <div class="row py-1 my-0 @(!isNightVisionGogglesVisible ? "d-none":"")" style="display:flex;margin-bottom:16px !important">
                <div class="col-3">
                    <label>NVG</label>
                    <TelerikNumericTextBox Id="nvg" @bind-Value="@logBookVM.NVG" Placeholder="NVG"></TelerikNumericTextBox>
                </div>

                <div class="col-9">
                    <label>NVG Operations</label>
                    <TelerikNumericTextBox Id="nvgOperations" @bind-Value="@logBookVM.NVGOperations" Placeholder="NVG Operations"></TelerikNumericTextBox>
                </div>
            </div>
        </div>

        <div class="row m-0">
            <div class="logbook-header d-flex justify-content-between align-items-center" @onclick=@(() => ToggleVisibility_CrewPassagners())>
                <span><FontLabel fontColor="#3066F8">Crew and Passenger</FontLabel></span>

                <span>
                    <TelerikButton Class="btn k-btn-primary" ThemeColor="primary"
                                   Enabled="@(!isBusyAddButton)" OnClick="() => AddNewCrewPassenger()">
                        <CustomIcons IconName="add" PrimaryColor="White"></CustomIcons> Add
                        <TelerikLoader Class="button-loader-indicator" Size="sm" ThemeColor="light" Visible="@isBusyAddButton">
                        </TelerikLoader>
                    </TelerikButton>

                    <FontLabel fontColor="#042455">Configure</FontLabel>
                    @if (isCrewPassagnersVisible)
                    {
                        <CustomIcons IconName="minus" />
                    }
                    else
                    {
                        <CustomIcons IconName="plus" />
                    }
                </span>
            </div>
        </div>

        <div class="row m-0 @(!isCrewPassagnersVisible ? "d-none":"")">
            @if (logBookVM.LogBookCrewPassengersList.Any())
            {
                <div class="col-12">
                    @foreach (var item in logBookVM.LogBookCrewPassengersList)
                    {
                        <CrewPassenger LogBookCrewPassengerVM="@item"
                               CrewPassengersList="@logBookVM.CrewPassengersList">
                        </CrewPassenger>
                    }
                </div>
            }
            else
            {
                <div class="col-12">
                    <span>No record found</span>
                </div>
            }
        </div>

        <div class="row m-0" style="margin-bottom:16px !important;">
            <Photos ShowBodyPart="isFlightPhotosVisible" OnToggle="@(() => ToggleVisibility_FlightPhotos())"></Photos>
        </div>

        <div class="row m-0">
            <div class="logbook-header d-flex justify-content-between align-items-center" @onclick=@(() => ToggleVisibility_Comments())>
                <span><FontLabel fontColor="#3066F8">Comments</FontLabel></span>
                <span>
                    <FontLabel fontColor="#042455">Configure</FontLabel>
                    @if (isCommentsVisible)
                    {
                        <CustomIcons IconName="minus" />
                    }
                    else
                    {
                        <CustomIcons IconName="plus" />
                    }
                </span>
            </div>
            <div class="col-12 py-1 @(!isCommentsVisible ? "d-none":"")" style="margin-top:8px !important;">
                <TelerikTextBox Id="comments" @bind-Value="@logBookVM.Comments" Placeholder="Comments"></TelerikTextBox>
            </div>
        </div>

    </FormItems>

    <FormButtons>
        <div class="row mx-0 my-1">
            <div class="col-md-12 text-right">
                <FormFooterComponent id="@logBookVM.Id" IsSubmitButtonLoading="@isBusySubmitButton">
                </FormFooterComponent>
            </div>
        </div>
    </FormButtons>
</TelerikForm>

