@page "/LogBook"
@inject IJSRuntime JSRunTime

<PageTitle>LogBook | Upflyte </PageTitle>

<div class="row my-0">
    <div class="col-md-12 col-lg-3 col-12 my-0 col-xl-2 @(isLeftBarVisible ? "":"d-none")">
        <div class="card p-0 no-box-shadow">
            <div class="card-body p-0 ">
                <LogBookLeftPanel EditLogBook="@EditLogBook" logBookSummaries="@logBookSummaries" />
            </div>
        </div>

    </div>
    <div class="col-md-12 col-12 my-0 @(isLeftBarVisible ? "col-lg-9 ps-0 col-xl-10":"col-lg-12")">
        <div class="cursor-pointer mb-2" @onclick=@(() => ToggleLeftPane())><FontLabel fontColor="#0D89DD" fontSize="12px"><CustomIcons IconName="toggle-hamburg" PrimaryColor="#0D89DD"></CustomIcons> Toggle Left Pane</FontLabel></div>
        <div class="card">
            <TelerikTabStrip Class="k-tabstrip-list logbook"
                             ActiveTabIndexChanged="@TabChangedHandler" ActiveTabIndex="@cureActiveTabIndex">

                <TabStripTab>
                    <HeaderTemplate>
                        <div class="d-flex justify-content-center align-items-center">
                            <span>Entries</span>
                        </div>
                    </HeaderTemplate>
                    <Content>
                        <Create logBookVM="@logBookVM" AircraftsList="@AircraftsList"
                                RolesList="@RolesList" PassengersList="@PassengersList" UsersList=@UsersList
                                RefreshSummaries=@RefreshSummaries></Create>
                    </Content>
                </TabStripTab>

                <TabStripTab>
                    <HeaderTemplate>
                        <div class="d-flex justify-content-center align-items-center">
                            <span>LogBooks</span>
                        </div>
                    </HeaderTemplate>
                    <Content>
                        <div Class="logbook-2">
                            <LogBookList EditLogBook="@EditLogBook" RefreshSummaries=@RefreshSummaries></LogBookList>
                        </div>
                    </Content>
                </TabStripTab>

                <TabStripTab>
                    <HeaderTemplate>
                        <div class="d-flex justify-content-center align-items-center">
                            <span>Draft & Request</span>
                        </div>
                    </HeaderTemplate>
                    <Content>
                        <span>No Content</span>
                    </Content>
                </TabStripTab>
                <TabStripTab>
                    <HeaderTemplate>
                        <div class="d-flex justify-content-center align-items-center">
                            <span>Reports</span>
                        </div>
                    </HeaderTemplate>
                    <Content>
                        <span>No Content</span>
                    </Content>
                </TabStripTab>
                <TabStripTab>
                    <HeaderTemplate>
                        <div class="d-flex justify-content-center align-items-center">
                            <span>Logbook Aircraft</span>
                        </div>
                    </HeaderTemplate>
                    <Content>
                        <span>No Content</span>
                    </Content>
                </TabStripTab>
                <TabStripTab>
                    <HeaderTemplate>
                        <div class="d-flex justify-content-center align-items-center">
                            <span>Setting</span>
                        </div>
                    </HeaderTemplate>
                    <Content>
                        <span>No Content</span>
                    </Content>
                </TabStripTab>
                <TabStripTab>
                    <HeaderTemplate>
                        <div class="d-flex justify-content-center align-items-center">
                            <span>Import</span>
                        </div>
                    </HeaderTemplate>
                    <Content>
                        <span>No Content</span>
                    </Content>
                </TabStripTab>
                <TabStripTab>
                    <HeaderTemplate>
                        <div class="d-flex justify-content-center align-items-center">
                            <span>Export</span>
                        </div>
                    </HeaderTemplate>
                    <Content>
                        <span>No Content</span>
                    </Content>
                </TabStripTab>
            </TelerikTabStrip>

        </div>
    </div>
</div>