<div class="logbook-header d-flex justify-content-between align-items-center my-1" @onclick=@(() => TriggerToggle())>
    <span><FontLabel fontColor="#0D89DD">Instrument</FontLabel></span>
    <span>
     @*   <FontLabel fontColor="#042455" >Configure</FontLabel>*@
        @if (ShowBodyPart)
        {
            <CustomIcons IconName="minus" />
        }
        else
        {
            <CustomIcons IconName="plus" />
        }
    </span>
</div>
<div class="col-12 py-1 @(!ShowBodyPart ? "d-none":"")">
    <div class="row my-0">
        <div class="col-2" />
        <div class="col-2">
            <label>Actual Instrument</label>
            <TelerikNumericTextBox Class="logbook-control-max-width" Id="actualInstrument" @bind-Value="@logBookVM.LogBookInstrumentVM.ActualInstrument" Placeholder="Hours" />
        </div>

        <div class="col-2">
            <label>Simulated Instrument</label>
            <TelerikNumericTextBox Class="logbook-control-max-width" Id="simulatedInstrument" @bind-Value="@logBookVM.LogBookInstrumentVM.SimulatedInstrument" Placeholder="Hours" />
        </div>

        <div class="col-2">
            <label>Holds</label>
            <TelerikNumericTextBox Class="logbook-control-max-width" Id="holds" @bind-Value="@logBookVM.LogBookInstrumentVM.Holds" Placeholder="Hours" />
        </div>

        <div class="col-2 d-flex align-items-end">
            <TelerikButton Class="btn k-btn-primary" ThemeColor="primary" ButtonType="@ButtonType.Button"
                           Enabled="@(!isBusyAddButton)" OnClick="() => AddNewApproach()">
                <CustomIcons IconName="add" PrimaryColor="White"></CustomIcons> Add
                <TelerikLoader Class="button-loader-indicator" Size="sm" ThemeColor="light" Visible="@isBusyAddButton">
                </TelerikLoader>
            </TelerikButton>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-2" />
        @if (logBookVM.LogBookInstrumentVM is not null && logBookVM.LogBookInstrumentVM.LogBookInstrumentApproachesList.Any())
        {
            @foreach (var item in logBookVM.LogBookInstrumentVM.LogBookInstrumentApproachesList)
            {
                <InstrumentApproach LogBookInstrumentApproachVM="@item" Approaches="@Approaches"></InstrumentApproach>
            }
        }
    </div>
</div>