@namespace Web.UI.Pages.LogBook
@using DataModels.Enums
@using DataModels.VM.LogBook
@using Telerik.Blazor;
@using Web.UI.Shared.Components;
@page "/LogBookList"

<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between">
            <div>
                <ComponentTitle Title="LogBooks" Type="AdministrationTitle" />
            </div>
            <div>

                @if (!globalMembers.IsSuperAdmin)
                {
                    <div class="col-md-4">
                        <TelerikButton Class="btn k-btn-primary" ThemeColor="primary" OnClick="() => EditLogBookInfo(0)">
                            <CustomIcons IconName="add" PrimaryColor="White"></CustomIcons> Add
                        </TelerikButton>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div>
    <CustomCollapseBar Class="my-1" IsFilterBarVisible="isFilterBarVisible"
                       OnPanelCollapsed="@(() => {isFilterBarVisible = false;})"
                       OnPanelExpanded="@(() => {isFilterBarVisible = true;})">
        <HeaderContent>
            <div class="d-flex justify-content-between">
                <span class="my-0">
                    <CustomIcons IconName="search" /> Search
                </span>
                <span>
                    @if (isFilterBarVisible)
                    {
                        <CustomIcons IconName="minus" />
                    }
                    else
                    {
                        <CustomIcons IconName="plus" />
                    }
                </span>
            </div>
        </HeaderContent>
        <ChildContent>
            <div class="row my-2">

                @*  <div class="col-md-4">
                    <TelerikTextBox Name="SearchText" PlaceHolder="Search User" Class="common-bg" ValueChanged="@( (string value) => OnSearchValueChanges<LogBookDataVM>(value, grid) )" />
                    </div>
                *@

                @if (globalMembers.IsSuperAdmin && ParentModuleName != Module.Company.ToString())
                {
                    <div class="col-md-4">

                        <TelerikComboBox Id=companyId Data="@logBookFilterVM.Companies" TextField="Name"
                                     ValueChanged="@( (int value) => OnCompanyValueChanges(value) )"
                                     Filterable="true" FilterOperator="@StringFilterOperator.Contains"
                                     Placeholder="Select Company" ValueField="Id" Class="common-bg">
                        </TelerikComboBox>

                    </div>
                }

                @if ((globalMembers.IsSuperAdmin || globalMembers.IsAdmin) && ParentModuleName != Module.MyProfile.ToString())
                {
                    <div class="col-md-4">

                        <TelerikComboBox Id=userId Data="@logBookFilterVM.UsersList" TextField="Name"
                                     ValueChanged="@( (long value) => OnUserValueChanges(value) )"
                                     Filterable="true" FilterOperator="@StringFilterOperator.Contains"
                                     Placeholder="Select User" ValueField="Id" Class="common-bg">
                        </TelerikComboBox>

                    </div>
                }

                @if (ParentModuleName != Module.Aircraft.ToString())
                {
                    <div class="col-md-4">

                        <TelerikComboBox Id=aircraftId Data="@logBookFilterVM.AircraftsList" TextField="Name"
                                     ValueChanged="@( (long value) => OnAircraftValueChanges(value) )"
                                     Filterable="true" FilterOperator="@StringFilterOperator.Contains"
                                     Placeholder="Select Aircraft" ValueField="Id" Class="common-bg">
                        </TelerikComboBox>

                    </div>
                }

            </div>

        </ChildContent>
    </CustomCollapseBar>
</div>

<TelerikGrid TItem="LogBookDataVM" OnRead="@LoadData" Pageable="true" @ref="@grid"
             Sortable="true" PageSize="@pageSize" PageSizeChanged="@PageSizeChangedHandler">

    <GridSettings>
        <Web.UI.Shared.Components.TelerikGridPager.TelerikGridPagerComponent></Web.UI.Shared.Components.TelerikGridPager.TelerikGridPagerComponent>
    </GridSettings>

    <GridColumns>

        <GridColumn Field="@nameof(LogBookDataVM.TailNo)" Width="15%" />
        <GridCommandColumn Width="15%" Context="dataItem" Title="Date">

            @{
                LogBookDataVM logBookDataVM = dataItem as LogBookDataVM;
                <label>@logBookDataVM.Date.SetCustomFormat(logBookDataVM.Date, globalMembers.DateFormat, false) </label>
            }

        </GridCommandColumn>

        <GridColumn Field="@nameof(LogBookDataVM.CompanyName)" Title="Company" Width="15%" Visible="@(globalMembers.IsSuperAdmin && ParentModuleName != Module.Company.ToString())" />
        <GridColumn Field="@nameof(LogBookDataVM.UserName)" Title="Created by" Width="15%" Visible="@((globalMembers.IsSuperAdmin || globalMembers.IsAdmin) && ParentModuleName != Module.MyProfile.ToString())" />
        <GridColumn Field="@nameof(LogBookDataVM.Airport)" Title="Airport" Width="15%" />
        <GridColumn Field="@nameof(LogBookDataVM.DayTakeoffs)" Title="Day Takeoffs" Width="15%" TextAlign="@ColumnTextAlign.Center" />
        <GridColumn Field="@nameof(LogBookDataVM.NightTakeoffs)" Title="Night Takeoffs" Width="15%" TextAlign="@ColumnTextAlign.Center" />
        <GridColumn Field="@nameof(LogBookDataVM.DayLandingsFullStop)" Title="Day Landings" Width="15%" TextAlign="@ColumnTextAlign.Center" />
        <GridColumn Field="@nameof(LogBookDataVM.NightLandingsFullStop)" Title="Night Landings" Width="15%" TextAlign="@ColumnTextAlign.Center" />
        <GridColumn Field="@nameof(LogBookDataVM.TotalTime)" Title="Total time (hours)" Width="15%" TextAlign="@ColumnTextAlign.Center" />

        <GridCommandColumn Context="dataItem" Title="Action" Width="20%">
            @{
                LogBookDataVM logBookDataVM = dataItem as LogBookDataVM;

                //    @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Edit, moduleName))
                //  {
                <TelerikButton Class="btn k-btn-grid-edit mx-1" OnClick="()=>EditLogBookInfo(logBookDataVM.Id)"
                           ThemeColor="success" Enabled=!logBookDataVM.IsLoadingEditButton>

                    <CustomIcons IconName="grid-edit" PrimaryColor="white"></CustomIcons>
                    <TelerikLoader Class="button-loader-indicator" Size="sm" ThemeColor="light"
                               Visible="logBookDataVM.IsLoadingEditButton">
                    </TelerikLoader>

                </TelerikButton>
                //  }

                @if (!globalMembers.IsSuperAdmin)
                {
                    <TelerikButton Class="btn k-btn-grid-delete mx-1" ThemeColor="error" OnClick="()=>OpenDeleteLogBookDialog(logBookDataVM)">
                        <CustomIcons IconName="grid-delete" PrimaryColor="white"></CustomIcons>
                    </TelerikButton>
                }
            }
        </GridCommandColumn>

    </GridColumns>

</TelerikGrid>

@if (isDisplayPopup)
{
    <CustomPopupComponent Title="@popupTitle"
                      HeaderCssClass=@CustomPopupComponent.GetHeaderCssClass(operationType)
                      CloseOnOutsideClick="false" Width="600px"
                      OnClose="@(()=> {isDisplayPopup = false;})">
        <Body>

            @if (operationType == OperationType.Delete)
            {
                //Delete popup
                <div>
                    <p class="mb-4">Are you sure, You want to delete the logbook</p>
                    <div class="row" style="text-align:right">
                        <div class="col">

                            <TelerikButton Class="btn k-btn-danger" Enabled="@(!isBusyDeleteButton)"
                                   ButtonType="@ButtonType.Button" ThemeColor="error" OnClick="()=>DeleteAsync()">
                                Yes
                                <TelerikLoader Class="button-loader-indicator" Size="sm" ThemeColor="light"
                                       Visible="@isBusyDeleteButton">
                                </TelerikLoader>
                            </TelerikButton>

                            <TelerikButton Class="btn k-btn-secondary" ThemeColor="secondary" OnClick="()=>isDisplayPopup = false">
                                No
                            </TelerikButton>

                        </div>
                    </div>
                </div>
            }

        </Body>
    </CustomPopupComponent>
}