@namespace Web.UI.Pages.LogBook
@using DataModels.Enums
@using DataModels.VM.LogBook
@using Telerik.Blazor;
@using Web.UI.Shared.Components;
@page "/LogBookList"

<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between">
            <div>
                <ComponentTitle Title="LogBooks" Type="AdministrationTitle" />
            </div>
            <div>
               @* @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Create, moduleName) || true)
                {
                    <div class="col-md-4">
                        <TelerikButton Class="btn k-btn-primary" ThemeColor="primary" OnClick="() => CompanyCreateDialog(new CompanyVM())">
                            <CustomIcons IconName="add" PrimaryColor="White"></CustomIcons> Add
                        </TelerikButton>
                    </div>
                }*@

                 <div class="col-md-4">
                        <TelerikButton Class="btn k-btn-primary" ThemeColor="primary" OnClick="() => CreateLogBook(0)">
                            <CustomIcons IconName="add" PrimaryColor="White"></CustomIcons> Add
                        </TelerikButton>
                    </div>
            </div>
        </div>
    </div>
</div>

<TelerikGrid TItem="LogBookDataVM" OnRead="@LoadData" Pageable="true" @ref="@grid"
             Sortable="true" PageSize="@pageSize" PageSizeChanged="@PageSizeChangedHandler">

    <GridSettings>
        <Web.UI.Shared.Components.TelerikGridPager.TelerikGridPagerComponent></Web.UI.Shared.Components.TelerikGridPager.TelerikGridPagerComponent>
    </GridSettings>

    <GridColumns>

        <GridColumn Field="@nameof(LogBookDataVM.TailNo)" Width="15%" />
        <GridColumn Field="@nameof(LogBookDataVM.Date)" Width="15%" />

         <GridCommandColumn Context="dataItem" Title="Action" Width="20%" >
            @{
                LogBookDataVM logBookDataVM = dataItem as LogBookDataVM;

            //    @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Edit, moduleName))
              //  {
                    <TelerikButton Class="btn k-btn-grid-edit mx-1" OnClick="()=>CreateLogBook(logBookDataVM.Id)"
                           ThemeColor="success" Enabled=!logBookDataVM.IsLoadingEditButton>

                        <CustomIcons IconName="grid-edit" PrimaryColor="white"></CustomIcons>
                        <TelerikLoader Class="button-loader-indicator" Size="sm" ThemeColor="light"
                               Visible="logBookDataVM.IsLoadingEditButton">
                        </TelerikLoader>

                    </TelerikButton>
              //  }

            //    @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Delete, moduleName))
           //     {
                    <TelerikButton Class="btn k-btn-grid-delete mx-1" ThemeColor="error" OnClick="()=>OpenDeleteDialog(logBookDataVM)">
                        <CustomIcons IconName="grid-delete" PrimaryColor="white"></CustomIcons>
                    </TelerikButton>
            //    }
            }
        </GridCommandColumn>

    </GridColumns>

</TelerikGrid>