<span>Start & End</span>
<div class="col-12" style="display:flex;">
    <div class="col-3">
        <label>Hobbs Start</label>
        <TelerikNumericTextBox Id="hobbsStart" @bind-Value="@LogBookTimeDetails.HobbsStart" Placeholder="Hobbs Start"></TelerikNumericTextBox>
    </div>

    <div class="col-3">
        <label>Hobbs End</label>
        <TelerikNumericTextBox Id="hobbsEnd" @bind-Value="@LogBookTimeDetails.HobbsEnd" Placeholder="Hobbs End"></TelerikNumericTextBox>
    </div>

    <div class="col-3">
        <label>Tach Start</label>
        <TelerikNumericTextBox Id="tachStart" @bind-Value="@LogBookTimeDetails.TachStart" Placeholder="Tach Start"></TelerikNumericTextBox>
    </div>

    <div class="col-3">
        <label>Tach End</label>
        <TelerikNumericTextBox Id="tachEnd" @bind-Value="@LogBookTimeDetails.TachEnd" Placeholder="Tach End"></TelerikNumericTextBox>
    </div>

</div>

<div class="col-12" style="display:flex;">
    <div class="col-3">
        <label>Time Out</label>
        <TelerikNumericTextBox Id="timeOut" @bind-Value="@LogBookTimeDetails.TimeOut" Placeholder="Time Out"></TelerikNumericTextBox>
    </div>

    <div class="col-3">
        <label>Time Off</label>
        <TelerikNumericTextBox Id="timeOff" @bind-Value="@LogBookTimeDetails.TimeOff" Placeholder="Time Off"></TelerikNumericTextBox>
    </div>

    <div class="col-3">
        <label>Time On</label>
        <TelerikNumericTextBox Id="timeOn" @bind-Value="@LogBookTimeDetails.TimeOn" Placeholder="Time On"></TelerikNumericTextBox>
    </div>

    <div class="col-3">
        <label>On Duty</label>
        <TelerikNumericTextBox Id="onDuty" @bind-Value="@LogBookTimeDetails.OnDuty" Placeholder="On Duty"></TelerikNumericTextBox>
    </div>

</div>