<div class="logbook-header d-flex justify-content-between align-items-center my-1" @onclick=@(() => TriggerToggle())>
    <span><FontLabel fontColor="#0D89DD">Start & End</FontLabel></span>
    <span>
        @*<FontLabel fontColor="#042455">Configure</FontLabel>*@
        @if (ShowBodyPart)
        {
            <CustomIcons IconName="minus" />
        }
        else
        {
            <CustomIcons IconName="plus" />
        }
    </span>
</div>
<div class="col-12 py-1 @(!ShowBodyPart ? "d-none":"")" style="margin-bottom:16px !important;">
    <div class="row" style="margin-top:8px !important;margin-bottom:12px !important;">
        <div class="col-1" />
        <div class="col-2">
            <div><label>Hobbs Start</label></div>
            <TelerikNumericTextBox Class="logbook-control-max-width" Id="hobbsStart" @bind-Value="@LogBookTimeDetails.HobbsStart" Placeholder="Hobbs Start"></TelerikNumericTextBox>
        </div>

        <div class="col-2">
            <div><label>Hobbs End</label></div>
            <TelerikNumericTextBox Class="logbook-control-max-width" Id="hobbsEnd" @bind-Value="@LogBookTimeDetails.HobbsEnd" Placeholder="Hobbs End"></TelerikNumericTextBox>
        </div>

        <div class="col-2">
            <div><label>Tach Start</label></div>
            <TelerikNumericTextBox Class="logbook-control-max-width" Id="tachStart" @bind-Value="@LogBookTimeDetails.TachStart" Placeholder="Tach Start"></TelerikNumericTextBox>
        </div>

        <div class="col-2">
            <div><label>Tach End</label></div>
            <TelerikNumericTextBox Class="logbook-control-max-width" Id="tachEnd" @bind-Value="@LogBookTimeDetails.TachEnd" Placeholder="Tach End"></TelerikNumericTextBox>
        </div>
    </div>

    <div class="row" style="margin-bottom:12px !important;">
        <div class="col-1" />
        <div class="col-2">
            <div><label>Time Out</label></div>
            <TelerikNumericTextBox Class="logbook-control-max-width" Id="timeOut" @bind-Value="@LogBookTimeDetails.TimeOut" Placeholder="Time Out"></TelerikNumericTextBox>
        </div>

        <div class="col-2">
            <div><label>Time Off</label></div>
            <TelerikNumericTextBox Class="logbook-control-max-width" Id="timeOff" @bind-Value="@LogBookTimeDetails.TimeOff" Placeholder="Time Off"></TelerikNumericTextBox>
        </div>

        <div class="col-2">
            <div><label>Time On</label></div>
            <TelerikNumericTextBox Class="logbook-control-max-width" Id="timeOn" @bind-Value="@LogBookTimeDetails.TimeOn" Placeholder="Time On"></TelerikNumericTextBox>
        </div>

        <div class="col-2">
            <div><label>On Duty</label></div>
            <TelerikNumericTextBox Class="logbook-control-max-width" Id="onDuty" @bind-Value="@LogBookTimeDetails.OnDuty" Placeholder="On Duty"></TelerikNumericTextBox>
        </div>
    </div>
</div>
