<div class="logbook-header d-flex justify-content-between align-items-center my-1" @onclick=@(() => TriggerToggle())>
    <span><FontLabel fontColor="#0D89DD">Training Details</FontLabel></span>
    <span>
        @*<FontLabel fontColor="#042455">Configure</FontLabel>*@
        @if (ShowBodyPart)
        {
            <CustomIcons IconName="minus" />
        }
        else
        {
            <CustomIcons IconName="plus" />
        }
    </span>
</div>
<div class="row my-0 @(!ShowBodyPart ? "d-none":"")" style="margin-bottom:16px !important;">

    <div class="row" style="margin-bottom:12px !important;">
        <div class="col-1" />
        <div class="col-2">
            <div><label>Dual Given</label></div>
            <TelerikNumericTextBox Class="logbook-control-max-width" @bind-Value="@LogBookTrainingDetailVM.DualGiven"></TelerikNumericTextBox>
        </div>

        <div class="col-2">
            <div><label>Dual Received</label></div>
            <TelerikNumericTextBox Class="logbook-control-max-width" @bind-Value="@LogBookTrainingDetailVM.DualReceived"></TelerikNumericTextBox>
        </div>

        <div class="col-2">
            <div><label>Simulated Flight</label></div>
            <TelerikNumericTextBox Class="logbook-control-max-width" @bind-Value="@LogBookTrainingDetailVM.SimulatedFlight"></TelerikNumericTextBox>
        </div>

        <div class="col-2">
            <div><label>Ground Training</label></div>
            <TelerikNumericTextBox Class="logbook-control-max-width" @bind-Value="@LogBookTrainingDetailVM.GroundTraining"></TelerikNumericTextBox>
        </div>
    </div>

    <div class="row" style="margin-top:8px !important;margin-bottom:12px !important;">
        <div class="col-1" />
        <div class="col-2">
            <div><label>Check Ride<TelerikCheckBox Id="holds"  @bind-Value="@LogBookTrainingDetailVM.IsCheckRide" /></label></div>
        </div>

         <div class="col-2">
            <div><label>FAA<TelerikCheckBox Id="holds"  @bind-Value="@LogBookTrainingDetailVM.IsFAA" /></label></div>
        </div>

         <div class="col-2">
            <div><label>Flight Review<TelerikCheckBox Id="holds"  @bind-Value="@LogBookTrainingDetailVM.IsFlightReview" /></label></div>
        </div>

         <div class="col-2">
            <div><label>IPC<TelerikCheckBox Id="holds"  @bind-Value="@LogBookTrainingDetailVM.IsIPC" /></label></div>
        </div> 
    </div>
    <div class="row" style="margin-top:8px !important;margin-bottom:12px !important;">
        <div class="col-1" />
         <div class="col-2">
            <div><label>NVG Proficiency<TelerikCheckBox Id="holds"  @bind-Value="@LogBookTrainingDetailVM.IsNVGProficiency" /></label></div>
        </div>
    </div>
</div>
