
<TelerikTabStrip>
    <TabStripTab>
        <HeaderTemplate>
            <div class="d-flex justify-content-center align-items-center">
                <span class="mx-2">
                    <CustomIcons IconName="notification" PrimaryColor="#3066f8"></CustomIcons>
                </span>
                <span>Notifications <CustomIcons IconName="quickTip" PrimaryColor="#3066f8"></CustomIcons></span>
            </div>
        </HeaderTemplate>
        <Content>

            <Web.UI.Pages.Company.DetailsView.Settings.Notifications.Index CompanyIdParam="@CompanyData.Id">
            </Web.UI.Pages.Company.DetailsView.Settings.Notifications.Index>

        </Content>
    </TabStripTab>

     <TabStripTab>
        <HeaderTemplate>
            <div class="d-flex justify-content-center align-items-center">
                <span class="mx-2">
                    <CustomIcons IconName="bill" PrimaryColor="#3066f8"></CustomIcons>
                </span>
                <span>Billing</span>
            </div>
        </HeaderTemplate>
        <Content>

            <Web.UI.Pages.Company.DetailsView.Settings.BillingConfiguration.Index CompanyData="@CompanyData">
            </Web.UI.Pages.Company.DetailsView.Settings.BillingConfiguration.Index>

        </Content>
    </TabStripTab>

                    <TabStripTab>
                    <HeaderTemplate>
                        <div class="d-flex justify-content-center align-items-center">

                            <span class="mx-2">
                                <CustomIcons IconName="location" PrimaryColor="#3066f8"></CustomIcons>
                            </span>
                            <span>Location</span>
                        </div>
                    </HeaderTemplate>
                    <Content>
                        <Web.UI.Pages.Company.DetailsView.Settings.Location.Index CompanyId="@CompanyData.Id">

                        </Web.UI.Pages.Company.DetailsView.Settings.Location.Index>
                    </Content>
                </TabStripTab>

                <TabStripTab>
                    <HeaderTemplate>
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="mx-2">
                                <CustomIcons IconName="make" PrimaryColor="#3066f8"></CustomIcons>
                            </span>
                            <span>Make</span>

                        </div>
                    </HeaderTemplate>
                    <Content>
                        <Web.UI.Pages.Company.DetailsView.Settings.AircraftMake.Index CompanyId="@CompanyData.Id">

                        </Web.UI.Pages.Company.DetailsView.Settings.AircraftMake.Index>
                    </Content>
                </TabStripTab>

                <TabStripTab>
                    <HeaderTemplate>
                        <div class="d-flex justify-content-center align-items-center">

                            <span class="mx-2">
                                <CustomIcons IconName="model" PrimaryColor="#3066f8"></CustomIcons>
                            </span>
                            <span>Model</span>
                        </div>
                    </HeaderTemplate>
                    <Content>
                        <Web.UI.Pages.Company.DetailsView.Settings.AircraftModel.Index CompanyId="@CompanyData.Id">

                        </Web.UI.Pages.Company.DetailsView.Settings.AircraftModel.Index>
                    </Content>
                </TabStripTab>

</TelerikTabStrip>