@namespace FSM.Blazor.Pages.Account
@using DataModels.VM.Account;
@using FSM.Blazor.Data.Account
@layout EmptyLayout

@inject AccountService AccountService
@inject NavigationManager NavigationManager

@page "/forgetpassword"

@if (ForgotPasswordVM != null)
{
    <div class="row vh-100 d-flex justify-content-center align-items-center">
        <div class="col-lg-6 col-xl-4 ">
            <RadzenCard class="m-3">
                <h2 class="mb-4">Forget Password</h2>
                <RadzenTemplateForm TItem="ForgotPasswordVM" Data=@ForgotPasswordVM Submit="@((ForgotPasswordVM args) => {  Submit(); })">

                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Email" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox Placeholder="Please enter email" Name="Email" Class="w-100" @bind-Value=@ForgotPasswordVM.Email />
                            <RadzenRequiredValidator Component="Email" Text="Email is required" Popup="@isPopup" Style="position: relative" />
                            <RadzenEmailValidator Component="Email" Text="Email is invalid" Popup="@isPopup" Style="position: relative" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6 ">
                            <RadzenLink Path="/login" Text="Back to Login" />
                        </div>
                        <div class="col-md-6 align-items-right d-flex flex-row-reverse">
                            <RadzenButton ButtonType="ButtonType.Submit" Text="@submitButtonText" BusyText="Sending Mail ..." IsBusy="@isBusy" />
                        </div>
                    </div>
                </RadzenTemplateForm>
            </RadzenCard>
        </div>
    </div>
}
