@namespace FSM.Blazor.Pages.Account
@using DataModels.VM.Account;
@using FSM.Blazor.Data.Account
@layout EmptyLayout

@inject AccountService AccountService

@page "/Forgetpassword"

<PageTitle>Forgot Password | Fly Manager </PageTitle>

@if (ForgotPasswordVM != null)
{
    <div class="col-lg-6 col-xl-10">
        <div class="m-3">

            <RadzenTemplateForm TItem="ForgotPasswordVM" Data=@ForgotPasswordVM Submit="@((ForgotPasswordVM args) => {  Submit(); })">
                <div class="login-wrap p-4 p-md-5">
                    <div class="d-flex">
                        <div class="w-100">
                            <h3 class="mb-4">Forgot Password ?</h3>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <RadzenLabel Text="Email" />

                        <RadzenTextBox Placeholder="Email" Name="Email" Class="w-100" @bind-Value=@ForgotPasswordVM.Email />
                        <RadzenRequiredValidator Component="Email" Text="Email is required" Popup="@isPopup" Style="position: relative" />
                        <RadzenEmailValidator Component="Email" Text="Email is invalid" Popup="@isPopup" Style="position: relative" />

                    </div>

                    <div class="form-group">
                        <RadzenButton ButtonType="ButtonType.Submit" Style="height:40px;" class="form-control btn btn-primary rounded submit px-3" Text="@submitButtonText" BusyText="Sending Mail ..." IsBusy="@isBusy" />
                    </div>
                    <div class="d-md-flex">

                        <div class="w-50 text-left">
                            <RadzenLink Path="/login" Text="Back to Login" />
                        </div>

                    </div>
                </div>

            </RadzenTemplateForm>
        </div>
    </div>
}
