@using DataModels.VM.Account;
@page "/Login"

@layout EmptyLayout
@namespace FSM.Blazor.Pages.Account

@inject IJSRuntime JSRunTime

<PageTitle>Login | Fly Manager </PageTitle>

<div class="col-lg-6 col-xl-10">
    <div class="m-3">

        @if (isSessionTimeout)
        {
            <div style="color: red;">Session Timeout!</div>
        }

        <RadzenTemplateForm TItem="LoginVM" Data=@loginVM Submit="@((LoginVM args) => {  Submit(); })">
            <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                    <div class="w-100">
                        <h3 class="mb-4">Sign in to Fly Manager </h3>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <RadzenLabel Text="Email" />

                    <RadzenTextBox Placeholder="Email" Name="Email" Class="form-control" @bind-Value=@loginVM.Email />
                    <RadzenRequiredValidator Component="Email" Text="Email is required" Popup="@isPopup" Style="position: relative" />
                    <RadzenEmailValidator Component="Email" Text="Email is invalid" Popup="@isPopup" Style="position: relative" />

                </div>
                <div class="form-group mb-3">
                    <RadzenLabel Text="Password" />

                    <RadzenPassword Placeholder="Password" Name="Password" Class="form-control" @bind-Value=@loginVM.Password />
                    <RadzenRequiredValidator Component="Password" Text="Password is required" Popup="@isPopup" Style="position: relative" />

                </div>
                <div class="form-group">
                    <RadzenButton ButtonType="ButtonType.Submit" Style="height:40px;" class="form-control btn btn-primary rounded submit px-3" Text="Login" BusyText="Login ..." IsBusy="@isBusy" />

                </div>
                <div class="d-md-flex">
                    <div class="w-50 text-left">
                        <RadzenLink Path="/Registration" Text="Register" Style="color:#1151F3" />

                    </div>

                    <div class="w-50 text-md-right">
                        <RadzenLink Path="/forgetpassword" Text="Forget Password ?" Style="color:#1151F3" />

                    </div>
                </div>
            </div>

        </RadzenTemplateForm>
      
    </div>
</div>
