@namespace FSM.Blazor.Pages.Account

@using DataModels.VM.Account
@using FSM.Blazor.Data.Account
@layout EmptyLayout

@inject AccountService AccountService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@page "/ResetPassword"

<PageTitle>Reset Password | Fly Manager </PageTitle>

<div class="col-lg-6 col-xl-10">
    <div class="m-3">

        <RadzenTemplateForm TItem="ResetPasswordVM" Data=@resetPasswordVM Submit="@((ResetPasswordVM args) => {  Submit(args); })">
            <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                    <div class="w-100">
                        <h3 class="mb-4">Reset Password </h3>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <RadzenLabel Text="New Password" />
                    <RadzenPassword Placeholder="New Password" Class="form-control" Name="Password" @bind-Value=@resetPasswordVM.Password />
                    <RadzenRequiredValidator Component="Password" Text="New password is required" Popup="@isPopup" Style="position: relative" />
                </div>
                <div class="form-group mb-3">
                    <RadzenLabel Text="Confirm Password" />
                    <RadzenPassword Placeholder="Confirm Password" Class="form-control" Name="ConfirmPassword" @bind-Value=@resetPasswordVM.ConfirmPassword />
                    <RadzenCompareValidator Component="ConfirmPassword" Value=@resetPasswordVM.Password Text="Confirm password should be the same" Popup="@isPopup" Style="position: relative" />
                </div>

                <div class="form-group">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="@submitButtonText"  class="form-control btn btn-primary rounded submit px-3" IsBusy="@isBusy" Disabled=@isDisableResetButton />
                </div>
                <div class="d-md-flex">
                    <div class="w-50 text-left">
                        <RadzenLink Path="/login" Text="Back to Login" />

                    </div>
                </div>
            </div>

        </RadzenTemplateForm>
      
    </div>
</div>


