@namespace FSM.Blazor.Pages.Account

@using DataModels.VM.Account
@using FSM.Blazor.Data.Account
@layout EmptyLayout

@inject AccountService AccountService
@inject NavigationManager NavigationManager

@page "/ResetPassword"

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<PageTitle>Reset Password | Fly Manager </PageTitle>

<div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-xl-4 ">
        <RadzenCard class="m-3">

            <RadzenBadge BadgeStyle="@alertBadgeStyle"  Text="@alertMessageText" Visible="@isDisplayAlert" />

            <h2 class="mb-4">Reset Password</h2>
            <RadzenTemplateForm TItem="ResetPasswordVM" Data=@resetPasswordVM Submit="@((ResetPasswordVM args) => {  Submit(args); })">

                <div class="row mt-2 mb-3">
                    <div class="col-md-4 align-items-top d-flex">
                        <RadzenLabel Text="New Password" />
                    </div>
                    <div class="col-md-8">
                        <RadzenPassword Placeholder="Please enter new password" Name="Password" Class="w-100" @bind-Value=@resetPasswordVM.Password />
                        <RadzenRequiredValidator Component="Password" Text="New password is required" Popup="@isPopup" Style="position: relative" />
                    </div>
                </div>
                <div class="row mt-2 mb-3">
                    <div class="col-md-4 align-items-top d-flex">
                        <RadzenLabel Text="Confirm Password" />
                    </div>
                    <div class="col-md-8">
                        <RadzenPassword Placeholder="Please enter confirm password" Name="ConfirmPassword" Class="w-100" @bind-Value=@resetPasswordVM.ConfirmPassword />
                        <RadzenCompareValidator Component="ConfirmPassword" Value=@resetPasswordVM.Password Text="Confirm password should be the same" Popup="@isPopup" Style="position: relative" />
                    </div>
                </div>

                 <div class="row mt-2 mb-2">
                        <div class="col-md-6 col-12 d-flex align-items-center ">
                             <RadzenLink Path="/login" Text="Back to Login" />
                        </div>
                        <div class="col-md-6 col-12 d-flex justify-content-end align-content-center  ">
                             <RadzenButton ButtonType="ButtonType.Submit" Text="@submitButtonText"  IsBusy="@isBusy" Disabled=@isDisableResetButton />
                        </div>
                    </div>
                <div class="row">

                  
                   

                </div>
            </RadzenTemplateForm>
        </RadzenCard>
    </div>
</div>



