@using BlazorMaterialIcons
@using DataModels.VM.AircraftEquipment
@using DataModels.VM.Common
@using FSM.Blazor.Data.AircraftSchedule
@using FSM.Blazor.Data.Aircraft
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Schedule
@using System.Collections.ObjectModel
@using System.ComponentModel
@using DE = DataModels.Entities
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Buttons;
@using DataModels.VM.Scheduler;
@using Syncfusion.Blazor.Popups;
@using DataModels.Entities;
@using DataModels.VM;

@inject AircraftSchedulerService AircraftSchedulerService
@inject AircraftService AircraftService
@layout MainLayout
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject AircraftSchedulerDetailService AircraftSchedulerDetailService


      @if (uiOptions.isDisplayMainForm)
            {

                @*<EditForm Model="schedulerVM" OnValidSubmit="@OnValidSubmit">*@

                <RadzenTemplateForm Data="@schedulerVM" Submit="@((SchedulerVM args) => {  OnValidSubmit(); })">

                    @if (uiOptions.isDisplayForm)
                {
                    <table class="custom-event-editor" width="100%" cellpadding="5">
                        <tbody>

                            <tr>
                                <td class="e-textlabel d-flex align-items-start">Display Title</td>
                                <td colspan="4">

                                    <RadzenTextBox Placeholder="Enter Title" Name="Title" @bind-Value="schedulerVM.DisplayTitle" Class="w-100">
                                    </RadzenTextBox>

                                    <RadzenRequiredValidator Component="Title" Text="Title is required" Style="position: relative" />
                                </td>
                            </tr>

                            <tr>
                                <td class="e-textlabel d-flex align-items-start">Activity Type</td>
                                <td colspan="4">

                                    <RadzenDropDown AllowClear="true" TValue="int?" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                AllowFiltering="true" Class="w-100" Change="@(args => OnActivityTypeValueChanged(args))"
                                                Placeholder="Select Activity" Data=@schedulerVM.ScheduleActivitiesList TextProperty="Name"
                                                ValueProperty="Id" Name="ScheduleActivityId" @bind-Value="@(schedulerVM.ScheduleActivityId)" />

                                    <RadzenRequiredValidator DefaultValue="0" Component="ScheduleActivityId"
                                                         Text="Schedule activity is required" Style="position: relative">

                                    </RadzenRequiredValidator>

                                </td>
                            </tr>

                            <tr>
                                <td class="e-textlabel d-flex align-items-start">Start Time</td>
                                <td colspan="4">

                                    <RadzenDatePicker style="width: 150px;" TValue="DateTime" ShowTime="true" Name="StartTime"
                                                  HoursStep="1" MinutesStep="30" @bind-Value="@schedulerVM.StartTime"
                                                  HourFormat="12" DateFormat="MM/dd/yyyy %h:mm tt" Class="w-100" />

                                    <RadzenRequiredValidator Component="StartTime"
                                                         Text="Please select start time" Style="position: relative"></RadzenRequiredValidator>
                                </td>
                            </tr>

                            <tr>
                                <td class="e-textlabel d-flex align-items-start">End Time</td>
                                <td colspan="4">
                                    <RadzenDatePicker style="width: 150px;" TValue="DateTime" ShowTime="true" Name="EndTime"
                                                  HoursStep="1" MinutesStep="30" @bind-Value="@schedulerVM.EndTime"
                                                  HourFormat="12" DateFormat="MM/dd/yyyy %h:mm tt" Class="w-100" />

                                    <RadzenRequiredValidator Component="EndTime"
                                                         Text="Please select end time" Style="position: relative"></RadzenRequiredValidator>

                                    <RadzenCompareValidator Value=@schedulerVM.StartTime Component="EndTime"
                                                        Style="position: relative" Text="End time is not valid" Operator=CompareOperator.GreaterThan />
                                </td>
                            </tr>

                            @if (uiOptions.isDisplayAircraftDropDown)
                            {
                                <tr>
                                    <td class="e-textlabel d-flex align-items-start">Aircraft</td>
                                    <td colspan="4">

                                        <RadzenDropDown AllowClear="true" TValue="long?"
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                AllowFiltering="true" Class="w-100"
                                                Placeholder="Select Aircraft" Data=@schedulerVM.AircraftsList TextProperty="Name"
                                                ValueProperty="Id" Name="AircraftId" @bind-Value="@(schedulerVM.AircraftId)" />


                                        <RadzenRequiredValidator Component="AircraftId" DefaultValue="0"
                                                         Text="Please select aircraft" Style="position: relative"></RadzenRequiredValidator>

                                    </td>
                                </tr>
                            }

                            @if (schedulerVM.ScheduleActivityId > 0)
                            {
                                @if (uiOptions.isDisplayRecurring)
                                {
                                    <tr>
                                        <td class="e-textlabel d-flex align-items-start">Recurring ?</td>
                                        <td colspan="4">

                                            <RadzenCheckBox @bind-Value=@schedulerVM.IsRecurring Name="IsRecurring" TValue="bool" />

                                        </td>
                                    </tr>
                                }

                                @if (uiOptions.isDisplayMember1Dropdown)
                                {
                                    <tr>
                                        <td class="e-textlabel d-flex align-items-start">Member 1</td>
                                        <td colspan="4">

                                            <RadzenDropDown AllowClear="true" TValue="long?"
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                AllowFiltering="true" Class="w-100"
                                                Placeholder="Select Member 1" Data=@schedulerVM.Member1List TextProperty="Name"
                                                ValueProperty="Id" Name="Member1Id" @bind-Value="@(schedulerVM.Member1Id)" />

                                        </td>
                                    </tr>
                                }

                                @if (uiOptions.isDisplayMember2Dropdown)
                                {
                                    <tr>
                                        <td class="e-textlabel d-flex align-items-start">Member 2</td>
                                        <td colspan="4">

                                            <RadzenDropDown AllowClear="true" TValue="long?"
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                AllowFiltering="true" Class="w-100"
                                                Placeholder="Select Member 2" Data=@schedulerVM.Member2List TextProperty="Name"
                                                ValueProperty="Id" Name="Member2Id" @bind-Value="@(schedulerVM.Member2Id)" />

                                            <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(schedulerVM.Member1Id.ToString())) Value=@schedulerVM.Member1Id
                                                        Component="Member2Id" Operator="CompareOperator.NotEqual" Text="Member 2 is not valid" Style="position: relative" />
                                        </td>
                                    </tr>

                                }

                                @if (uiOptions.isDisplayFlightInfo)
                                {
                                    string local = "Local";
                                    string crossCountry = "Cross Country";
                                    string vfr = "VFR";
                                    string ifr = "IFR";

                                    <tr>
                                        <td class="e-textlabel d-flex align-items-start">Flight Type</td>
                                        <td colspan="4">
                                            <RadzenRadioButtonList @bind-Value=@schedulerVM.FlightType TValue="string">
                                                <Items>
                                                    <RadzenRadioButtonListItem Text="Local" Value="@local" />
                                                    <RadzenRadioButtonListItem Text="Cross Country" Value="@crossCountry" />
                                                </Items>
                                            </RadzenRadioButtonList>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="e-textlabel d-flex align-items-start">Flight Rules</td>
                                        <td colspan="4">

                                            <RadzenRadioButtonList @bind-Value=@schedulerVM.FlightRules TValue="string">
                                                <Items>
                                                    <RadzenRadioButtonListItem Text="VFR" Value="@vfr" />
                                                    <RadzenRadioButtonListItem Text="IFR" Value="@ifr" />
                                                </Items>
                                            </RadzenRadioButtonList>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="e-textlabel d-flex align-items-start">Est Hours</td>
                                        <td colspan="4">

                                            <RadzenNumeric Placeholder="Enter Hours" @bind-Value="schedulerVM.EstHours">
                                            </RadzenNumeric>

                                        </td>
                                    </tr>

                                }
                                @if (uiOptions.isDisplayInstructor)
                                {
                                    <tr>
                                        <td class="e-textlabel d-flex align-items-start">Instructor</td>
                                        <td colspan="4">

                                            <RadzenDropDown AllowClear="true" TValue="long?"
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                AllowFiltering="true" Class="w-100"
                                                Placeholder="Select Instructor" Data=@schedulerVM.InstructorsList TextProperty="Name"
                                                ValueProperty="Id" Name="Member2Id" @bind-Value="@(schedulerVM.InstructorId)" />

                                        </td>
                                    </tr>
                                }

                                @if (uiOptions.isDisplayFlightRoutes)
                                {
                                    <tr>
                                        <td class="e-textlabel d-flex align-items-start">Flight Routes</td>
                                        <td colspan="4">
                                            <RadzenTextArea Class="w-100" Placeholder="Enter fligt routes" @bind-Value="@schedulerVM.FlightRoutes"></RadzenTextArea>
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td class="e-textlabel d-flex align-items-start">Comments</td>
                                    <td colspan="4">
                                        <RadzenTextArea Class="w-100" Placeholder="Enter comments" @bind-Value="@schedulerVM.Comments"></RadzenTextArea>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="e-textlabel d-flex align-items-start">Internal Comments</td>
                                    <td colspan="4">

                                        <RadzenTextArea Class="w-100" Placeholder="Enter internal comments" @bind-Value="@schedulerVM.InternalComments"></RadzenTextArea>
                                    </td>
                                </tr>

                            }
                            @if (uiOptions.isDisplayStandBy)
                            {
                                <tr>
                                    <td class="e-textlabel d-flex align-items-start">StandBy</td>
                                    <td colspan="4">

                                        <RadzenCheckBox @bind-Value="@schedulerVM.IsStandBy" Name="IsRecurring" TValue="bool" />
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    <div class="row" style="margin-top:4%">
                        <div class="col-md-12 text-right">
                            <div class="d-flex btn-grp justify-content-evenly">
                                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Continue" Style="width: 130px" />
                                <RadzenButton Click="@((args) => CloseDialog())" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="width: 120px" Class="mr-1" />
                            </div>
                        </div>
                    </div>
                }

                else
                {
                    <div class="row justify-content-center align-items-center alert alert-warning">
                        <div class="col-3 d-flex flex-column">
                            <h5 class="d-flex justify-content-center">Start</h5>
                            <div class="d-flex justify-content-center">@schedulerVM.StartTime.ToString("ddd, MMM dd")</div>
                            <div class="d-flex justify-content-center">@schedulerVM.StartTime.ToString("%h:mm tt")</div>
                        </div>
                        <div class="col-3 d-flex flex-column">
                            <span class="d-flex justify-content-center">
                                <h6>
                                    <MaterialIcon Theme="@MaterialIcon.Themes.TwoTone" Size="48">arrow_right_alt</MaterialIcon>
                                </h6>
                            </span>
                        </div>
                        <div class="col-3 d-flex flex-column">
                            <h5 class="d-flex justify-content-center">End</h5>
                            <div class="d-flex justify-content-center">@schedulerVM.EndTime.ToString("ddd, MMM dd")</div>
                            <div class="d-flex justify-content-center">@schedulerVM.EndTime.ToString("%h:mm tt")</div>
                        </div>
                        <div class="col-3 d-flex flex-column">
                            <h5 class="d-flex justify-content-center">Status</h5>
                            <div class="d-flex justify-content-center">
                               
                                 <RadzenBadge BadgeStyle="@GetSchedulerStatusClass()" Text="@GetSchedulerStatusText()" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center ">
                        <div class="col-12 d-flex flex-column">
                            <h4 class="d-flex justify-content-center popup-title">Reservation Id</h4>
                            <span class="d-flex justify-content-center">
                                @if (schedulerVM.ReservationId != Guid.Empty)
                                {
                                    @schedulerVM.ReservationId
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </span>
                        </div>
                    </div>
                    <hr />
                    <div class="row justify-content-center mt-1">
                        <div class="col-4 d-flex flex-column">
                            <h4 class="d-flex justify-content-center popup-title">Activity</h4>
                            <span class="d-flex justify-content-center">@(@schedulerVM.ScheduleActivitiesList.FirstOrDefault(p => p.Id == @schedulerVM.ScheduleActivityId)?.Name )</span>
                        </div>
                        <div class="col-4 d-flex flex-column">
                            <h4 class="d-flex justify-content-center popup-title">Aircraft</h4>
                            <span class="d-flex justify-content-center">@(@schedulerVM.AircraftsList.FirstOrDefault(p => p.Id == @schedulerVM.AircraftId)?.Name ?? "-")</span>
                        </div>
                        <div class="col-4 d-flex flex-column">
                            <h4 class="d-flex justify-content-center popup-title">Title</h4>
                            <span class="d-flex justify-content-center"> @(schedulerVM.DisplayTitle)</span>
                        </div>
                    </div>
                    <hr />
                    <div class="row justify-content-center d-flex align-items-start">
                        <div class="col-4 d-flex flex-column">
                            <h4 class="d-flex justify-content-center popup-title">Member 1</h4>
                            <span class="d-flex justify-content-center">
                                @if (@schedulerVM.Member1Id != null)
                                {
                                    var member1 = @schedulerVM.Member1List.FirstOrDefault(p => p.Id == @schedulerVM.Member1Id);
                                    <span>@(member1 != null && !@String.IsNullOrEmpty(member1.Name) ? member1.Name : "-" )</span>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </span>
                        </div>
                        <div class="col-4 d-flex flex-column">
                            <h4 class="d-flex justify-content-center popup-title">Member 2</h4>
                            <span class="d-flex justify-content-center">
                                @if (@schedulerVM.Member2Id != null)
                                {
                                    var member2 = @schedulerVM.Member2List.FirstOrDefault(p => p.Id == @schedulerVM.Member2Id);
                                    <span>@(member2 != null && !@String.IsNullOrEmpty(member2.Name) ? member2.Name : "-" )</span>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </span>
                        </div>
                        <div class="col-4 d-flex flex-column">
                            <h4 class="d-flex justify-content-center popup-title">Instructor</h4>
                            <span class="d-flex justify-content-center">
                                @if (@schedulerVM.InstructorId != null && @schedulerVM.InstructorsList.Where(p => p.Id == @schedulerVM.InstructorId).FirstOrDefault() != null)
                                {
                                    @schedulerVM.InstructorsList.Where(p=>p.Id == @schedulerVM.InstructorId).First().Name
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </span>
                        </div>
                    </div>
                    <div class="row justify-content-center d-flex align-items-start mt-1 mb-1 bg-light text-dark alert">
                        <strong>Comments </strong>
                    </div>
                    <div class="row justify-content-baseline d-flex align-items-start m-1">
                        <div class="col-12 d-flex flex-column">
                            @(schedulerVM.Comments ?? "-")
                        </div>

                    </div>
                    <div class="row justify-content-center d-flex align-items-start mt-1 mb-1 bg-light text-dark alert">
                        <strong>Internal Comments </strong>
                    </div>
                    <div class="row justify-content-baseline d-flex align-items-start m-1">
                        <div class="col-12 d-flex flex-column">
                            @(schedulerVM.InternalComments ?? "-")
                        </div>
                    </div>

                    <div class="d-flex btn-grp justify-content-evenly">
                        @if (uiOptions.isDisplayCheckOutOption)
                        {
                            @if (uiOptions.isDisplayCheckInButton)
                            {
                                <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@((args) => CheckInAircraft())" BusyText="Checking In ..."
                                  IsBusy="@uiOptions.isBusyCheckOutButton" Text="Check In" Style="width: 164px" />
                            }
                            else
                            {
                                <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@((args) => CheckOutAircraft())" BusyText="Checking Out ..."
                                  IsBusy="@uiOptions.isBusyCheckOutButton" Text="Check Out" Style="width: 164px" />
                            }

                            if (schedulerVM.AircraftSchedulerDetailsVM.IsCheckOut)
                            {
                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="@((args) => ShowEditEndTimeForm())" Text="Edit End Time" Style="width: 164px" />
                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="@((args) => UnCheckOut())" Text="Un-Check Out" Style="width: 164px" />
                            }
                            else
                            {
                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="@((args) => OpenForm())" Text="Edit" Style="width: 164px" />
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Click="@((args) => OpenDeleteDialog())" Text="Delete" Style="width: 164px" />
                            }
                        }
                        else if (schedulerVM.AircraftSchedulerDetailsVM.CheckInTime != null)
                        {
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="@((args) => ShowEditEndTimeForm())" Text="Edit End Time" Style="width: 164px" />
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="@((args) => EditFlightTime())" Text="Edit Flight Time" Style="width: 164px" />
                        }
                        else
                        {
                            <RadzenButton ButtonType="Radzen.ButtonType.Submit" BusyText="Saving ..." IsBusy="@isBusy" Text="Save" Style="width: 130px" />
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="@((args) => InitializeValues())" Text="Back" Style="width: 130px" />
                            <RadzenButton Click="@((args) => CloseDialog())" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="width: 120px" Class="mr-1" />
                        }
                    </div>
                }

                @if (schedulerVM.AircraftSchedulerDetailsVM.IsCheckOut || schedulerVM.AircraftSchedulerDetailsVM.CheckInTime != null)
                {
                    <div class="mt-1 mb-1">
                        <table style="width:100%;" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Meter</th>
                                    <th>Time Out</th>
                                    <th>Time In</th>
                                    <th>Total</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (AircraftEquipmentTimeVM aircraftEquipmentTime in schedulerVM.AircraftEquipmentsTimeList)
                                {
                                    AircraftScheduleHobbsTime aircraftScheduleHobbsTime = schedulerVM.AircraftEquipmentHobbsTimeList.Where(p => p.AircraftEquipmentTimeId == aircraftEquipmentTime.Id).FirstOrDefault();
                                    <tr>
                                        <td>@aircraftEquipmentTime.EquipmentName</td>

                                        @if (aircraftScheduleHobbsTime != null)
                                        {
                                            <td>@aircraftScheduleHobbsTime.OutTime</td>
                                            <td>@aircraftScheduleHobbsTime.InTime</td>
                                            <td>@aircraftScheduleHobbsTime.TotalTime</td>
                                        }
                                        else
                                        {
                                            <td>@aircraftEquipmentTime.Hours</td>
                                            <td>-</td>
                                            <td>-</td>
                                        }

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                @* </EditForm>*@

            </RadzenTemplateForm>
                @if (schedulerVM.AircraftSchedulerDetailsVM != null
               && (!string.IsNullOrWhiteSpace(schedulerVM.AircraftSchedulerDetailsVM.CheckOutByUserName) || !string.IsNullOrWhiteSpace(schedulerVM.AircraftSchedulerDetailsVM.CheckInByUserName)))
                {
                    <div class="alert alert-warning">
                        <div class="row justify-content-center align-items-center ">
                            @if (!string.IsNullOrWhiteSpace(schedulerVM.AircraftSchedulerDetailsVM.CheckOutByUserName))
                            {
                                <div class="col-6 d-flex flex-column">
                                    <strong class="d-flex justify-content-center">Checked Out</strong>
                                    <span class="d-flex justify-content-center">@(schedulerVM.AircraftSchedulerDetailsVM.CheckOutByUserName) @(schedulerVM.AircraftSchedulerDetailsVM.CheckOutTime.Value.ToString("ddd, MMM dd %h:mm tt"))</span>
                                </div>
                            }

                            @if (!string.IsNullOrWhiteSpace(schedulerVM.AircraftSchedulerDetailsVM.CheckInByUserName))
                            {
                                <div class="col-6 d-flex flex-column">
                                    <strong class="d-flex justify-content-center">Checked In</strong>
                                    <span class="d-flex justify-content-center">@(schedulerVM.AircraftSchedulerDetailsVM.CheckInByUserName) @(@schedulerVM.AircraftSchedulerDetailsVM.CheckInTime.Value.ToString("ddd, MMM dd %h:mm tt"))</span>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            else if (uiOptions.isDisplayEditEndTimeForm)
            {
                @*  <EditForm Model="schedulerVM" OnValidSubmit="@UpdateEndTime">*@
                <RadzenTemplateForm Data="@schedulerVM" Submit="@((SchedulerVM args) => {  UpdateEndTime(); })">
                    <div class="row mt-1 mb-2">
                        <div class="col-md-4 align-items-top d-flex">
                            <RadzenLabel Text="Start Time" />
                        </div>
                        <div class="col-md-8">
                            <span class="ml-1 mr-1">
                                @schedulerVM.StartTime.ToString("dd/MM/yyyy %h:mm tt")

                            </span>
                                <RadzenDatePicker Visible="false" TValue="DateTime" ShowTime="true" Name="StartTime"
                                              HoursStep="1" MinutesStep="30" @bind-Value="@schedulerVM.StartTime"
                                              HourFormat="12" DateFormat="MM/dd/yyyy %h:mm tt" />
                        </div>
                    </div>

                    <div class="row mt-1 mb-2">
                        <div class="col-md-4 align-items-top d-flex">
                            <RadzenLabel Text="End Time" />
                        </div>
                        <div class="col-md-8">
                            <span>
                                <RadzenDatePicker TValue="DateTime" ShowTime="true" Name="EndTime"
                                              HoursStep="1" MinutesStep="30" @bind-Value="@schedulerVM.EndTime"
                                              HourFormat="12" DateFormat="MM/dd/yyyy h:mm tt" Class="w-100" />

                                <RadzenRequiredValidator Component="EndTime"
                                                     Text="Please select end time" Style="position: relative"></RadzenRequiredValidator>

                                <RadzenCompareValidator Value=@schedulerVM.StartTime Component="EndTime"
                                                    Style="position: relative" Text="End time is not valid" Operator=CompareOperator.GreaterThan />
                            </span>

                        </div>
                    </div>
                    <div class="d-flex btn-grp  justify-content-evenly ">
                        <RadzenButton ButtonType="Radzen.ButtonType.Submit" BusyText="Updating ..." IsBusy="@isBusy" Text="Update" Style="width: 160px" />
                        <RadzenButton Click="@((args) => HideEditEndTimeForm())" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="width: 120px" Class="mr-1" />
                    </div>
                </RadzenTemplateForm>
            }
            else
            {
                <RadzenTemplateForm Data="@schedulerVM" Submit="@((SchedulerVM args) => {  CheckIn(); })">

                    <table style="width:100%;" class="custom-event-editor table table-striped table-hover"  cellpadding="5">

                        <thead>

                            <tr>
                                <th>Meter</th>
                                <th>Time Out</th>
                                <th>Time In</th>
                                <th>Total</th>
                            </tr>

                        </thead>

                        <tbody>

                            @for (int index = 0; index < schedulerVM.AircraftEquipmentsTimeList.Count(); index++)
                            {
                                int indexValue = index;

                                AircraftScheduleHobbsTime aircraftScheduleHobbsTime = schedulerVM.AircraftEquipmentHobbsTimeList.Where(p => p.AircraftEquipmentTimeId == schedulerVM.AircraftEquipmentsTimeList[index].Id).FirstOrDefault();
                                <tr>
                                    <td class="e-textlabel d-flex align-items-start">@schedulerVM.AircraftEquipmentsTimeList[index].EquipmentName</td>
                                    <td>

                                        @schedulerVM.AircraftEquipmentsTimeList[index].Hours

                                        <RadzenNumeric Visible="false" @bind-Value=@schedulerVM.AircraftEquipmentsTimeList[indexValue].Hours Class="w-100" />

                                    </td>

                                    <td class="d-flex align-items-center">
                                        @if (aircraftScheduleHobbsTime == null)
                                        {
                                            <RadzenNumeric style="width: 123px;" @bind-Value=@schedulerVM.AircraftEquipmentsTimeList[indexValue].InTime
                                                   Name="@schedulerVM.AircraftEquipmentsTimeList[index].EquipmentName" TValue="decimal"
                                                   Placeholder="Please enter hours" @oninput="@(args => TextBoxChangeEvent(args, indexValue))" />
                                        }
                                        else
                                        {
                                            <RadzenNumeric style="width: 123px;" @bind-Value="@aircraftScheduleHobbsTime.InTime"
                                                   Name="@schedulerVM.AircraftEquipmentsTimeList[index].EquipmentName" TValue="decimal"
                                                   Placeholder="Please enter hours" @oninput=@(args => EditFlightTimeTextBoxChangeEvent(args, indexValue)) />
                                        }

                                        <RadzenCompareValidator Value="@schedulerVM.AircraftEquipmentsTimeList[indexValue].Hours"
                                                                Component="@schedulerVM.AircraftEquipmentsTimeList[index].EquipmentName"
                                                                Operator=CompareOperator.GreaterThan
                                                                Style="position: relative;word-break: break-word;max-width:140px;margin-left:5px;" 
                                                                Text="Time in value must be greater than time out"  />
                                    </td>

                                    <td>
                                        @schedulerVM.AircraftEquipmentsTimeList[index].TotalHours
                                    </td>

                                </tr>
                            }
                    </tbody>
                </table>
                <div class="d-flex btn-grp  justify-content-evenly ">
                    <RadzenButton Text="Check In" ButtonType="Radzen.ButtonType.Submit" ButtonStyle="ButtonStyle.Primary"
                                  BusyText="Checking In..." Class="mr-1" Style="width: 163px;" />

                    <RadzenButton Text="Cancel" Click="() => OpenMainForm()" ButtonStyle="ButtonStyle.Secondary" Class="mr-1" Style="width: 120px;" />
                </div>


            </RadzenTemplateForm>
            }

<SfDialog ID="DeleteDialog" Width="360px" MinHeight="150px" Target="Body" ShowCloseIcon="true" @bind-Visible="@uiOptions.isVisibleDeleteDialog">

    <DialogTemplates>

        <Header> Delete Appointment </Header>

        <Content>

            <div>
                <p class="mb-4">Are you sure, You want to delete appointment?</p>
                <div class="row m-2">
                    <div class="col">
                        <div class="d-flex btn-grp  justify-content-evenly ">
                            <RadzenButton Text="Yes" ButtonStyle="ButtonStyle.Primary" Click="() => DeleteAsync() " BusyText="Deleting ..." IsBusy=@uiOptions.isBusyDeleteButton Class="mr-1" Style="width: 80px;" />
                            <RadzenButton Text="No" Click="() => CloseChildDialog()" ButtonStyle="ButtonStyle.Secondary" Class="mr-1" Style="width: 80px;" />
                        </div>
                    </div>
                </div>
            </div>

        </Content>
    </DialogTemplates>
    <DialogPositionData X="center" Y="center"></DialogPositionData>
</SfDialog>

@{

async Task OpenDeleteDialog()
{
    CloseDialog();
    uiOptions.dialogVisibility = false;
    var result = await DialogService.OpenAsync("Delete", ds =>
    @<div>
        <p class="mb-4">Are you sure, You want to delete appointment ?</p>
        <div class="row m-2">
            <div class="col">
                <div class="d-flex btn-grp  justify-content-evenly ">
                    <RadzenButton Text="Yes" ButtonStyle="ButtonStyle.Danger" Click="() => DeleteAsync() " BusyText="Deleting ..." IsBusy=@uiOptions.isBusyDeleteButton Class="mr-1" Style="width: 80px;" />
                    <RadzenButton Text="No" Click="() => CloseChildDialog()" ButtonStyle="ButtonStyle.Secondary" Class="mr-1" Style="width: 80px;" />
                </div>
            </div>
        </div>
    </div>
        , new DialogOptions { Width = "360px" });

    }

    async Task UnCheckOut()
    {
        CloseDialog();
        var result = await DialogService.OpenAsync("Un-Check out appointment", ds =>
    @<div>
        <p class="mb-4">Are you sure, You want to un-check out appointment ?</p>
        <div class="row m-2">
            <div class="col">
                <div class="d-flex btn-grp  justify-content-evenly ">
                    <RadzenButton Text="Un-Checkout" ButtonStyle="ButtonStyle.Primary" Click="() => UnCheckOutAppointment() " BusyText="un-checking out ..." IsBusy=@uiOptions.isBusyUnCheckOutButton Class="mr-1" Style="width: 160px;" />
                    <RadzenButton Text="Cancel" Click="() => CloseChildDialog()" ButtonStyle="ButtonStyle.Secondary" Class="mr-1" Style="width: 80px;" />
                </div>
            </div>
        </div>
    </div>
    , new DialogOptions { Width = "360px" });

    }
}