@using BlazorMaterialIcons
@using DataModels.VM.AircraftEquipment
@using DataModels.VM.Common
@using FSM.Blazor.Data.AircraftSchedule
@using FSM.Blazor.Data.Aircraft
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Schedule
@using System.Collections.ObjectModel
@using System.ComponentModel
@using DE = DataModels.Entities
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Buttons;
@using DataModels.VM.Scheduler;
@using Syncfusion.Blazor.Popups;
@using DataModels.Entities;
@using DataModels.VM;

@inject AircraftSchedulerService AircraftSchedulerService
@inject AircraftService AircraftService
@layout MainLayout
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject AircraftSchedulerDetailService AircraftSchedulerDetailService

@page "/Scheduler"

<style>
    
    .e-schedule .e-vertical-view .e-all-day-appointment-wrapper .e-appointment.scheduledhorizontally,
    .e-schedule .e-vertical-view .e-day-wrapper .e-appointment.scheduledhorizontally,
    .e-schedule .e-month-view .e-appointment.scheduledhorizontally {
        background: #007bff;
    }

    .e-schedule .e-timeline-view .e-all-day-appointment-wrapper .e-appointment.scheduled,
    .e-schedule .e-timeline-view .e-appointment.scheduled,
    .e-schedule .e-timeline-month-view .e-appointment.scheduled {
        background: #007bff;
    }

    .e-schedule .e-timeline-view .e-all-day-appointment-wrapper .e-appointment.checkedout,
    .e-schedule .e-timeline-view .e-appointment.checkedout,
    .e-schedule .e-timeline-month-view .e-appointment.checkedout {
        background: #33ff81;
        
        /*green color*/
    }

    .e-schedule .e-vertical-view .e-all-day-appointment-wrapper .e-appointment.checkedouthorizontally,
    .e-schedule .e-vertical-view .e-day-wrapper .e-appointment.checkedouthorizontally,
    .e-schedule .e-month-view .e-appointment.checkedouthorizontally {
        background: #33ff81;
    }

    .e-schedule .e-vertical-view .e-all-day-appointment-wrapper .e-appointment.checkedinhorizontally,
    .e-schedule .e-vertical-view .e-day-wrapper .e-appointment.checkedinhorizontally,
    .e-schedule .e-month-view .e-appointment.checkedinhorizontally {
        background: #B8B8B8;
        /*grey color*/
    }

    .e-schedule .e-timeline-view .e-all-day-appointment-wrapper .e-appointment.checkedin,
    .e-schedule .e-timeline-view .e-appointment.checkedin,
    .e-schedule .e-timeline-month-view .e-appointment.checkedin {
        background: #B8B8B8;
    }

</style>

<PageTitle>Scheduler | Fly Manager </PageTitle>

<SfSchedule AllowResizing="false" TValue="SchedulerVM" Height="450px"
            @ref="@ScheduleRef" ShowQuickInfo="false" @bind-SelectedDate="@currentDate"
            @bind-CurrentView="@CurrentView">

    <ScheduleGroup EnableCompactView="false" Resources="@Resources"></ScheduleGroup>

    <ScheduleEventSettings DataSource="@DataSource" EnableTooltip="true">

        <ScheduleField Id="Id">
            <FieldSubject Name="DisplayTitle"></FieldSubject>
            <FieldStartTime Name="StartTime"></FieldStartTime>
            <FieldEndTime Name="EndTime"></FieldEndTime>
        </ScheduleField>

    </ScheduleEventSettings>
    <ScheduleEvents ActionCompleted="OnActionCompletedAsync" TValue="SchedulerVM" OnEventDoubleClick="OnEventClick" EventRendered="OnEventRendered"
                    OnCellDoubleClick="OpenCreateAppointmentDialog" OnCellClick="OpenCreateAppointmentDialog" OnEventClick="OnEventClick"></ScheduleEvents>

    <ScheduleResources>

        <ScheduleResource TItem="ResourceData" TValue="long[]" DataSource="@ObservableAircraftsData" Field="AircraftId" Title="Aircraft"
                          Name="Aircrafts" TextField="AircraftTailNo" IdField="Id" AllowMultiple="true">
        </ScheduleResource>

    </ScheduleResources>

    <ScheduleViews>
        <ScheduleView Option="View.TimelineDay"></ScheduleView>
        <ScheduleView Option="View.TimelineWeek"></ScheduleView>
        <ScheduleView Option="View.TimelineMonth"></ScheduleView>
        <ScheduleView Option="View.Day"></ScheduleView>
        <ScheduleView Option="View.Week"></ScheduleView>
        <ScheduleView Option="View.Month"></ScheduleView>
    </ScheduleViews>

</SfSchedule>


<SfDialog @bind-Visible="@uiOptions.dialogVisibility" AllowDragging="true" IsModal="true" Width="575px" ShowCloseIcon="true">

    <DialogTemplates>
        <Header> <h5>Schedule Appointment</h5> </Header>
        <Content>

            <Create schedulerVM="@schedulerVM" uiOptions="@uiOptions"
            DeleteParentEvent="@DeleteEventAsync" InitializeValuesParentEvent="@InitializeValues"
            RefreshSchedulerDataSourceParentEvent="@RefreshSchedulerDataSourceAsync"
            CloseDialogParentEvent = "@CloseDialog" LoadDataParentEvent="@LoadDataAsync"
            ></Create>
           
        </Content>
    </DialogTemplates>

</SfDialog>
