<TelerikForm Model="@discrepancyFileVM" OnValidSubmit="@Submit" Class="popup-content">

    <FormValidation>
        <CustomValidationSummary></CustomValidationSummary>
    </FormValidation>

    <FormItems>

        <input type="hidden" value="@discrepancyFileVM.Id" name="Id" />

        <div class="row my-3">
            <div class="col-12">

                <div class="row">
                    <div class="col-6">
                        <label>Upload</label>

                        <div image-container>
                            <style>
                                .drag-area {
                                    width: 100%;
                                    height: 106px;
                                    background: #F8F8F8;
                                    border: 0.5px dashed #606060;
                                    border-radius: 8px;
                                }

                                .icon > svg {
                                    width: 30;
                                    height: 30;
                                }

                                .header {
                                    font-style: normal;
                                    font-weight: 300;
                                    font-size: 12px;
                                }
                            </style>
                            <label class="drag-area d-flex align-items-center k-cursor-pointer" for="documentImage">
                                <div class="text-center mx-auto">
                                    <div class="icon"><CustomIcons IconName="upload-cloud" /></div>
                                    <header class="header">Drag and drop or <br /> browse to choose images</header>
                                </div>
                            </label>
                            <InputFile Id="documentImage" style="display:none" OnChange="OnInputFileChangeAsync" Value="@discrepancyFileVM.DisplayName" accept="@supportedDocumentsFormat" />
                        </div>

                        @if (isFileUploadHasError)
                        {
                            <span style="color:red !important">@errorMessage</span>
                        }
                    </div>

                    <div class="col-6">
                        <label>Name</label>
                       <TelerikTextBox Class="w-100" PlaceHolder="Enter description" @bind-Value="@discrepancyFileVM.DisplayName" />
                        <TelerikValidationMessage For="@(() => discrepancyFileVM.DisplayName)"></TelerikValidationMessage>
                    </div>

                    
                </div>
            
            </div>
        </div>

        <hr class="hr-gray mt-3 mb-3" />

    </FormItems>
    <FormButtons>
        <div class="row mb-0">
            <div class="col-md-12 text-right">

                <FormFooterComponent id="@discrepancyFileVM.Id" IsSubmitButtonLoading="@isBusySubmitButton" CloseDialogCallBack="@CloseDialog">
                </FormFooterComponent>

            </div>

        </div>

    </FormButtons>

</TelerikForm>