@using FSM.Blazor.Data.Common
@inject MenuService MenuService
@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime
@inject IHttpContextAccessor httpContextAccessor
@inject IHttpClientFactory ClientFactory

<RadzenSidebar @bind-Expanded="Expanded" Style=" top: 51px; width: 250px;transform: translateX(0px);">
    <ChildContent>
        @*  <div style="padding: 1rem">
            <RadzenTextBox Placeholder="Find component ..." @oninput="@FilterPanelMenu" type="search" style="width: 100%" />

            </div>*@
        <RadzenPanelMenu>

            @if (menuItems == null)
            {

            }
            else

            {
                <RadzenPanelMenuItem Text="Dashboard" Path="/" Icon="dashboard"></RadzenPanelMenuItem>
                @foreach (var category in menuItems)
                {
                    <RadzenPanelMenuItem @bind-Expanded="@category.Expanded" Text="@category.DisplayName" Path="@("/" + category.Controller)" Icon="@category.FavIconStyle">
                    </RadzenPanelMenuItem>
                }

                <RadzenPanelMenuItem Text="Log Out" Path="/Logout" Icon="open_in_new"></RadzenPanelMenuItem>
            }

        </RadzenPanelMenu>
    </ChildContent>
</RadzenSidebar>

@code {


}