@inherits LayoutComponentBase

<link href="css/EmptyLayout.min.css" rel="stylesheet" />

<TelerikNotification @ref="@UINotification.Instance"
                     HorizontalPosition="@NotificationHorizontalPosition.Right"
                     VerticalPosition="@NotificationVerticalPosition.Top"
                     Class="small-notification">

</TelerikNotification>

<TelerikRootComponent>

    <Web.UI.Extensions.CustomErrorBoundry @ref="@errorBoundary">

        <CascadingValue IsFixed="true" Value="@UINotification">
            <style>
                body{
                    background-repeat: no-repeat !important;
                    background-size: 100% 100% !important;
                    background-image: url('img/bg-login.png') !important;
                }
                .card{
                    background: #FFFFFF;
                    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
                    border-radius: 21px;
                }
            </style>
            <div class="row vh-100 align-items-center m-0">
                <div class="col-md-3 mx-auto">
                    <div class="card" >
                        <div class="card-body">
                            <div class="upfly-logo mt-3 mb-3 d-flex justify-content-center">
                                <CustomIcons IconName="system-logo"></CustomIcons>
                            </div>
                            @*<div class="d-flex justify-content-center"><h4>@EmptyLayoutTitle</h4></div>*@
                            @Body
                      </div>
                    </div>
                </div>
            </div>
        </CascadingValue>
    </Web.UI.Extensions.CustomErrorBoundry>
</TelerikRootComponent>

@code {

    UINotification UINotification { get; set; } = new UINotification();

    public string EmptyLayoutTitle { get; set; } = "LOGIN TEXT MSG";

    private ErrorBoundary errorBoundary;
    protected override void OnParametersSet()
    {
        //if(errorBoundary.CurrentException.Message == "Unauthorized")
        //{

        //    NavigationManager.NavigateTo("/Login");
        //}
        errorBoundary?.Recover();
    }

    public void SetEmptyLayoutTitle(string title) => EmptyLayoutTitle = title;
}
