@inherits LayoutComponentBase

@if (menuItems != null)
{
    <TelerikDrawer Data="@menuItems"
               @bind-Expanded="@DrawerExpanded"
               MiniMode="true"
               Mode="@DrawerMode.Push"
               @ref="@DrawerRef"
               @bind-SelectedItem="@SelectedItem">
        <Template>
            <div class="d-flex align-items-center @(DrawerExpanded ? "justify-content-start":"justify-content-center") " style="height:54px;">
                <TelerikButton OnClick="@( () => DrawerRef.ToggleAsync() )" Class="drawer-hamburger">
                    <CustomIcons IconName="Menu"></CustomIcons>
                </TelerikButton>
            </div>
            <hr class="hr-blue mt-0 mb-0" />
            @if (DrawerExpanded)
            {
            <div class="d-flex align-items-center justify-content-evenly" style="height:118px;">
                <label class="d-flex flex-row user-face">
                    <img src='https://mir-s3-cdn-cf.behance.net/user/115/5a206b20984315.60746bc251979.jpg'
                     style="height: 54px;width: 54px;border-radius:50px" />
                    <div id="name" class="mx-2">Vishal Modi (Super Admin)</div>
                </label>
            </div>
            }
            else
            {
            <div class="d-flex align-items-center justify-content-center" style="height:118px;">
                <div>
                    <div class="d-flex justify-content-center">
                        <img src='https://mir-s3-cdn-cf.behance.net/user/115/5a206b20984315.60746bc251979.jpg'
                         style="height: 44px;width: 44px;border-radius:50px" />
                    </div>
                    <div class="d-flex justify-content-center">Admin</div>
                </div>
            </div>
            }
        <hr class="hr-blue mt-0 mb-0" />
        <div class="k-drawer-items my-2">
            <ul>

                @foreach (var item in menuItems)
                    {
                        if (item.IsAdministrationModule)
                        {
                            if (!isAdministrationTabAdded)
                            {
                                isAdministrationTabAdded = true;

                            <li @onclick="@(() => NavigateToPage(item))"
                    @onclick:stopPropagation
                    class="k-drawer-item @(GetSelectedItemClass(item))  @(DrawerExpanded ? "":"d-flex justify-content-center")" style="white-space:nowrap">
                                <div class="px-2"><CustomIcons IconName="Administration"></CustomIcons></div>

                                @if (DrawerExpanded)
                                    {
                                    <div>Administration</div>
                                    }
                                @if (SelectedItem != null && item.DisplayName == SelectedItem.DisplayName)
                                    {
                                    <div class="selected-arrow"></div>
                                    }

                            </li>
                            }
                        }
                        else
                        {

                            if (item.DisplayName == "Log out")
                            {
                            <hr class="hr-blue mt-0 mb-0" />
                            }

                        <li @onclick="@(() => NavigateToPage(item))"
                    @onclick:stopPropagation
                    class="k-drawer-item @(GetSelectedItemClass(item))  @(DrawerExpanded ? "":"d-flex justify-content-center")" style="white-space:nowrap">
                            <div class="px-2"><CustomIcons IconName="@item.DisplayName"></CustomIcons></div>

                            @if (DrawerExpanded)
                                {
                                <div>@item.DisplayName</div>
                                }
                            @if (SelectedItem != null && item.DisplayName == SelectedItem.DisplayName)
                                {
                                <div class="selected-arrow"></div>
                                }

                        </li>

                        }
                    }
            </ul>
        </div>

    </Template>
    <DrawerContent>
        <div class="main">
           
            <div class="content">
                <LeftHeader></LeftHeader>

                <h1>Hello users</h1>
                @Body
            </div>
        </div>
    </DrawerContent>
</TelerikDrawer>

}
