@inherits LayoutComponentBase

<TelerikNotification @ref="@UINotification.Instance"
                     HorizontalPosition="@NotificationHorizontalPosition.Right"
                     VerticalPosition="@NotificationVerticalPosition.Top"
                     Class="sm-notification">

</TelerikNotification>

@if (menuItems != null)
{
    <TelerikDrawer Data="@menuItems"
               @bind-Expanded="@DrawerExpanded"
               MiniMode="true"
               Mode="@DrawerMode.Push"
               @ref="@DrawerRef"
               @bind-SelectedItem="@SelectedItem">
        <Template>
            <div class="d-flex align-items-center k-drawer-top-header @(DrawerExpanded ? "justify-content-start":"justify-content-center") " style="height:54px;">
                <TelerikButton OnClick="@( () => DrawerRef.ToggleAsync() )" Class="drawer-hamburger">
                    <Web.UI.Shared.Components.CustomIcon.CustomIcons IconName="Menu"
                                                                 PrimaryColor="@("white")"></Web.UI.Shared.Components.CustomIcon.CustomIcons>
                </TelerikButton>
            </div>
            <hr class="hr-blue mt-0 mb-0" />
            @if (DrawerExpanded)
            {
            <div class="d-flex align-items-center justify-content-evenly" style="height:118px;">
                <label class="d-flex flex-row user-face">
                    <img src='@profileImageURL'
                     onerror="this.onerror=null;this.src='../img/thumbnail-userprofile.png';"
                     style="height: 54px;width: 54px;border-radius:50px" />
                    <div id="name" class="mx-2">@fullName</div>
                </label>
            </div>
            }
            else
            {
            <div class="d-flex align-items-center justify-content-center" style="height:118px;">
                <div>
                    <div class="d-flex justify-content-center">
                        <img src='@profileImageURL'
                         onerror="this.onerror=null;this.src='../img/thumbnail-userprofile.png';"
                         style="height: 54px;width: 54px;border-radius:50px" />
                    </div>
                    <div class="d-flex justify-content-center">Admin</div>
                </div>
            </div>
            }
        <hr class="hr-blue mt-0 mb-0" />
        <div class="k-drawer-items my-2">
            <ul>

                @foreach (var item in menuItems)
                    {
                        if (!item.IsAdministrationModule)
                        {
                            if (item.DisplayName == "Log out")
                            {
                            <hr class="hr-blue mt-0 mb-0" />
                            }

                        <li @onclick="@(() => NavigateToPage(item))" @onclick:stopPropagation
                    class="k-drawer-item @(GetSelectedItemClass(item))  @(DrawerExpanded ? "":"d-flex justify-content-center")" style="white-space:nowrap">
                            <div class="px-2">
                                <Web.UI.Shared.Components.CustomIcon.CustomIcons IconName="@item.DisplayName"
                                                                         PrimaryColor="@(item.DisplayName == "Dashboard" ? "#3066F800":"#3066F8")"
                                                                         SecondaryColor="#3066F8">
                                </Web.UI.Shared.Components.CustomIcon.CustomIcons>
                            </div>

                            @if (DrawerExpanded)
                                {
                                <div class="menu-item-text-color">@item.DisplayName</div>
                                }
                            @if (SelectedItem != null && item.DisplayName == SelectedItem.DisplayName)
                                {
                                <div class="selected-arrow"></div>
                                }

                        </li>

                        }
                    }
            </ul>
        </div>

    </Template>
    <DrawerContent>
        <div class="main">

            <div class="content">
                <CascadingValue IsFixed="true" Value="@UINotification">
                    <LeftHeader></LeftHeader>
                    <TelerikRootComponent>
                        <div class="card ms-3 me-3 my-3 p-3">
                            @Body
                        </div>
                    </TelerikRootComponent>
                </CascadingValue>
            </div>
        </div>
    </DrawerContent>
</TelerikDrawer>

}
