@namespace Web.UI.Pages.Account
@using DataModels.VM.Account;
@using Web.UI.Data.Account
@layout EmptyLayout

@inject AccountService AccountService

@page "/Forgetpassword"

<PageTitle>Forgot Password | Fly Manager </PageTitle>

@if (forgotPasswordVM != null)
{
    <div class="col-lg-6 col-xl-10">
        <div class="m-3">

            <div class="login-wrap p-4 p-md-5">

                <div class="d-flex">
                    <div class="w-100">
                        <h3 class="mb-4">Forgot Password ?</h3>
                    </div>
                </div>


                <TelerikForm Model="@forgotPasswordVM" OnValidSubmit="@Submit">

                    <FormValidation>
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                    </FormValidation>

                    <FormItems>
                        <FormItem Field="@nameof(ForgotPasswordVM.Email)">
                            <Template>
                                <div class="form-group mb-3">
                                    <label for="Email" class="k-label k-form-label">Email</label>
                                    <TelerikTextBox Id="email" @bind-Value="@forgotPasswordVM.Email" InputMode="email" PlaceHolder="Email"></TelerikTextBox>
                                    <TelerikValidationMessage For="@(() => forgotPasswordVM.Email)"></TelerikValidationMessage>
                                </div>
                            </Template>
                        </FormItem>

                    </FormItems>
                    <FormButtons>

                        <TelerikButton ButtonType="@ButtonType.Submit" ThemeColor="info" Class="login-button btn k-btn-primary" Enabled="@(!isBusy)">
                            Email me a recovery link

                            <TelerikLoader Class="loader-indicator" ThemeColor="light" Visible="@isBusy">
                            </TelerikLoader>

                        </TelerikButton>

                    </FormButtons>

                </TelerikForm>

                <div class="d-md-flex">

                    <div class="w-50 text-left">
                        <a href="/login" style="color:#1151F3"> Back to Login</a>
                    </div>

                </div>

            </div>

        </div>
    </div>
}
