@using System;
@using System.ComponentModel.DataAnnotations;
@using DataModels.VM.Account;
@page "/Login"

@layout EmptyLayout
@namespace Web.UI.Pages.Account

@inject IJSRuntime JSRunTime

<PageTitle>Login | Fly Manager </PageTitle>

<div class="col-lg-6 col-xl-10">
    <div class="m-3">

        @if (isSessionTimeout)
        {
            <div style="color: red;">Session Timeout!</div>
        }

        <div class="login-wrap p-4 p-md-5">

            <div class="d-flex">
                <div class="w-100">
                    <h3 class="mb-4">Sign in to Fly Manager </h3>
                </div>
            </div>

            <TelerikForm Model="@loginVM" OnValidSubmit="@Submit">

                <FormValidation>
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                </FormValidation>

                <FormItems>
                    <FormItem Field="@nameof(LoginVM.Email)">
                        <Template>
                            <div class="form-group mb-3">
                                <label for="Email" class="k-label k-form-label">Email</label>
                                <TelerikTextBox Id="email" @bind-Value="@loginVM.Email" InputMode="email" PlaceHolder="Email"></TelerikTextBox>
                                <TelerikValidationMessage For="@(() => loginVM.Email)"></TelerikValidationMessage>
                            </div>
                        </Template>
                    </FormItem>

                    <FormItem Field="@nameof(LoginVM.Password)">
                        <Template>
                            <div class="form-group mb-3">
                                <label for="Password" class="k-label k-form-label">Password</label>
                                <TelerikTextBox Id="Password" @bind-Value="@loginVM.Password" Password="true" PlaceHolder="Password"></TelerikTextBox>
                                <TelerikValidationMessage For="@(() => loginVM.Password)"></TelerikValidationMessage>
                            </div>
                        </Template>
                    </FormItem>

                </FormItems>
                <FormButtons>

                    <TelerikButton ButtonType="@ButtonType.Submit" ThemeColor="info" Class="login-button btn k-btn-primary" Enabled="@(!isBusy)">Login

                        </TelerikLoader>
                    </TelerikButton>

                </FormButtons>

            </TelerikForm>

            <div class="d-md-flex" style="margin-top:10px">
                <div class="w-50 text-left">
                    <a href="/Registration" style="color:#1151F3"> Register</a>

                </div>

                <div class="w-50" style="text-align:right">
                    <a href="/Forgetpassword" style="color:#1151F3">Forget Password ?</a>

                </div>
            </div>
        </div>
    </div>
</div>

