@using System;
@using System.ComponentModel.DataAnnotations;
@using DataModels.VM.Account;

@page "/Login"

@layout EmptyLayout
@namespace Web.UI.Pages.Account

@inject IJSRuntime JSRunTime

<PageTitle>Login | Fly Manager </PageTitle>

<div class="m-3">

    @if (isSessionTimeout)
    {
        <div style="color: red;">Session Timeout!</div>
    }

    <div class="login-wrap p-4 p-md-5">

@*        <div class="d-flex">
            <div class="w-100">
                <h3 class="mb-4">Sign in to Fly Manager </h3>
            </div>
        </div>*@

        <TelerikForm Model="@loginVM" OnValidSubmit="@Submit">

            <FormValidation>
                <DataAnnotationsValidator />
            </FormValidation>

            <FormItems>
                <FormItem Field="@nameof(LoginVM.Email)">
                    <Template>
                        <div class="form-group my-3">
                            <label for="email" class="k-label k-form-label">Email</label>
                            <TelerikTextBox Id="email" @bind-Value="@loginVM.Email" InputMode="email" PlaceHolder="Email" />
                            <TelerikValidationMessage For="@(() => loginVM.Email)" />
                        </div>
                    </Template>
                </FormItem>

                <FormItem Field="@nameof(LoginVM.Password)">
                    <Template>
                        <div class="form-group my-3">
                            <div class="d-flex justify-content-between">
                                <label for="password" class="k-label k-form-label">Password</label>
                                <span class="w-50" style="text-align:right"><a href="/Forgetpassword" style="color:#1151F3">Forget Password ?</a></span>
                            </div>
                            <TelerikTextBox Id="password" @bind-Value="@loginVM.Password" Password="true" PlaceHolder="Password" />
                            <TelerikValidationMessage For="@(() => loginVM.Password)" />
                        </div>
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(LoginVM.RememberMe)">
                    <Template>
                        <div class="d-flex">
                            <TelerikCheckBox Id="rememberMe" @bind-Value="@loginVM.RememberMe" />
                            <label for="rememberMe" class="k-label k-form-label">Keep me logged in</label>
                        </div>
                    </Template>
                </FormItem>
            </FormItems>
            <FormButtons>
                <TelerikButton ButtonType="@ButtonType.Submit" ThemeColor="info" Class="login-button btn k-btn-primary" Enabled="@(!isBusy)">
                    Login <TelerikLoader Class="loader-indicator" ThemeColor="light" Visible="@isBusy" />
                </TelerikButton>
            </FormButtons>
        </TelerikForm>

        <div class="row my-3" >
            <div class="text-center">
                Don't have an account? <a href="/Registration" style="color:#1151F3"> Register</a>
            </div>
        </div>
        <div class="row my-3">
            <div class="text-center">
                Or continue with
            </div>
        </div>
        <div class="row my-3">
            <div class="text-center">
                SOCIAL MEDIA ICONS
            </div>
        </div>
    </div>
</div>
