@namespace Web.UI.Pages.Account

@using DataModels.VM.Account
@layout EmptyLayout

@page "/ResetPassword"

<PageTitle>Reset Password | Fly Manager </PageTitle>

<div class="row vh-100 align-items-center m-0">
    <div class="col-md-3 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="upfly-logo mt-2 mb-2 d-flex justify-content-center">
                    <CustomIcons IconName="system-logo"></CustomIcons>
                </div>
                <div class="col-lg-6 col-xl-10">
                    <div class="m-3">
                        <div class="login-wrap">
                            <div class="d-flex justify-content-center"><h5>Forgot Password ?</h5></div>
                            <TelerikForm Model="@resetPasswordVM" OnValidSubmit="@Submit">

                                <FormValidation>
                                    <DataAnnotationsValidator></DataAnnotationsValidator>
                                </FormValidation>

                                <FormItems>
                                    <FormItem Field="@nameof(ResetPasswordVM.Password)">
                                        <Template>
                                            <div class="form-group mb-3">
                                                <label for="Email" class="k-label k-form-label">New Password</label>
                                                <TelerikTextBox Id="newpassword" @bind-Value="@resetPasswordVM.Password" PlaceHolder="New Password" Password="true"></TelerikTextBox>
                                                <TelerikValidationMessage For="@(() => resetPasswordVM.Password)"></TelerikValidationMessage>
                                            </div>
                                        </Template>
                                    </FormItem>

                                    <FormItem Field="@nameof(ResetPasswordVM.ConfirmPassword)">
                                        <Template>
                                            <div class="form-group mb-3">
                                                <label for="Email" class="k-label k-form-label">Confirm Password</label>
                                                <TelerikTextBox Id="confirmpassword" @bind-Value="@resetPasswordVM.ConfirmPassword" Password="true" PlaceHolder="Confirm Password"></TelerikTextBox>
                                                <TelerikValidationMessage For="@(() => resetPasswordVM.ConfirmPassword)"></TelerikValidationMessage>
                                            </div>
                                        </Template>
                                    </FormItem>

                                </FormItems>
                                <FormButtons>

                                    <TelerikButton ButtonType="@ButtonType.Submit" ThemeColor="info" Class="login-button" Enabled="@(!isBusy)">
                                        Reset Password

                                        <TelerikLoader Class="loader-indicator" ThemeColor="light" Visible="@isBusy">

                                        </TelerikLoader>
                                    </TelerikButton>

                                </FormButtons>

                            </TelerikForm>
                            <div class="d-md-flex">
                                <div class="w-50 text-left">
                                    <a href="/login" style="color:#1151F3"> Back to Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



