@namespace Web.UI.Pages.Account

@using DataModels.VM.Account
@layout EmptyLayout

@page "/ResetPassword"

<PageTitle>Reset Password | Fly Manager </PageTitle>

 <Web.UI.Shared.Components.PageLoader.PageLoader 
 isVisible="@isDisplayLoader" loaderColor="#3066f8" loadingText="Validatin token..">

 </Web.UI.Shared.Components.PageLoader.PageLoader>

<div class="row vh-100 align-items-center m-0">
    <div class="col-md-3 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="upfly-logo mt-2 mb-2 d-flex justify-content-center">
                    <CustomIcons IconName="system-logo"></CustomIcons>
                </div>
                <div class="col-lg-6 col-xl-12">
                    <div class="m-3">
                        <div class="login-wrap">
                            <div class="d-flex justify-content-center"><h5>Reset Password</h5></div>
                            <TelerikForm Model="@resetPasswordVM" OnValidSubmit="@Submit">

                                <FormValidation>
                                    <DataAnnotationsValidator></DataAnnotationsValidator>
                                </FormValidation>

                                <FormItems>
                                    <FormItem Field="@nameof(ResetPasswordVM.Password)">
                                        <Template>
                                            <div class="form-group mb-3">
                                                <FontLabel>
                                                    <label for="newpassword">New Password</label>
                                                </FontLabel>
                                                <TelerikTextBox Id="newpassword" @bind-Value="@resetPasswordVM.Password" PlaceHolder="New Password" Password="true"></TelerikTextBox>
                                                <TelerikValidationMessage For="@(() => resetPasswordVM.Password)"></TelerikValidationMessage>
                                            </div>
                                        </Template>
                                    </FormItem>

                                    <FormItem Field="@nameof(ResetPasswordVM.ConfirmPassword)">
                                        <Template>
                                            <div class="form-group mb-3">
                                                <FontLabel>
                                                    <label for="confirmpassword">Confirm Password</label>
                                                </FontLabel>
                                                <TelerikTextBox Id="confirmpassword" @bind-Value="@resetPasswordVM.ConfirmPassword" Password="true" PlaceHolder="Confirm Password"></TelerikTextBox>
                                                <TelerikValidationMessage For="@(() => resetPasswordVM.ConfirmPassword)"></TelerikValidationMessage>
                                            </div>
                                        </Template>
                                    </FormItem>

                                </FormItems>
                                <FormButtons>
                                    <TelerikButton ButtonType="@ButtonType.Submit" ThemeColor="info" Class="login-button btn k-btn-primary" Enabled="@(!isBusy && isValidToken)">
                                        Reset Password
                                        <TelerikLoader Class="loader-indicator" ThemeColor="light" Visible="@isBusy"/>
                                    </TelerikButton>
                                </FormButtons>
                            </TelerikForm>
                            <div class="row my-3">
                                <div class="text-center">
                                    Suddenly remembered? <a href="/login" style="color:#1151F3"> Login Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



