@using FSM.Blazor.Data.Company;
@using DataModels.Enums;
@using Syncfusion.Blazor.Spinner;

@inject CompanyService CompanyService
@inject Radzen.DialogService DialogService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject AuthenticationStateProvider AuthenticationStateProvider

@page "/CompanyDetails"

<PageTitle>Company Details | Fly Manager </PageTitle>
<style>

    .description {
        font-size: 14px;
        font-weight: 530;
    }

    .rz-fileupload-row {
        display: none
    }

    .rz-fileupload {
        outline: none;
        margin-bottom: 0;
    }

    .rz-fileupload-buttonbar {
        position: absolute;
        top: 90%;
        left: 24%;
        opacity: 0.8;
        transform: translate(-50%, -50%);
        cursor: pointer;
        size: 53px;
    }

    .card-img-top {
        max-width: 100%;
        max-height: 100%;
        /*        object-fit:cover;
        */
    }

</style>
@if (companyData != null)
{
    <div id="container">
        <SfSpinner @bind-Visible="@isDisplayLoader">
        </SfSpinner>
    </div>

    <div class="m-4">
        <div class="card">
            <div class="row g-0">

                <div class="col-sm-3" style="position: relative;">

                    <RadzenImage onerror="this.onerror=null;this.src='../img/company-default-logo.png';" Path="@(companyData.LogoPath)" Style="width: 100%; height: 140px;object-fit:cover; border: 2px solid #1151f3;" />
                    <RadzenFileInput Style="outline:none" @bind-Value=@companyData.LogoPath
                                 Change=@(args => OnChangeAsync()) TValue="string" />

                </div>
                <div class="col-sm-3">
                    <div class="card-body" style="margin-left:-40px;">
                        <div>
                            <label class="description">Company Name : </label>
                            @(companyData.Name)
                        </div>

                        <div>
                            <label class="description">Address : </label> @(companyData.Address)
                        </div>

                        <br />

                        <div>
                            @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Create, @moduleName) && isAllowToEdit)
                            {
                                <RadzenButton Text="Update Company Details" Click=@(() => CompanyEditDialog())
                                      BusyText="Update Details ..." IsBusy="@isBusy" Icon="edit" class="w-100" ButtonStyle="ButtonStyle.Primary" />
                            }

                        </div>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card-body">
                        <div>
                            <label class="description">Timezone : </label> @(companyData.TimeZone)

                        </div>

                        <div>
                            <label class="description">Contat No : </label> @(companyData.ContactNo == null ? "-" : companyData.ContactNo)
                        </div>
                        <div>
                            <label class="description">Website : </label> @(companyData.Website == null ? "-" : companyData.Website)
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card-body">

                        <div>
                            <label class="description">Primary Airport : </label> @(companyData.PrimaryAirport == null ? "-" : companyData.PrimaryAirport)
                        </div>

                        <div>
                            <label class="description">Primary Service : </label>
                            @if (companyData.PrimaryServiceId != null)
                            {
                                <b> @companyData.PrimaryServicesList.Where(p=>p.Id == companyData.PrimaryServiceId).First().Name </b>
                            }
                            else
                            {
                                <b>@("-")</b>
                            }
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-header" style="margin-top:30px">

                <FSM.Blazor.Pages.Company.DetailsView.DetailTabs.Index CompanyData=@companyData>

                </FSM.Blazor.Pages.Company.DetailsView.DetailTabs.Index>
            </div>

        </div>
    </div>
}


