@if (!string.IsNullOrEmpty(styleClass))
{
    <style>
        .ellipses-text {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: inherit;
        }
    </style>
}
<div class="dropdown ">
    <button class="btn btn-secondary @(styleClass)" type="button" id="dropdownMenuButton"
            aria-haspopup="true" aria-expanded="false" @onclick=@(() => ToggleShowMenu())>


        <div class="ellipses-text">
            <img src='@userProfileImage'
                 onerror="this.onerror=null;this.src='../img/thumbnail-userprofile.png';"
                 style="height: 40px;width: 40px;border-radius:50px" />

            <span id="name" class="mx-2">@userName</span>
        </div>
        <CustomIcons IconName="arrow-down" PrimaryColor="White"></CustomIcons>
    </button>

    @if (BSDropdownItemList.Count > 0)
    {
        <div class="dropdown-menu ms-2 @(ShowMenuItem ? "d-block":"")" aria-labelledby="dropdownMenuButton">
            @foreach (var item in BSDropdownItemList)
            {
                <a class="dropdown-item" href="@(item.URL)" @onclick=@(() => ToggleShowMenu())>@(item.DisplayValue)</a>
            }
        </div>
        @if (ShowMenuItem)
        {
            <div class="modal-backdrop fade show" @onclick=@(() => ToggleShowMenu())></div>
        }
    }

</div> 