@using DataModels.VM.InstructorType
@using FSM.Blazor.Data.InstructorType

@inject InstructorTypeService InstructorTypeService


<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<RadzenTemplateForm Data="@InstructorTypeData" Submit="@((InstructorTypeVM args) => {  Submit(args); })">

    <div class="popup-content">
        <input type="hidden" value="@InstructorTypeData.Id" name="Id" />

        <div class="row">
            <div class="col-md-12 align-items-center d-flex">
                <RadzenLabel Text="Name" />
            </div>
            <div class="col-md-12">
                <RadzenTextBox style="width: 100%;" Placeholder="Name" Name="Name" @bind-Value="@InstructorTypeData.Name" />
                <RadzenRequiredValidator Component="Name" Text="Name is required" Popup="@isPopup" Style="position: relative" />
            </div>
        </div>

        <hr />
        <div class="row" style="margin-top:4%">
            <div class="col-md-12 text-right">

                @if (InstructorTypeData.Id == 0)
                {
                    <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary"
                              Text="Save" Style="width: 120px" IsBusy=@isBusy />
                }
                else
                {
                     <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success"
                              Text="Save" Style="width: 120px" IsBusy=@isBusy />
                }

                  <RadzenButton Click="@((args) => CloseDialog(true))"
                              ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" Class="mr-1" />
            </div>
        </div>

    </div>

</RadzenTemplateForm>