@namespace FSM.Blazor.Pages.InstructorType
@using FSM.Blazor.Data.InstructorType
@using DataModels.VM.InstructorType
@using Configuration;
@inject InstructorTypeService InstructorTypeService
@layout MainLayout
@inject DialogService DialogService


@page "/InstructorType"


<div class="row mb-4">
    <div class="col">
       <h2 style="float:left">Manage Instructor Types Details</h2>
        <RadzenButton Style="float:right" Text="Add New" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click=@(() => InstructorTypeCreateDialog(new InstructorTypeVM())) />
    </div>
</div>

<RadzenDataGrid AllowFiltering="true" @ref="grid" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Simple" AllowPaging="true" IsLoading="@isLoading"
                PageSize="Configuration.ConfigurationSettings.Instance.BlazorGridDefaultPagesize"
                AllowSorting="true" Data="@data" TItem="InstructorTypeVM"
                PageSizeOptions="Configuration.ConfigurationSettings.Instance.BlazorGridPagesizeOptions"
                Count="@count" LoadData="@LoadData" ShowPagingSummary="true" 
                PagingSummaryFormat="@pagingSummaryFormat">
    <Columns>

        <RadzenDataGridColumn Width="50px" TItem="InstructorTypeVM" Title="#" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
            <Template Context="value">
                @(data.IndexOf(value) + 1)
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="InstructorTypeVM" Property="Name" Title="Name"></RadzenDataGridColumn>

        <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="160px" Sortable="false" Filterable="false" TItem="InstructorTypeVM" Property="Id" Title="Actions">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="mode_edit" Class="m-1" Click=@(() => InstructorTypeCreateDialog(data)) />
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete_sweep" Class="m-1"
                              Click=@(args => OpenDeleteDialog(data)) />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@{
    async Task OpenDeleteDialog(InstructorTypeVM instructorTypeVM)
    {
        var result = await DialogService.OpenAsync("Delete", ds =>
    @<div>
        <p class="mb-4">Are you sure, You want to delete <b> @instructorTypeVM.Name </b>?</p>
        <div class="row" style="text-align:right">
            <div class="col">
                <RadzenButton Text="Yes" ButtonStyle="ButtonStyle.Danger" Click="() => DeleteAsync(instructorTypeVM.Id) " Class="mr-1" Style="width: 80px;" />
                <RadzenButton Text="No" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Class="mr-1" Style="width: 80px;" />

            </div>
        </div>
    </div>
    , new DialogOptions { Width = "360px" });

    }
}