@namespace Web.UI.Pages.AircraftModel
@using DataModels.Enums
@using DataModels.VM.AircraftMake

@layout TelerikLayout

@page "/AircraftModel"

<div class="row">
    <div class="col d-flex justify-content-between">
        <div><h4>Manage Aircraft Makes</h4></div>
        <div>
            <div class="row d-flex justify-content-end my-2">
                <div class="col-md-8">
                    <TelerikTextBox Name="SearchText" OnChange="() => grid.Rebind()" PlaceHolder="Search Company" ValueChanged="@( (string value) => OnSearchValueChanges<AircraftMakeDataVM>(value, grid) )" />
                </div>

                @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Create, moduleName) || true)
                {
                    <div class="col-md-4">
                        <TelerikButton Class="btn k-btn-primary" ThemeColor="primary" OnClick="() => AircraftMakeCreateDialog(new AircraftMakeDataVM())">
                            Add <CustomIcons IconName="add"></CustomIcons>
                        </TelerikButton>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<TelerikGrid TItem="AircraftMakeDataVM" OnRead="@LoadData" Pageable="true" @ref="@grid"
             Sortable="true" PageSize="@pageSize" PageSizeChanged="@PageSizeChangedHandler">

    <GridSettings>
        <Web.UI.Shared.Components.TelerikGridPager.TelerikGridPagerComponent></Web.UI.Shared.Components.TelerikGridPager.TelerikGridPagerComponent>
    </GridSettings>

    <GridColumns>

        <GridColumn Field="@nameof(AircraftMakeDataVM.Name)" />

        <GridCommandColumn Context="dataItem" Title="Action">
            @{
                AircraftMakeDataVM aircraftMakeDataVM = dataItem as AircraftMakeDataVM;

                // @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Edit, moduleName))
                // {
                <TelerikButton Class="btn k-btn-grid-edit mx-1" ThemeColor="success" OnClick="()=>AircraftMakeCreateDialog(aircraftMakeDataVM)"
                           Enabled=!aircraftMakeDataVM.IsLoadingEditButton>
                    <CustomIcons IconName="edit"></CustomIcons>
                    <TelerikLoader Class="loader-indicator" Size="sm" ThemeColor="light" Visible="aircraftMakeDataVM.IsLoadingEditButton">
                    </TelerikLoader>
                </TelerikButton>
                //  }

                // TODO:
                // @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Delete, moduleName))
                //  {
                <TelerikButton Class="btn k-btn-grid-delete mx-1" ThemeColor="error" OnClick="()=>OpenDeleteDialog(aircraftMakeDataVM)">
                    <CustomIcons IconName="delete"></CustomIcons>
                </TelerikButton>
                // }
            }
        </GridCommandColumn>

    </GridColumns>

</TelerikGrid>

@if (isDisplayPopup)
{
    <CustomPopupComponent Title="@popupTitle"
                      HeaderCssClass=@CustomPopupComponent.GetHeaderCssClass(operationType)
                      CloseOnOutsideClick="false"
                      OnClose="@(()=> {isDisplayPopup = false;})">
        <Body>

            @if (operationType == OperationType.Create || operationType == OperationType.Edit)
            {
                <Web.UI.Pages.AircraftMake.Create AircraftMake=@_aircraftMake CloseDialogCallBack="@CloseDialog"></Web.UI.Pages.AircraftMake.Create>
            }
            else
            {
                //Delete popup
                <div>
                    <p class="mb-4">Are you sure, You want to remove <b> @_aircraftMake.Name </b>?</p>
                    <div class="row" style="text-align:right">
                        <div class="col">

                            @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Delete, moduleName))
                            {
                            }

                            <TelerikButton Class="btn k-btn-danger" OnClick="() => DeleteAsync(_aircraftMake.Id)" Enabled="@(!isBusyDeleteButton)">
                                Yes
                                <TelerikLoader Class="loader-indicator" Size="sm" ThemeColor="light" Visible="@isBusyDeleteButton">
                                </TelerikLoader>
                            </TelerikButton>

                            <TelerikButton ThemeColor="secondary" Class="btn k-btn-secondary" OnClick="() => isDisplayPopup = false">
                                No
                            </TelerikButton>

                        </div>
                    </div>
                </div>
            }
        </Body>
    </CustomPopupComponent>
}