@namespace FSM.Blazor.Pages.SubscriptionPlan
@using DataModels.Enums
@using FSM.Blazor.Data.SubscriptionPlan
@using FSM.Blazor.Data.ModuleDetail
@using DataModels.VM.SubscriptionPlan
@using Configuration;
@using Syncfusion.Blazor;


@inject SubscriptionPlanService SubscriptionPlanService
@layout MainLayout
@inject DialogService DialogService
@inject NavigationManager NavManager
@inject ModuleDetailsService ModuleDetailsService

@page "/SubscriptionPlan"


<PageTitle>Subscription Plan | Fly Manager </PageTitle>

<div class="row mb-4">
    <div class="col">
        <h2 style="float:left">Manage Subscription Plans Details</h2>

        @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Create, @moduleName))
        {
            <RadzenButton Style="float:right" Text="Add New" IsBusy=@isBusyAddNewButton BusyText="Add New ..." Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary"
                      Click=@(() => SubscriptionPlanCreateDialog(0, "Create", true
                      )) />
        }
    </div>
</div>

<div class="row">

    <div class="col-md-4" style="padding-top:0.5%; margin: 8px 0px">
        <RadzenTextBox style="width: 100%;" Name="SearchText" Change="@(args =>  LoadData())"
                       Placeholder="Search Subscription Plan" @bind-Value="@searchText" />
    </div>

</div>

@if (data != null)
{
    @foreach (var item in data)
    {
        <div class="card" style="width: 18rem;">

            <RadzenLabel Text="@item.Name"></RadzenLabel>
            <RadzenLabel Text="@("$ " + item.Price.ToString())"></RadzenLabel>
            <RadzenLabel Text="@(item.Duration.ToString() + " Month(s)")"></RadzenLabel>

            <div class="card-body">

                @foreach (var module in item.ModulesName.Split(","))
                {
                    <br />
                    <RadzenLabel Text="@module"></RadzenLabel>
                }

                <p>This is basic plan for 3 months with combo feature where oyu can get multiple modules in single package.</p>
            </div>

            <div class="card-footer">

                @if (_currentUserPermissionManager.IsValidUser(AuthStat, UserRole.SuperAdmin).Result)
                {

                    <RadzenButton ButtonStyle="ButtonStyle.Success" Text="Edit" IsBusy=@item.IsLoadingEditButton BusyText="Edit ..." Icon="mode_edit"
                      Click=@(() => SubscriptionPlanCreateDialog(item.Id, "Create", true)) />

                    <RadzenButton Text="Delete" Icon="delete_sweep" ButtonStyle="ButtonStyle.Danger"
                      Click=@(() => OpenDeleteDialog(item)) />

                    @if (item.IsActive)
                    {
                        <RadzenButton ButtonStyle="ButtonStyle.Warning" Text="Deactivate" Icon=""
                      Click=@(() => OpenUpdatePlanStatusDialog(false, item.Name,item.Id)) />
                    }
                    else
                    {
                        <RadzenButton ButtonStyle="ButtonStyle.Info" Text="Activate" Icon=""
                      Click=@(() => OpenUpdatePlanStatusDialog(true, item.Name ,item.Id)) />
                    }
                }
                else
                {
                     <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Buy Now" IsBusy=@item.IsLoadingEditButton BusyText="Buy ..." Icon="shopping_cart"
                      Click=@(() => SubscriptionPlanCreateDialog(item.Id, "Create", true)) />
                }
            </div>
        </div>
    }
}

@{
    async Task OpenDeleteDialog(SubscriptionPlanDataVM subscriptionPlanDataVM)
    {
        var result = await DialogService.OpenAsync("Delete", ds =>
    @<div>
        <p class="mb-4">Are you sure, You want to delete <b> @subscriptionPlanDataVM.Name </b>?</p>
        <div class="row" style="text-align:right">
            <div class="col">
                <RadzenButton Text="Yes" ButtonStyle="ButtonStyle.Danger" Click="() => DeleteAsync(subscriptionPlanDataVM.Id) " Class="mr-1" Style="width: 80px;" />
                <RadzenButton Text="No" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Class="mr-1" Style="width: 80px;" />

            </div>
        </div>
    </div>
    , new DialogOptions { Width = "360px" });

    }

    async Task OpenUpdatePlanStatusDialog(bool value, string name, int id)
    {
        string message = "Are you sure, you want to activate ";
        string title = "Actiavate";

        if (value == false)
        {
            message = "Are you sure, you want to deactivate ";
            title = "Deactivate";
        }

        var result = await DialogService.OpenAsync(title, ds =>
    @<div>
        <p class="mb-4"> @message <b> @name </b>?</p>
        <div class="row" style="text-align:right">
            <div class="col">

                @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Edit, @moduleName))
                    {
                        <RadzenButton Text="Yes" ButtonStyle="ButtonStyle.Primary" Click="() =>
                        UpdateIsPlanActiveAsync(value,id) " Class="mr-1" Style="width: 80px;" IsBusy="@isBusyUpdateStatusButton" BusyText="Updating ..." />
                    }

                    @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Delete, @moduleName))
                    {
                        <RadzenButton Text="No" Click="() => ClosePplanStatusUpdateDialogAsync()" ButtonStyle="ButtonStyle.Secondary" Class="mr-1" Style="width: 80px;" />
                    }

                </div>
            </div>
        </div>
    , new DialogOptions { Width = "360px" });

    }
}