@using DE = DataModels.Entities
@using FSM.Blazor.Data.AircraftMake

@inject Radzen.DialogService DialogService
@inject AircraftMakeService AircraftMakeService

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<RadzenTemplateForm Data="@aircraftMake" Submit="@((DE.AircraftMake args) => {  Submit(); })">

    <div class="popup-content">
        <input type="hidden" value="@aircraftMake.Id" name="Id" />

        <div class="row">

            <div class="col-md-12 align-items-center d-flex">
                <RadzenLabel Text="Name" />
            </div>

            <div class="col-md-12">
                <RadzenTextBox style="width: 100%;" Placeholder="Make" Name="Make" @bind-Value="@aircraftMake.Name" />
                <RadzenRequiredValidator Component="Make" Text="Make is required" Popup="@isPopup" Style="position: relative" />

            </div>

        </div>

        <hr />

        <div class="row" style="margin-top:4%">
            <div class="col-md-12 text-right">
                <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Text="Save" Style="width: 120px" />
                <RadzenButton Click="@((args) => CloseDialog(true))" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="width: 120px" Class="mr-1" />
            </div>
        </div>
    </div>

</RadzenTemplateForm>