@using DataModels.VM.MyAccount;
@using Web.UI.Shared.Components;

@page "/ChangePassword"

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<PageTitle>Change Password | Fly Manager </PageTitle>
<div class="row my-2">
    <ComponentTitle Title="Change Password" Type="AdministrationTitle" />
</div>
<div class="card" style="margin-top:30px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 d-flex align-items-center justify-content-start">
            <div class="w-100">
                <div class="row my-2">
                    <div class="col-12">
                        <TelerikForm Model="@changePasswordVM" OnValidSubmit="@Submit">

                <FormValidation>
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                </FormValidation>

                <FormItems>
                    <div class="my-2"></div>
                    <div class="row mx-3 my-2">
                        <div class="col-md-12 align-items-center d-flex">
                            <label for="oldPassword" class="k-label k-form-label">Old Password</label>
                        </div>
                        <div class="col-md-12">
                            <TelerikTextBox Id="oldPassword" @bind-Value="@changePasswordVM.OldPassword" PlaceHolder="Old Password"></TelerikTextBox>
                            <TelerikValidationMessage For="@(() => changePasswordVM.OldPassword)"></TelerikValidationMessage>
                        </div>
                    </div>

                    <div class="row mx-3 my-2">
                        <div class="col-md-12 align-items-center d-flex">
                            <label for="newPassword" class="k-label k-form-label">New Password</label>
                        </div>
                        <div class="col-md-12">
                            <TelerikTextBox Id="newPassword" @bind-Value="@changePasswordVM.NewPassword" PlaceHolder="New Password"></TelerikTextBox>
                            <TelerikValidationMessage For="@(() => changePasswordVM.NewPassword)"></TelerikValidationMessage>
                        </div>
                    </div>

                    <div class="row mx-3 my-2">
                        <div class="col-md-12 align-items-center d-flex">
                            <label for="confirmPassword" class="k-label k-form-label">Confirm Password</label>
                        </div>
                        <div class="col-md-12">
                            <TelerikTextBox Id="confirmPassword" @bind-Value="@changePasswordVM.ConfirmPassword" PlaceHolder="Confirm Password"></TelerikTextBox>
                            <TelerikValidationMessage For="@(() => changePasswordVM.ConfirmPassword)"></TelerikValidationMessage>
                        </div>
                    </div>

                    @*  <div class="row" style="margin-top:4%">
                    <div class="col-md-12 text-right">
                    <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" BusyText="Updating ..." IsBusy="@isBusy" Text="Update" Style="width: 130px" />
                    <RadzenButton Click="@((args) => CloseDialog(true))" ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" Class="mr-1" />
                    </div>
                    </div>
                    *@
                </FormItems>

                <FormButtons>
                    <div class="row mx-3 my-2">
                        <div class="my-2 col-12 d-flex justify-content-end">
                            <TelerikButton ButtonType="@ButtonType.Submit" ThemeColor="info" Class="btn k-btn-primary mx-0" Enabled="@(!isBusySubmitButton)">
                                Change Password
                                <TelerikLoader Class="button-loader-indicator" ThemeColor="light" Visible="@isBusySubmitButton">
                                </TelerikLoader>
                            </TelerikButton>
                        </div>
                    </div>
                </FormButtons>

            </TelerikForm>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 d-flex align-items-center justify-content-center">
            <div class="">
                <div class="row my-1">
                    <div class="col-12">
                        <FontLabel>
                            <span>Password Strength</span>
                        </FontLabel>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-12">
                        <FontLabel>
                            @if (@System.Text.RegularExpressions.Regex.Match(changePasswordVM.NewPassword, LowerCasePattern).Success)
                            {
                                <TelerikIcon Icon="check-circle" Class="text-success"></TelerikIcon>
                                <span class="text-success">Lower case</span>
                            }
                            else
                            {
                                <TelerikIcon Icon="x-circle" Class="text-danger"></TelerikIcon> <span class="text-danger">Lower case not added</span>
                            }
                        </FontLabel>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-12">
                        <FontLabel>
                            @if (@System.Text.RegularExpressions.Regex.Match(changePasswordVM.NewPassword, UpperCasePattern).Success)
                            {
                                <TelerikIcon Icon="check-circle" Class="text-success"></TelerikIcon>
                                <span class="text-success">Upper case</span>
                            }
                            else
                            {
                                <TelerikIcon Icon="x-circle" Class="text-danger"></TelerikIcon> <span class="text-danger">Upper case not added</span>

                            }
                        </FontLabel>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-12">
                        <FontLabel>
                            @if (@System.Text.RegularExpressions.Regex.Match(changePasswordVM.NewPassword, DigitPattern).Success)
                            {
                                <TelerikIcon Icon="check-circle" Class="text-success"></TelerikIcon> <span class="text-success">Digit pattern</span>
                            }
                            else
                            {
                                <TelerikIcon Icon="x-circle" Class="text-danger"></TelerikIcon> <span class="text-danger">Digit pattern not added</span>
                            }
                        </FontLabel>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-12">
                        <FontLabel>
                            @if (@System.Text.RegularExpressions.Regex.Match(changePasswordVM.NewPassword, SpecialCharacterPattern).Success)
                            {
                                <TelerikIcon Icon="check-circle" Class="text-success"></TelerikIcon> <span class="text-success">Special character</span>
                            }
                            else
                            {
                                <TelerikIcon Icon="x-circle" Class="text-danger"></TelerikIcon> <span class="text-danger">Special character not added</span>
                            }
                        </FontLabel>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 d-flex align-items-center justify-content-start">
            <div class="">
                <div class="row my-2">
                    <div class="col-12">
                        <FontLabel>
                            <span>CHARACTERISTICS OF STRONG PASSWORDS</span>
                        </FontLabel>
                    </div> 
                    <div class="col-12">
                        <FontLabel>
                           <ul>
                               <li>
                                   At least 12 characters (required for your Muhlenberg password)—the more characters, the better
                               </li>
                               <li>
                                   A mixture of both uppercase and lowercase letters
                               </li>
                               <li>
                                   A mixture of letters and numbers
                               </li>
                               <li>
                                    Inclusion of at least one special character, e.g., ! @@ # ? ]
                               </li>
                           </ul>
                        </FontLabel>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
