@using DataModels.VM.MyAccount;
@using Web.UI.Shared.Components;

@page "/ChangePassword"

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<PageTitle>Change Password | Fly Manager </PageTitle>
<div class="row my-2">
    <ComponentTitle Title="Change Password" Type="AdministrationTitle" />
</div>
<div class="card" style="margin-top:30px;">
    <TelerikForm Model="@changePasswordVM" OnValidSubmit="@Submit">

        <FormValidation>
            <DataAnnotationsValidator></DataAnnotationsValidator>
        </FormValidation>

        <FormItems>
            <div class="my-2"></div>
            <div class="row mx-3 my-2">
                <div class="col-md-12 align-items-center d-flex">
                    <label for="oldPassword" class="k-label k-form-label">Old Password</label>
                </div>
                <div class="col-md-12">
                    <TelerikTextBox Id="oldPassword" @bind-Value="@changePasswordVM.OldPassword" PlaceHolder="Old Password"></TelerikTextBox>
                    <TelerikValidationMessage For="@(() => changePasswordVM.OldPassword)"></TelerikValidationMessage>
                </div>
            </div>

            <div class="row mx-3 my-2">
                <div class="col-md-12 align-items-center d-flex">
                    <label for="newPassword" class="k-label k-form-label">New Password</label>
                </div>
                <div class="col-md-12">
                    <TelerikTextBox Id="newPassword" @bind-Value="@changePasswordVM.NewPassword" PlaceHolder="New Password"></TelerikTextBox>
                    <TelerikValidationMessage For="@(() => changePasswordVM.NewPassword)"></TelerikValidationMessage>
                </div>
            </div>

            <div class="row mx-3 my-2">
                <div class="col-md-12 align-items-center d-flex">
                    <label for="confirmPassword" class="k-label k-form-label">Confirm Password</label>
                </div>
                <div class="col-md-12">
                    <TelerikTextBox Id="confirmPassword" @bind-Value="@changePasswordVM.ConfirmPassword" PlaceHolder="Confirm Password"></TelerikTextBox>
                    <TelerikValidationMessage For="@(() => changePasswordVM.ConfirmPassword)"></TelerikValidationMessage>
                </div>
            </div>

            @*  <div class="row" style="margin-top:4%">
            <div class="col-md-12 text-right">
            <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" BusyText="Updating ..." IsBusy="@isBusy" Text="Update" Style="width: 130px" />
            <RadzenButton Click="@((args) => CloseDialog(true))" ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" Class="mr-1" />
            </div>
            </div>
            *@
        </FormItems>

        <FormButtons>
            <div class="row mx-3 my-2">
                <div class="my-2 col-12 d-flex justify-content-end">
                    <TelerikButton ButtonType="@ButtonType.Submit" ThemeColor="info" Class="btn k-btn-primary mx-0" Enabled="@(!isBusySubmitButton)">
                        Change Password
                        <TelerikLoader Class="button-loader-indicator" ThemeColor="light" Visible="@isBusySubmitButton">
                        </TelerikLoader>
                    </TelerikButton>
                </div>
            </div>
        </FormButtons>

    </TelerikForm>

</div>
