@namespace Web.UI.Pages.MyAccount
@using DataModels.Enums
@using Web.UI.Shared.Components;

@page "/myprofile"

<PageTitle>My Profile | Upflyte </PageTitle>

<style>
    .nav-item {
        border-right: 2px solid rgba(17, 17, 17, 0.3);
    }

        .nav-item:last-child {
            border-right: none;
        }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: inherit;
        background-color: inherit;
        border-bottom: 4px solid #03AAFC;
    }

    .nav.nav {
        border-bottom: 1px solid #D9D9D9;
    }

    .custom-label {
        color: #8A8C9B;
    }
</style>
<div class="row my-0">
    <div class="col-md-12 col-lg-3 col-12 my-0 col-xl-2 @(isLeftBarVisible ? "":"d-none")">
        <div class="card p-0 no-box-shadow">
            <div class="card-body p-0 ">
                <div>
                    <div class="row d-flex justify-content-center align-items-start w-100 m-0 profile-image-hover" style="height: 150px;border-radius: 5px 5px 0 0;background-color:transparent;border: 0;background-repeat: no-repeat;background-size: 100% 100%;background-image: url('@(userVM.ImageName)'), url('../img/thumbnail-userprofile.png');">
                        <span class="d-flex justify-content-between mt-3 k-cursor-pointer">

                            <TelerikButton ThemeColor="light" Size="xs" Class="btn k-btn-link  m-0 p-0 highlight-hover" OnClick="@(() => NavigationManager.NavigateTo("/Aircraft"))">
                                <CustomIcons IconName="share-backward-line" PrimaryColor="#FFF" />
                            </TelerikButton>

                            <label for="filePicker" class="k-cursor-pointer highlight-hover">
                                <CustomIcons IconName="edit-square" PrimaryColor="white" />
                                <InputFile id="filePicker" accept="@supportedImagesFormats" style="display:none" OnChange="@OnInputFileChangeAsync"></InputFile>
                            </label>
                        </span>
                    </div>
                </div>
                <hr class="m-0" />
                <div class="row d-flex justify-content-between d-flex align-items-center  my-1">
                    <div class="d-flex justify-content-center  align-items-center">
                        <span class="mx-2">
                            <CustomIcons IconName="user" PrimaryColor="black"></CustomIcons>
                            Personal Information

                            <TelerikButton ThemeColor="info" Class="btn k-btn-primary mx-1 p-1 " Size="xs" OnClick="@(() => OpenUpdateProfileDialog())">
                                Update
                            </TelerikButton>
                        </span>
                    </div>
                </div>

                <hr class="m-0" />
                <div>
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">First Name :</FontLabel></div>
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#042455">@userVM.FirstName</FontLabel></div>
                    </div>
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Last Name :</FontLabel></div>
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#042455">@userVM.LastName</FontLabel></div>
                    </div>
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">User Role :</FontLabel></div>
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#042455">@userVM.Role</FontLabel></div>
                    </div>
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Email :</FontLabel></div>
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#042455">@userVM.Email</FontLabel></div>
                    </div>
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Mobile :</FontLabel></div>
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#042455">@userVM.Phone</FontLabel></div>
                    </div>
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Date Of Birth :</FontLabel></div>
                        <div class="col-6 d-flex justify-content-start">
                            <FontLabel fontColor="#042455">
                                @{
                                    @if (userVM.DateofBirth != null)
                                    {
                                        <label for="inputFirstName" class="">
                                            @userVM.DateofBirth.Value.ToShortDateString()
                                        </label>
                                    }
                                    else
                                    {
                                        <label for="inputFirstName" class="">-</label>
                                    }

                                }
                            </FontLabel>
                        </div>
                    </div>
                    <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Gender :</FontLabel></div>
                        <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#042455">@userVM.Gender</FontLabel></div>
                    </div>

                    <hr class="m-0" />
                    <div class="row d-flex justify-content-between d-flex align-items-center  my-1">
                        <div class="d-flex justify-content-center  align-items-center">
                            <span class="mx-2">
                                <CustomIcons IconName="company" PrimaryColor="black"></CustomIcons>
                                Company Information
                                <CustomIcons IconName="edit" PrimaryColor="black"></CustomIcons>
                            </span>
                        </div>
                    </div>
                    <hr class="m-0" />
                    <div>
                        <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                            <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Company Name :</FontLabel></div>
                            <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#042455">@userVM.CompanyName</FontLabel></div>
                        </div>
                        <div class="row p-2 m-0 w-100 ap-value d-flex align-items-top border-0 text-break">
                            <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#8A8C9B">Phone :</FontLabel></div>
                            <div class="col-6 d-flex justify-content-start"><FontLabel fontColor="#042455">@userVM.Phone</FontLabel></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        @* <UpcomingFlights upcomingFlights="@upcomingFlights"></UpcomingFlights>*@

    </div>
    <div class="col-md-12 col-12 my-0 @(isLeftBarVisible ? "col-lg-9 ps-0 col-xl-10":"col-lg-12")">
        <div class="cursor-pointer mb-2" @onclick=@(() => ToggleLeftPane())><FontLabel fontColor="#0D89DD" fontSize="12px"><CustomIcons IconName="toggle-hamburg" PrimaryColor="#0D89DD"></CustomIcons> Toggle Left Pane</FontLabel></div>
        <div class="card">
            <TelerikTabStrip Class="k-tabstrip-list">

                <TabStripTab>
                    <HeaderTemplate>
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="mx-2">
                                <CustomIcons IconName="settings" PrimaryColor="#03AAFC"></CustomIcons>
                            </span>
                            <span>My Preference</span>
                        </div>
                    </HeaderTemplate>
                    <Content>
                        <MyPreference UserPreferencesList=@userVM.UserPreferences></MyPreference>
                    </Content>
                </TabStripTab>

                @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.View, "Document"))
                {
                    <TabStripTab>
                        <HeaderTemplate>
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="mx-2">
                                    <CustomIcons IconName="document" PrimaryColor="#03AAFC"></CustomIcons>
                                </span>
                                <span>Documents</span>
                            </div>
                        </HeaderTemplate>
                        <Content>
                            <Web.UI.Pages.Document.Index ParentModuleName="@Module.MyProfile.ToString()" IsPersonalDocument="true">
                            </Web.UI.Pages.Document.Index>
                        </Content>
                    </TabStripTab>
                }

                @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.View, "Reservation"))
                {
                    <TabStripTab>
                        <HeaderTemplate>
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="mx-2">
                                    <CustomIcons IconName="reservation" PrimaryColor="#03AAFC"></CustomIcons>
                                </span>
                                <span>Reservation</span>
                            </div>
                        </HeaderTemplate>
                        <Content>
                            <Web.UI.Pages.Reservation.Index ParentModuleName="@Module.MyProfile.ToString()" UserId="@userVM.Id">
                            </Web.UI.Pages.Reservation.Index>
                        </Content>
                    </TabStripTab>
                }

                @*pending to add logbook permission*@

                @if (!globalMembers.IsSuperAdmin)
                {
                    <TabStripTab>
                        <HeaderTemplate>
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="mx-2">
                                    <CustomIcons IconName="logbook" PrimaryColor="#03AAFC"></CustomIcons>
                                </span>
                                <span>LogBook</span>
                            </div>
                        </HeaderTemplate>
                        <Content>
                            <Web.UI.Pages.LogBook.LogBookList ParentModuleName="@Module.MyProfile.ToString()" UserIdParam="@userVM.Id">
                            </Web.UI.Pages.LogBook.LogBookList>
                        </Content>
                    </TabStripTab>
                }

            </TelerikTabStrip>
        </div>
    </div>
</div>


@if (isDisplayPopup)
{
    popupTitle = "Update User";
    <CustomPopupComponent Title="@popupTitle"
                      HeaderCssClass=@CustomPopupComponent.GetHeaderCssClass(operationType)
                      CloseOnOutsideClick="false" Width="600px"
                      OnClose="@(()=> {isDisplayPopup = false;})">
        <Body>
            @if (operationType == OperationType.Create || operationType == OperationType.Edit)
            {
                <Web.UI.Pages.User.Create userData="@userVM" CloseDialogCallBack="@CloseDialog">
                </Web.UI.Pages.User.Create>
            }
        </Body>
    </CustomPopupComponent>
}
