@namespace FSM.Blazor.Pages.AircraftMake
@using FSM.Blazor.Data.AircraftMake
@using DataModels.VM.AircraftMake

@inject AircraftMakeService AircraftMakeService
@layout MainLayout

@page "/AircraftMake"

<div class="row">
    <div class="col">
        <h2 style="float:left">Manage Aircraft Makes</h2>
        <RadzenButton Style="float:right" Text="Add New" Icon="add_circle_outline" IsBusy="@isBusyAddButton" BusyText="Add New .."
                      ButtonStyle="ButtonStyle.Primary" Click=@(() => AircraftMakeCreateDialog(new AircraftMakeDataVM(), "Create AircraftMake")) />
    </div>
</div>


<div class="row" style="margin-bottom:22px;">

    <div class="col-md-4">
        <RadzenTextBox style="width: 100%;" Name="SearchText" Change="@(args =>  grid.Reload())"
                       Placeholder="Search Aircraft Make" @bind-Value="@searchText" />
    </div>

</div>

<RadzenDataGrid AllowFiltering="true" @ref="grid" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Simple" AllowPaging="true" IsLoading="@isLoading"
                PageSize="@pageSize"
                AllowSorting="true" Data="@data" TItem="AircraftMakeDataVM"
                PageSizeOptions="@pageSizeOptions"
                Count="@count" LoadData="@LoadData" ShowPagingSummary="true"
                PagingSummaryFormat="@pagingSummaryFormat">
    <Columns>

        <RadzenDataGridColumn TItem="AircraftMakeDataVM" Filterable="false" Property="Name" Title="Name"></RadzenDataGridColumn>

        <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="160px" Sortable="false" Filterable="false" TItem="AircraftMakeDataVM" Property="Id" Title="Actions">
            <Template Context="data">

                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="mode_edit" IsBusy="@data.IsLoadingEditButton" Class="m-1" Click=@(() => AircraftMakeCreateDialog(data,"Edit AircraftMake")) />
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete_sweep" Class="m-1"
                              Click=@(args => OpenDeleteDialog(data)) />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

    @if (isDisplayPopup)
{
    <CustomPopupComponent Title="@popupTitle"
                      HeaderCssClass=@CustomPopupComponent.GetHeaderCssClass(operationType)
                      CloseOnOutsideClick="false"
                      OnClose="@(()=> {isDisplayPopup = false;})">
        <Body>

            @if (operationType == OperationType.Create || operationType == OperationType.Edit)
            {
                <FSM.Blazor.Pages.AircraftMake.Create AircraftMake=@_aircraftMake CloseDialogCallBack="@CloseDialog" ></FSM.Blazor.Pages.AircraftMake.Create>
           }
            else
            {
                //Delete popup
                <div>
                    <p class="mb-4">Are you sure, You want to remove <b> @_aircraftMake.Name </b>?</p>
                    <div class="row" style="text-align:right">
                        <div class="col">

                            @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Delete, moduleName))
                            {
                                <RadzenButton Text="Yes" ButtonStyle="ButtonStyle.Danger" Click="() => DeleteAsync(_aircraftMake.Id) " Class="mr-1" Style="width: 80px;" />
                            }

                            <RadzenButton Text="No" Click="@(() => isDisplayPopup = false)" ButtonStyle="ButtonStyle.Light" Class="mr-1" Style="width: 80px;" />

                        </div>
                    </div>
                </div>
            }
        </Body>
    </CustomPopupComponent>
}