@using DataModels.VM.Company
@using FSM.Blazor.Data.Company

@inject Radzen.DialogService dialogService
@inject CompanyService CompanyService
@inject DialogService DialogService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<RadzenTemplateForm @ref=@compnayForm Data="@companyData" Submit="@((CompanyVM args) => {  Submit(args); })">
    <div class="popup-content">
        <input type="hidden" value="@companyData.Id" name="Id" />

        <div class="row">
            <div class="col-md-12 align-items-center d-flex">
                <RadzenLabel Text="Name" />
            </div>
            <div class="col-md-12">
                <RadzenTextBox style="width: 100%;" Name="Name" @bind-Value="@companyData.Name" Placeholder="Please enter name" />
                <RadzenRequiredValidator Component="Name" Text="Name is required" Popup="@isPopup" Style="position: relative" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 align-items-center d-flex">
                <RadzenLabel Text="Address" />
            </div>
            <div class="col-md-12">
                <RadzenTextArea style="width: 100%;" Name="Address" @bind-Value="@companyData.Address" Placeholder="Please enter address" />
                <RadzenRequiredValidator Component="Address" Text="Address is required" Popup="@isPopup" Style="position: relative" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 align-items-center d-flex">
                <RadzenLabel Text="Timezone" />
            </div>
            <div class="col-md-12">
                <RadzenDropDown AllowClear="true" TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" Class="w-100"
                                Placeholder="Select timezone" Data=@timeZoneInfos TextProperty="DisplayName"
                                ValueProperty="StandardName" Name="TimeZone" @bind-Value="@companyData.TimeZone" />
                <RadzenRequiredValidator Component="TimeZone" Text="Timezone is required" Popup="@isPopup" Style="position: relative" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Contact No" />
            </div>
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Website" />
            </div>
            <div class="col-md-6">
                <RadzenTextBox style="width: 100%;" Name="ContactNo" @bind-Value="@companyData.ContactNo" Placeholder="Please enter contact" />
            </div>
            <div class="col-md-6">
                <RadzenTextBox style="width: 100%;" Name="Website" @bind-Value="@companyData.Website" Placeholder="Please enter website" />
                @* <RadzenRegexValidator Component="Website" Text="Please enter valid webiste" Pattern="/^((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+(\.[a-z]{2,}){1,3}(#?\/?[a-zA-Z0-9#]+)*\/?(\?[a-zA-Z0-9-_]+=[a-zA-Z0-9-%]+&?)?$/;" Style="position: relative" />*@
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Primary Airport" />
            </div>
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Primary Service" />
            </div>
            <div class="col-md-6">
                <RadzenTextBox style="width: 100%;" Name="PrimaryAirport" @bind-Value="@companyData.PrimaryAirport" Placeholder="Please enter primary airport" />
            </div>
            <div class="col-md-6">
                <RadzenDropDown AllowClear="true" TValue="int?" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" Class="w-100"
                                Placeholder="Select company service" Data=@companyData.PrimaryServicesList TextProperty="Name"
                                ValueProperty="Id" Name="PrimaryServiceId" @bind-Value="@(primaryServiceId)" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12 text-right">

                @if (isAuthenticated)
                {
                    if (companyData.Id == 0)
                    {
                        <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Text="Save" IsBusy=@isBusy Style="width: 120px" />    
                    } 
                    else
                    {
                        <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Text="Update" IsBusy=@isBusy Style="width: 120px" />
                    }
                    
                    <RadzenButton Click="@((args) => CloseDilaog(true))"
                              ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" Class="mr-1" />
                }
                else
                {
                    <RadzenButton ButtonType="ButtonType.Button" Click="@GotoNextStep" ButtonStyle="ButtonStyle.Success"  Text="Next" Style="width: 120px" />
                    <RadzenButton Click="@RedirectToLogin" ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" Class="mr-1" />
                }
            </div>
        </div>
    </div>


</RadzenTemplateForm>
