@namespace FSM.Blazor.Pages.Company
@using DataModels.Enums
@using FSM.Blazor.Data.Company
@using DataModels.VM.Company
@using FSM.Blazor.Utilities;
@using Configuration;
@using FSM.Blazor.Shared.Components;

@inject NavigationManager NavigationManager
@inject CompanyService CompanyService
@layout MainLayout
@inject DialogService DialogService
@inject AuthenticationStateProvider AuthenticationStateProvider

@page "/Company"


<div class="row">
    <div class="col">
        <h2 style="float:left">Manage Companies Details</h2>
        @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Create, moduleName))
        {
            <RadzenButton Style="float:right" Text="Add New" Icon="add_circle_outline"
                      ButtonStyle="ButtonStyle.Primary" Click=@(() => CompanyCreateDialog(new CompanyVM(), "Create")) />
        }
    </div>
</div>


<div class="row" style="margin-bottom:22px;">

    <div class="col-md-4">
        <RadzenTextBox style="width: 100%;" Name="SearchText" Change="@(args =>  grid.Reload())"
                       Placeholder="Search Company" @bind-Value="@searchText" />
    </div>

</div>

<RadzenDataGrid AllowFiltering="true" @ref="grid" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Simple" AllowPaging="true" IsLoading="@isLoading"
                PageSize="@pageSize"
                AllowSorting="true" Data="@data" TItem="CompanyVM"
                PageSizeOptions="@pageSizeOptions"
                Count="@count" LoadData="@LoadData" ShowPagingSummary="true"
                PagingSummaryFormat="@pagingSummaryFormat">
    <Columns>

        <RadzenDataGridColumn TItem="CompanyVM" Title="Logo"  Sortable="false" Filterable="false" Width="65px">
            <Template Context="data">
                <RadzenImage onerror="this.onerror=null;this.src='../img/company-default-logo.png';" Path="@data.LogoPath" style="width: 45px; height: 45px; border-radius: 22px;" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CompanyVM" Title="Name" Filterable="false" Sortable="false">
            <Template Context="value">

                <a href="javascript:void(0)" @onclick="@((ui) => OpenCompanyDetailPagge(value))">@value.Name</a>

            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CompanyVM" Filterable="false" Property="Name" Title="Name"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CompanyVM" Filterable="false" Sortable="false" Property="Address" Title="Address"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CompanyVM" Filterable="false" Sortable="false" Property="TimeZone" Title="TimeZone"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CompanyVM" Filterable="false" Sortable="false" Property="ContactNo" Title="Contact No"></RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CompanyVM" Title="Website" Filterable="false" Sortable="false">
            <Template Context="value">

                @if (!string.IsNullOrWhiteSpace(value.Website))
                {
                    <a href="@value.Website" target="_blank">@value.Website</a>
                }
                else
                {
                    <RadzenLabel Text="-"></RadzenLabel>
                }

            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="160px" Sortable="false" Filterable="false" TItem="CompanyVM" Property="Id" Title="Actions">
            <Template Context="data">

                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="settings" Class="m-1" Click=@(() => OpenCompanyDetailPagge(data)) />
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="mode_edit" Class="m-1" Click=@(() => CompanyCreateDialog(data,"Edit")) />
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete_sweep" Class="m-1"
                              Click=@(args => OpenDeleteDialog(data)) />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
@if (OpenPopup)
{
    <FlightCommonPopupModal Title="@OpenPopupTitle"
                        HeaderCssClass="@(GetHeaderCssClass())"
                        HeaderTitleCssClass="@(GetHeaderTitleCssClass())"
                        CloseOnOutsideClick="false"
                        OnClose="@(()=> {OpenPopup = false;})">
        <Body>
            
            @if (OpenCompanyEditPopup)
            {
                <Create companyData=@(_companyData)></Create>
            }
            else if(OpenCompanyDeletePopup)
            {
                //Delete popup 
            }
        </Body>
    </FlightCommonPopupModal>
}
@{
    async Task OpenDeleteDialog(CompanyVM companyVM)
    {
        var result = await DialogService.OpenAsync("Delete", ds =>
    @<div>
        <p class="mb-4">Are you sure, You want to delete <b> @companyVM.Name </b>?</p>
        <div class="row" style="text-align:right">
            <div class="col">

                @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Edit, moduleName))
                    {
                        <RadzenButton Text="Yes" ButtonStyle="ButtonStyle.Danger" Click="() => DeleteAsync(companyVM.Id) " Class="mr-1" Style="width: 80px;" />
                    }

                    @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Delete, moduleName))
                    {
                        <RadzenButton Text="No" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Class="mr-1" Style="width: 80px;" />
                    }
                </div>
            </div>
        </div>
    , new DialogOptions { Width = "360px" });

    }
}