@using DataModels.VM.User
@using DataModels.Enums
@using FSM.Blazor.Data.User

@inject Radzen.DialogService dialogService
@inject UserService UserService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<RadzenTemplateForm @ref=@userForm Data="@userData" Submit="@((UserVM args) => {  Submit(args); })">

    <div class="popup-content">

        <input type="hidden" value="@userData.Id" name="Id" />

        <div class="row">

            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="First Name" />
            </div>
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Last Name" />
            </div>

            <div class="col-md-6">
                <RadzenTextBox style="width: 100%;" Name="FirtsName" @bind-Value="@userData.FirstName" Placeholder="First Name" />
                <RadzenRequiredValidator Component="FirtsName" Text="Firt name is required" Popup="@isPopup" Style="position: relative" />
            </div>

            <div class="col-md-6">
                <RadzenTextBox style="width: 100%;" Name="LastName" @bind-Value="@userData.LastName" Placeholder="Last Name" />
                <RadzenRequiredValidator Component="LastName" Text="Last name is required" Popup="@isPopup" Style="position: relative" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Email" />
            </div>
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Mobile No" />
            </div>

            <div class="col-md-6">
                <RadzenTextBox style="width: 100%;" ReadOnly="@(userData.Id > 0)" Name="Email" @bind-Value="@userData.Email" Placeholder="Email" />
                <RadzenEmailValidator Component="Email" Text="Please enter valid email address" Popup="@isPopup" Style="position: relative"></RadzenEmailValidator>
                <RadzenRequiredValidator Component="Email" Text="Email is required" Popup="@isPopup" Style="position: relative"></RadzenRequiredValidator>
            </div>

            <div class="col-md-6">
                <RadzenTextBox style="width: 100%;" ShowUpDown="false" TValue="int?" Name="Phone" @bind-Value="@userData.Phone" Placeholder="Phone No" />
                <RadzenRegexValidator Component="Phone" Text="Please enter 10 digits no" Pattern="\d{10}" Popup=@isPopup Style="position: relative" />
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 align-items-center d-flex">

                @if (!userData.IsFromMyProfile || (userData.IsFromMyProfile && (_currentUserPermissionManager.IsValidUser(AuthStat, UserRole.SuperAdmin).Result || _currentUserPermissionManager.IsValidUser(AuthStat, UserRole.Admin).Result)))
                {
                    <RadzenLabel Text="User Role" />
                }

            </div>

            <div class="col-md-6 align-items-center d-flex">
                @if (!userData.IsFromMyProfile)
                {
                    <RadzenLabel Text="Company" />
                }
            </div>

            <div class="col-md-6">

                @if (!userData.IsFromMyProfile || (userData.IsFromMyProfile && (_currentUserPermissionManager.IsValidUser(AuthStat, UserRole.SuperAdmin).Result || _currentUserPermissionManager.IsValidUser(AuthStat, UserRole.Admin).Result)))
                {
                    <RadzenDropDown AllowClear="true" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" Class="w-100"
                                Placeholder="Select Role" Data=@userData.UserRoles TextProperty="Name"
                                ValueProperty="Id" Name="RoleId" @bind-Value="@(userData.RoleId)" />
                    <RadzenRequiredValidator DefaultValue="0" Component="RoleId" Text="Please select role" Popup="@isPopup" Style="position: relative"></RadzenRequiredValidator>
                }
                else
                {
                    <RadzenTextBox style="width: 100%;" Name="RoleName" @bind-Value="@userData.Role" Disabled="true" />
                    <input type="hidden" id="RoleId" value="@userData.RoleId" />
                }
            </div>

            <div class="col-md-6">

                @if (!userData.IsFromMyProfile)
                {
                    @if (_currentUserPermissionManager.IsValidUser(AuthStat, UserRole.SuperAdmin).Result)
                    {
                        <RadzenDropDown @bind-Value="@(userData.CompanyId)" Style="width:100%;" TValue="int?"
                                TextProperty="Name" Placeholder="Select Company"
                                Data="@userData.Companies"
                                Name="CompanyId" ValueProperty="Id" AllowClear="true">
                        </RadzenDropDown>
                        <RadzenRequiredValidator DefaultValue="0" Component="CompanyId" Text="Company is required" Popup="@isPopup" Style="position: relative" />

                    }
                    else
                    {
                        <RadzenTextBox style="width: 100%;" Name="CompanyName" @bind-Value="@userData.CompanyName" Disabled="true" />
                        <input type="hidden" id="CompanyId" value="@userData.CompanyId" />
                    }
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Is Instructor" />
            </div>

            <div class="col-md-6 align-items-center d-flex">
                @if (isInstructorTypeDropdownVisible)
                {
                    <RadzenLabel Text="Instructor Type" />
                }
            </div>

            <div class="col-md-6">
                <RadzenSwitch @bind-Value=@userData.IsInstructor Change=@((args) => OnIsInstructorValueChange(args)) />
            </div>

            <div class="col-md-6">

                @if (isInstructorTypeDropdownVisible)
                {
                    <RadzenDropDown AllowClear="true" TValue="int?" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" Class="w-100"
                                Placeholder="Select Instructor Type" Data=@userData.InstructorTypes TextProperty="Name"
                                ValueProperty="Id" Name="InstructorTypeId" @bind-Value="@(userData.InstructorTypeId)" />
                    <RadzenRequiredValidator DefaultValue="null" Component="InstructorTypeId" Text="Please select instructor type"
                                         Popup="@isPopup" Style="position: relative"></RadzenRequiredValidator>
                }

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Date of Birth" />
            </div>

            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Country" />
            </div>

            <div class="col-md-6">
                <RadzenDatePicker @bind-Value=@userData.DateofBirth DateFormat="d" Class="w-100" />
            </div>

            <div class="col-md-6">

                <RadzenDropDown AllowClear="true" TValue="int?" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" Class="w-100"
                                Placeholder="Select Country" Data=@userData.Countries TextProperty="Name"
                                ValueProperty="Id" Name="CountryId" @bind-Value="@(userData.CountryId)" />

                <RadzenRequiredValidator DefaultValue="null" Component="CountryId" Text="Please select country" Popup="@isPopup" Style="position: relative"></RadzenRequiredValidator>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="External Id" />
            </div>

            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Gender" />
            </div>

            <div class="col-md-6">
                <RadzenTextBox style="width: 100%;" Name="ExternalId" @bind-Value="@userData.ExternalId" Placeholder="External Id" />
            </div>
            <div class="col-md-6">

                <RadzenRadioButtonList Style="outline:none" @bind-Value=@userData.GenderId TValue="int" Change=@((args) => OnGenderValueChange(args))>
                    <Items>
                        <RadzenRadioButtonListItem Text="Male" Value="0" />
                        <RadzenRadioButtonListItem Text="Female" Value="1" />
                    </Items>
                </RadzenRadioButtonList>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Send Email Invite" />
            </div>
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Send Text Message" />
            </div>

            <div class="col-md-6">
                <RadzenSwitch @bind-Value=@userData.IsSendEmailInvite />
            </div>

            <div class="col-md-6">
                <RadzenSwitch @bind-Value=@userData.IsSendTextMessage />
            </div>
        </div>

        <hr />
        <div class="row" style="margin-top:4%">
            <div class="col-md-12 text-right">

                @if (isAuthenticated)
                {
                    if (userData.Id == 0)
                    {
                        <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Text="Save" Style="width: 120px" IsBusy="@isBusy" />
                    }
                    else
                    {
                        <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Text="Update" Style="width: 120px" IsBusy="@isBusy" />
                    }

                    <RadzenButton Click="@((args) => CloseDialog(true))" ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" Class="mr-1" />
                }
                else
                {
                    <RadzenButton ButtonType="ButtonType.Button" Text="Previous" Click=@GoBack Style="width: 120px;margin-right:2px;" />
                    <RadzenButton ButtonType="ButtonType.Button" Text="Save" Click=@GotoSave Style="width: 120px;margin-right:3px;" IsBusy="@isBusy" BusyText="Saving ..." />
                    <RadzenButton Click="@RedirectToLogin" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="width: 120px" Class="mr-1" />
                }

            </div>
        </div>

    </div>

</RadzenTemplateForm>
