@using DataModels.VM.Document
@using DataModels.Enums
@using FSM.Blazor.Data.Document
@using Syncfusion.Blazor.Inputs
@using DataModels.VM.Common;
@using DataModels.Constants;
@using FSM.Blazor.Data.User;
@using Syncfusion.Blazor.Spinner;
@using FSM.Blazor.Data.Common;

@inject DocumentService DocumentService
@inject UserService UserService
@inject TokenValidatorService TokenValidatorService

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>


<div id="container">
    <SfSpinner @bind-Visible="@isDisplayLoader">
    </SfSpinner>
</div>

<RadzenTemplateForm Data="@DocumentData" @ref="@form" Submit="@((DocumentVM args) => {  UploadFilesAsync(); })">

    <div class="popup-content">

        <input type="hidden" value="@DocumentData.Id" name="Id" />

        <div class="row">

            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Upload" />
            </div>

            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Document Name" />
            </div>

            <div class="col-md-6">

                <InputFile OnChange="OnInputFileChangeAsync" Value="@DocumentData.DisplayName"
                           accept="@supportedDocumentsFormat" />
            </div>

            <div class="col-md-6">

                <RadzenTextBox Name="DisplayName" @bind-Value="@DocumentData.DisplayName"
                               Style="width: 100%;" Placeholder="Please enter document name" />

                <RadzenRequiredValidator Component="DisplayName" Text="Please enter document name" Style="position: relative"></RadzenRequiredValidator>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <RadzenLabel Text="Document Tag" />
            </div>

            <div class="col-md-12">

                <RadzenAutoComplete Placeholder="Search a tag..." Data=@DocumentData.DocumentTagsList @onkeyup="@Enter"
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @ref="@autoComplete"
                                    TextProperty="TagName" Change=@(args => OntestChange(args)) Style="width: 100%;" />

                <RadzenButton Click=@(args => OpenCreateTagDialogAsync()) Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />

                @foreach (var data in selectedTagsList)
                {
                    <RadzenButton Click=@(args => RemoveTag(data)) Text="@data" Icon="highlight_off" ButtonStyle="ButtonStyle.Light" />
                }

            </div>
        </div>

        <div class="row">

            @if (_currentUserPermissionManager.IsValidUser(AuthStat, UserRole.SuperAdmin).Result)
            {
                <div class="col-md-6 align-items-center d-flex">
                    <div class="row">
                        <div class="col-md-12 align-items-center d-flex">
                            <RadzenLabel Text="Company" />
                        </div> 
                        <div class="col-md-12 align-items-center d-flex">
                            <RadzenDropDown AllowClear="true" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        AllowFiltering="true" Class="w-100"
                                        Placeholder="Select Company" Data=@DocumentData.CompniesList TextProperty="Name"
                                        ValueProperty="Id" Name="CompanyId" @bind-Value="@(DocumentData.CompanyId)" Change=@(args => OnChange(args)) />

                            <RadzenRequiredValidator DefaultValue="0" Component="CompanyId" Text="Please select company" Style="position: relative"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            }

            @if (_currentUserPermissionManager.IsValidUser(AuthStat, UserRole.SuperAdmin).Result || _currentUserPermissionManager.IsValidUser(AuthStat, UserRole.Admin).Result)
            {
                <div class="col-md-6 align-items-center d-flex">
                    <div class="row">
                        <div class="col-md-12 align-items-center d-flex">
                            <RadzenLabel Text="User" />
                        </div>
                        <div class="col-md-12 align-items-center d-flex">

                            <RadzenDropDown AllowClear="true" TValue="long" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        AllowFiltering="true" Class="w-100"
                                        Placeholder="Select User" Data=@DocumentData.UsersList TextProperty="Name"
                                        ValueProperty="Id" Name="UserId" @bind-Value="@userId" />

                            <RadzenRequiredValidator DefaultValue=long.MaxValue Component="UserId" Text="Please select user" Style="position: relative"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            }

            @if (!DocumentData.IsFromParentModule)
            {
                 <div class="col-md-6 align-items-center d-flex">
                    <div class="row">
                        <div class="col-md-12 align-items-center d-flex">
                            <RadzenLabel Text="Document Type" />
                        </div>
                        <div class="col-md-12 align-items-center d-flex">

                            <RadzenDropDown AllowClear="true" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" Class="w-100"
                                Placeholder="Select Type" Data=@DocumentData.ModulesList TextProperty="Name"
                                ValueProperty="Id" Name="ModuleId" @bind-Value="@(DocumentData.ModuleId)" />

                    <RadzenRequiredValidator DefaultValue="0" Component="ModuleId" Text="Please select type" Style="position: relative"></RadzenRequiredValidator>

                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="row">
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Is Shareable" />
            </div>

            <div class="col-md-6 align-items-center d-flex">
                @if (DocumentData.IsShareable)
                {
                    <RadzenLabel Text="Last Sharing Date" />
                }
            </div>

            <div class="col-md-6">
                <RadzenSwitch @bind-Value=@DocumentData.IsShareable />
            </div>

            <div class="col-md-6">
                @if (DocumentData.IsShareable)
                {
                    <RadzenDatePicker Name="LastShareDate" Placeholder="Please select date" @bind-Value=@DocumentData.LastShareDate DateFormat="d" Class="w-100" />
                    <RadzenRequiredValidator Component="LastShareDate" Text="Please select date" Style="position: relative"></RadzenRequiredValidator>
                }
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 align-items-center d-flex">
                <RadzenLabel Text="Expiration Date" />
            </div>
            <div class="col-md-6">
                <RadzenDatePicker @bind-Value=@DocumentData.ExpirationDate Placeholder="Please select date" DateFormat="d" Class="w-100" />
            </div>
        </div>

        <hr />

        <div class="row">

            <div class="col-md-12 text-right">

                @if (DocumentData.Id == Guid.Empty)
                {
                    <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Primary" Click="@((args) => UploadFilesAsync())" @onkeydown="@SubmitFormIgnore" Text="Save" Style="width: 120px" IsBusy="@isBusy" BusyText="Saving ..." />
                }
                else
                {
                    <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Success" Click="@((args) => UploadFilesAsync())" @onkeydown="@SubmitFormIgnore" Text="Save" Style="width: 120px" IsBusy="@isBusy" BusyText="Saving ..." />
                }

                <RadzenButton Click="@((args) => CloseDilaog(true))" ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" Class="mr-1" />

            </div>

        </div>
    </div>

</RadzenTemplateForm>

@code {

    async Task OpenErrorDialog(string message)
    {
        var result = await DialogService.OpenAsync("Error", ds =>
    @<div>
        <p class="mb-4"> @message </p>
        <div class="row" style="text-align:right">
            <div class="col">

                <RadzenButton Text="Close" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Class="mr-1" Style="width: 80px;" />

            </div>
        </div>
    </div>
    , new DialogOptions { Width = "360px" });
    }
}