@page "/AircraftDetails"


<div class="d-flex justify-content-between">
    <div><h3>N1234WC - Cirrus SR22</h3></div>
    <div>
        <button type="button" class="btn edit-button" @onclick="(() => NotDevelop())">Edit</button>
        <button type="button" class="btn btn-outline-primary" @onclick="(() => NotDevelop())">Add</button>
    </div>
</div>
<div class="mx-1">
    <hr class="p-0 m-1" />
</div>
<div class="card mt-2 flight-info-card">
    <div class="card-body">
        <div class="k-card-deck">
            <div class="row p-0">
                <div class="col-12 col-md-12 col-lg-3 mb-3 px-3 p-0">
                    <TelerikCard Class="image-card-info">
                        <CardImage Src="https://fly-manager-dev-api.azurewebsites.net/Uploads//AircraftImages/28/20220816210808_22.jpeg"></CardImage>
                    </TelerikCard>
                </div>
                <div class="col-12 col-md-12 col-lg-3 mb-3 px-3 p-0">
                    <TelerikCard Class="flight-cards">
                        <CardBody>
                            <div><span class="card-fonts">Tail No:</span> N1234WC</div>
                            <div><span class="card-fonts">Model :</span> SR22</div>
                            <div><span class="card-fonts">Make :</span> Cirrus</div>
                            <div><span class="card-fonts">Category :</span> Airplane</div>
                            <div><span class="card-fonts">Turbines :</span> Available</div>
                        </CardBody>
                    </TelerikCard>
                </div>
                <div class="col-12 col-md-12 col-lg-3 mb-3 px-3 p-0">

                    <TelerikCard Class="flight-cards">
                        <CardBody>
                            <CardTitle>Maintenance</CardTitle>
                            <p>Lorem ipsum dolor sit amet, dolor sit consectetur adipiscing elit. Etiam eu turpis molestie.</p>
                        </CardBody>
                    </TelerikCard>
                </div>
                <div class="col-12 col-md-12 col-lg-3 mb-3 px-3 p-0">
                    <TelerikCard Class="flight-cards">
                        <CardBody>
                            <CardTitle>Reservation</CardTitle>
                            <p>Lorem ipsum dolor sit amet, dolor sit consectetur adipiscing elit. Etiam eu turpis molestie.</p>
                        </CardBody>
                    </TelerikCard>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mt-5">
    <TelerikTabStrip @bind-ActiveTabIndex="@ActiveTabIndex">
        <TabStripTab>
            <HeaderTemplate>
                <span class="mx-2"><CustomIcons IconName="FlightAircraftTime" IsTransparent="@(IsTabSelectedFlag(0))" 
                    PrimaryColor="#CCCCCC00" SecondaryColor="#CCCCCC"></CustomIcons></span>
                <strong>Aircraft Times</strong>
            </HeaderTemplate>
            <Content>
                <table border="1" class="table table-bordered">
                    <tr>
                        <th>Equipment Name</th>
                        <th>Hours</th>
                    </tr>
                    <tr>
                        <td>Total Air Frame</td>
                        <td>150.00 Hours</td>
                    </tr>
                    <tr>
                        <td>Propeller 1</td>
                        <td>160.00 Hours</td>
                    </tr>
                </table>
            </Content>
        </TabStripTab>
        <TabStripTab>
            <HeaderTemplate>
                <span class="mx-2"><CustomIcons IconName="wrench" IsTransparent="@(IsTabSelectedFlag(1))"
                    PrimaryColor="white" SecondaryColor="#CCCCCC"></CustomIcons></span>
                <strong>Equipment</strong>
            </HeaderTemplate>
        </TabStripTab>
        <TabStripTab>
            <HeaderTemplate>
                <span class="mx-2"><CustomIcons IconName="FlightReservation" IsTransparent="@(IsTabSelectedFlag(2))"
                    PrimaryColor="white" SecondaryColor="#CCCCCC"></CustomIcons></span>
                <strong>Reservation</strong>
            </HeaderTemplate>
        </TabStripTab >
        <TabStripTab>
            <HeaderTemplate>
                <spn class="mx-2"><CustomIcons IconName="Flightdocument" IsTransparent="@(IsTabSelectedFlag(3))"
                    PrimaryColor="white" SecondaryColor="#CCCCCC"></CustomIcons></spn>
                <strong>Documents</strong>
            </HeaderTemplate>
        </TabStripTab>
        <TabStripTab>
            <HeaderTemplate>
                <span class="mx-2"><CustomIcons IconName="Maintenance" IsTransparent="@(IsTabSelectedFlag(4))"
                    PrimaryColor="white" SecondaryColor="#CCCCCC"></CustomIcons></span>
                <strong>Maintenance</strong>
            </HeaderTemplate>
        </TabStripTab>
        <TabStripTab>
            <HeaderTemplate>
                <span class="mx-2"><CustomIcons IconName="Financials" IsTransparent="@(IsTabSelectedFlag(5))"
                    PrimaryColor="white" SecondaryColor="#CCCCCC"></CustomIcons></span>
                <strong>Financials</strong>
            </HeaderTemplate>
        </TabStripTab>
        <TabStripTab>
            <HeaderTemplate>
                <span class="mx-2"><CustomIcons IconName="Performance" IsTransparent="@(IsTabSelectedFlag(6))"
                    PrimaryColor="white" SecondaryColor="#CCCCCC"></CustomIcons></span>
                <strong>Performance</strong>
            </HeaderTemplate>
        </TabStripTab>
        <TabStripTab>
            <HeaderTemplate>
                <span class="mx-2"><CustomIcons IconName="Settings" IsTransparent="@(IsTabSelectedFlag(7))"
                    PrimaryColor="white" SecondaryColor="#CCCCCC"></CustomIcons></span>
                <strong>Setting</strong>
            </HeaderTemplate>
        </TabStripTab>
        <TabStripTab>
            <HeaderTemplate>
                <span class="mx-2"><CustomIcons IconName="Crew" IsTransparent="@(IsTabSelectedFlag(8))"
                    PrimaryColor="white" SecondaryColor="#CCCCCC"></CustomIcons></span>
                <strong>Crew</strong>
            </HeaderTemplate>
        </TabStripTab>
    </TelerikTabStrip>
</div>