@namespace Web.UI.Pages.Aircraft
@using Configuration;
@using DataModels.VM.Aircraft
@using DataModels.Enums;
@using DataModels.VM.AircraftMake

@page "/Aircraft"

<PageTitle>Aircraft | Fly Manager </PageTitle>

<div class="row">
    <div class="col">
        <h2 style="float:left">Manage Aircrafts Details</h2>

        @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Create, @moduleName))
        {
            <TelerikButton Class="btn k-btn-primary" ThemeColor="primary"
                       OnClick="() => AircraftCreateDialog(new AircraftDataVM())" Enabled="@(!isBusyAddButton)">
                <TelerikLoader Class="loader-indicator" Size="sm" ThemeColor="light" Visible="@isBusyAddButton">
                </TelerikLoader>
                <CustomIcons IconName="add" PrimaryColor="White"></CustomIcons> Add
            </TelerikButton>
        }

    </div>
</div>

<div class="row" style="margin-bottom:22px;">

    @if (_currentUserPermissionManager.IsValidUser(AuthStat, UserRole.SuperAdmin).Result)
    {
        <div class="col-md-4">

            <TelerikComboBox Id=companyId Data="@aircraftFilterVM.Companies" TextField="Name"
                         ValueChanged="@( (int value) => OnCompanyValueChanges(value) )"
                         Filterable="true" FilterOperator="@StringFilterOperator.Contains"
                         Placeholder="Select Company" ValueField="Id">
            </TelerikComboBox>

        </div>
    }

    <div class="col-md-4">

        <TelerikTextBox Name="SearchText" PlaceHolder="Search Aircraft" @bind-Value="@searchText"
                        OnChange="@(args =>  RefreshGrid())" />

    </div>

</div>

<TelerikTabStrip>

    <TabStripTab>
        <HeaderTemplate>
            <div class="d-flex justify-content-center align-items-center">
                <span class="mx-2">
                    <CustomIcons IconName="user" PrimaryColor="#3066f8"></CustomIcons>
                </span>
                <span>Grid View</span>
            </div>
        </HeaderTemplate>
        <Content>

            <TelerikListView @ref="dataListView"
                             Data="@airCraftsVM" TItem="AircraftDataVM" PageSize="@listViewPageSize"
                             OnRead="@LoadListViewData" PageSizeChanged="@ListViewPageSizeChangedHandler">

                <ListViewSettings>
                    <GridPagerSettings InputType="PagerInputType.Input"
                                       PageSizes="@pageSizeOptions" ButtonCount="5" Adaptive="true">
                    </GridPagerSettings>
                </ListViewSettings>

                <Template>

                    <a @onclick="@(() => OpenDetailPage(context.Id))" style="cursor:pointer">
                        <TelerikCard Width="300px" >
                            <CardHeader>
                                <CardTitle>@context.TailNo</CardTitle>
                            </CardHeader>
                            <img onerror="this.onerror=null;this.src='../img/thumbnail-aircraft.png';" src="@context.ImagePath" />
                            @*<CardImage Src="@context.ImagePath" onerror="this.onerror=null;this.src='../img/thumbnail-userprofile.png';"></CardImage>*@
                            
                            <CardFooter>
                                <span>@context.TailNo</span>
                            </CardFooter>
                        </TelerikCard>
                        </a>
                </Template>

            </TelerikListView>

        </Content>
    </TabStripTab>

    <TabStripTab>
        <HeaderTemplate>
            <div class="d-flex justify-content-center align-items-center">
                <span class="mx-2">
                    <CustomIcons IconName="user" PrimaryColor="#3066f8"></CustomIcons>
                </span>
                <span>List View</span>
            </div>
        </HeaderTemplate>
        <Content>
            <TelerikGrid TItem="AircraftDataVM" OnRead="@LoadData" Pageable="true" @ref="@dataGridView"
                         Sortable="true" PageSize="@pageSize" PageSizeChanged="@PageSizeChangedHandler">

                <GridSettings>
                    <Web.UI.Shared.Components.TelerikGridPager.TelerikGridPagerComponent></Web.UI.Shared.Components.TelerikGridPager.TelerikGridPagerComponent>
                </GridSettings>

                <GridColumns>

                    <GridColumn Context="dataItem" Title="Photo" Sortable="true">
                        <Template>
                            @{
                                var data = dataItem as AircraftDataVM;

                                <div class="icon-container" style="height: 80%;width: 100%;">
                                    <img class="rounded" onerror="this.onerror=null;this.src='../img/thumbnail-aircraft.png';"
                                         src="@data.ImagePath" style="width: 45px; height: 45px; border-radius: 22px !important;" />

                                    <div class='status-circle' style="background-color:@data.Indicator"> </div>
                                </div>
                            }

                        </Template>
                    </GridColumn>

                    <GridColumn Context="dataItem" Title="Name" Sortable="true">
                        <Template>
                            @{
                                var data = dataItem as AircraftDataVM;

                                <a href="javascript:void(0)" @onclick="@((ui) => OpenDetailPage(data.Id))">@data.TailNo</a>
                            }

                        </Template>
                    </GridColumn>

                    <GridColumn Field="@nameof(AircraftDataVM.MakeName)" Title="Make" Sortable="true"></GridColumn>
                    <GridColumn Field="@nameof(AircraftDataVM.ModelName)" Title="Model" Sortable="true"></GridColumn>
                    <GridColumn Field="@nameof(AircraftDataVM.Category)" Title="Category" Sortable="true"></GridColumn>

                    <GridColumn Context="dataItem" Title="Actions" Sortable="true">
                        <Template>
                            @{
                                var data = dataItem as AircraftDataVM;

                                <TelerikButton Class="btn k-btn-primary mx-1" OnClick="()=>OpenDetailPage(data.Id)"
                                           ThemeColor="success">
                                    <CustomIcons IconName="setting" PrimaryColor="white"></CustomIcons>
                                </TelerikButton>

                                @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Edit, @moduleName))
                                {
                                    <TelerikButton Class="btn k-btn-grid-edit mx-1" OnClick="()=>AircraftCreateDialog(data)"
                                           ThemeColor="success" Enabled=!data.IsLoadingEditButton>

                                        <CustomIcons IconName="grid-edit" PrimaryColor="white"></CustomIcons>
                                        <TelerikLoader Class="loader-indicator" Size="sm" ThemeColor="light"
                                               Visible="data.IsLoadingEditButton">
                                        </TelerikLoader>

                                    </TelerikButton>
                                }

                                @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Delete, @moduleName))
                                {
                                    <TelerikButton Class="btn k-btn-grid-delete mx-1" ThemeColor="error" OnClick="()=>OpenDeleteDialog(data)">
                                        <CustomIcons IconName="grid-delete" PrimaryColor="white"></CustomIcons>
                                    </TelerikButton>
                                }
                            }

                        </Template>
                    </GridColumn>

                </GridColumns>
            </TelerikGrid>
        </Content>
    </TabStripTab>

</TelerikTabStrip>


@*@if (isDisplayPopup)
    {
    <CustomPopupComponent Title="@popupTitle"
    HeaderCssClass=@CustomPopupComponent.GetHeaderCssClass(operationType)
    CloseOnOutsideClick="false" Width="600px"
    OnClose="@(()=> {isDisplayPopup = false;})">
    <Body>

    @if (operationType == OperationType.Create || operationType == OperationType.Edit)
    {
    <Create AircraftData="@aircraftData" CloseDialogCallBack="@CloseDialog"></Create>
    }
    else if (operationType == OperationType.Delete)
    {
    //Delete popup
    <div>
    <p class="mb-4">Are you sure, You want to delete <b> @aircraftData.TailNo </b>?</p>
    <div class="row" style="text-align:right">
    <div class="col">

    @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.Delete, moduleName))
    {
    <RadzenButton Text="Yes" ButtonStyle="ButtonStyle.Danger" Click="() => DeleteAsync(aircraftData.Id) " Class="mr-1" Style="width: 80px;" />
    }

    <RadzenButton Text="No" Click="@(() => isDisplayPopup = false)" ButtonStyle="ButtonStyle.Light" Class="mr-1" Style="width: 80px;" />

    </div>
    </div>
    </div>
    }

    </Body>
    </CustomPopupComponent>
    }*@



@*<div class="row">
    <div class="col-12 col-md-2 col-lg-2 col-sm-4">

    <TelerikCard Width="300px">
    <CardHeader>
    <CardTitle>N2015S</CardTitle>
    </CardHeader>
    <CardImage Src="https://fly-manager-dev-api.azurewebsites.net/Uploads//AircraftImages/28/20220816210808_22.jpeg" ></CardImage>
    <CardActions Layout="@CardActionsLayout.Stretched">
    <TelerikButton Class="k-flat" Icon="heart-outline">Like</TelerikButton>
    <TelerikButton Class="k-flat" @onclick="@(() => OpenDetails())">Read More</TelerikButton>
    </CardActions>
    <CardFooter>
    <span >Added by @@john</span>
    <span >March 05, 2021</span>
    </CardFooter>
    </TelerikCard>
    </div>
    </div>*@