@page "/Scheduler"

<PageTitle> Scheduler | Upflyte  </PageTitle>

<style>

    .highlightDates {
        background-color: #3066f8 !important;
        border-radius: 50%;
        color: white;
    }

</style>

<div class="row my-0">
    <div class="col-md-12 col-lg-3 col-12 my-0 @(isLeftBarVisible ? "":"d-none")">
        <div class="card p-0">
            <div class="card-body p-0">
                <div>
                    <TelerikCalendar Date="@currentDate"
                                     View="CalendarView.Month"
                                     OnCellRender="@OnCellRenderHandler"
                                     DateChanged="@OnCalendarDateChanged"
                                     SelectionMode="@CalendarSelectionMode.Multiple">
                    </TelerikCalendar>
                </div>

                <div>
                    <div>
                        <CustomCollapseBar Class="my-1" IsFilterBarVisible="isFilterBarVisible"
                                           OnPanelCollapsed="@(() => {isFilterBarVisible = false;})"
                                           OnPanelExpanded="@(() => {isFilterBarVisible = true;})">
                            <HeaderContent>
                                <div class="d-flex justify-content-between">
                                    <span class="my-0">
                                        Categories
                                    </span>
                                    <span>
                                        @if (isFilterBarVisible)
                                        {
                                            <CustomIcons IconName="plus" />
                                        }
                                        else
                                        {
                                            <CustomIcons IconName="minus" />
                                        }
                                    </span>
                                </div>
                            </HeaderContent>
                            <ChildContent>

                                <div class="row my-2">

                                    <div class="col-md-10 col-sm-10">

                                        <table>
                                            @foreach (var item in flightCategories)
                                            {
                                                <tr>
                                                    <td>

                                                        <input type="checkbox" checked @onchange="(e => CheckboxChangedAsync(e, item))"
                                                        style="height:18px;width:18px;accent-color:@item.Color;" />
                                                       
                                                        <label for="@item.Id">
                                                            @item.Name
                                                        </label>

                                                    </td>
                                                    <td> <a href="javascript:void(0)"> Edit </a> </td>
                                                </tr>
                                            }
                                        </table>

                                    </div>
                                </div>

                            </ChildContent>
                        </CustomCollapseBar>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="col-md-12 col-12 my-0 @(isLeftBarVisible ? "col-lg-9 ps-0":"col-lg-12")">
        <div class="cursor-pointer  mb-2" @onclick=@(() => ToggleLeftPane())><FontLabel fontColor="#3066F8" fontSize="12px"><CustomIcons IconName="toggle-hamburg"></CustomIcons> Toggle Left Pane</FontLabel></div>
        <div id="container">
            <div class="card">

                <TelerikTabStrip Class="k-tabstrip-list">

                    <TabStripTab>
                        <HeaderTemplate>
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="mx-2">
                                    <Web.UI.Shared.Components.CustomIcon.CustomIcons IconName="scheduler" PrimaryColor="#3066f8"></Web.UI.Shared.Components.CustomIcon.CustomIcons>
                                </span>
                                <span>Scheduler</span>
                            </div>
                        </HeaderTemplate>
                        <Content>
                            <Web.UI.Pages.Scheduler.SchedulerIndex @ref="@schedulerIndex" Categories="@flightCategories"></Web.UI.Pages.Scheduler.SchedulerIndex>
                        </Content>
                    </TabStripTab>

                    <TabStripTab>
                        <HeaderTemplate>
                            <div class="d-flex justify-content-center align-items-center">

                                <span class="mx-2">
                                    <CustomIcons IconName="reservation" PrimaryColor="#3066f8"></CustomIcons>
                                </span>
                                <span>Reservations</span>
                            </div>
                        </HeaderTemplate>
                        <Content>
                            <Web.UI.Pages.Reservation.Index></Web.UI.Pages.Reservation.Index>
                        </Content>
                    </TabStripTab>

                </TelerikTabStrip>

            </div>
        </div>
    </div>

</div>
