@using DataModels.VM.Location
@using FSM.Blazor.Data.Location

@inject Radzen.DialogService dialogService
@inject LocationService LocationService
@inject DialogService DialogService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<RadzenTemplateForm @ref=@locationForm Data="@locationData" Submit="@((LocationVM args) => {  Submit(args); })">

      <div class="popup-content">

    <input type="hidden" value="@locationData.Id" name="Id" />

        <div class="row">
            <div class="col-md-12 align-items-center d-flex">
                <RadzenLabel Text="Airport Code" />
            </div>
            <div class="col-md-12">
                <RadzenTextBox style="width: 100%;" Name="AirportCode" @bind-Value="@locationData.AirportCode" Placeholder="Please enter airport code" />
                <RadzenRequiredValidator Component="AirportCode" Text="Airport code is required" Popup="@isPopup" Style="position: relative" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 align-items-center d-flex">
                <RadzenLabel Text="Physical Address" />
            </div>
          <div class="col-md-12">
                <RadzenTextArea style="width: 100%;" Name="PhysicalAddress" @bind-Value="@locationData.PhysicalAddress" Placeholder="Please enter physical address" />
                <RadzenRequiredValidator Component="PhysicalAddress" Text="Physical Address is required" Popup="@isPopup" Style="position: relative" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 align-items-center d-flex">
                <RadzenLabel Text="Timezone" />
            </div>
            <div class="col-md-12">
              
                <RadzenDropDown AllowClear="true" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" Class="w-100"
                                Placeholder="Select timezone" Data=@locationData.Timezones TextProperty="Name"
                                ValueProperty="Id" Name="Timezone" @bind-Value="@timezoneId" />

                <RadzenRequiredValidator DefaultValue=0 Component="Timezone" Text="Timezone is required" Popup="@isPopup" Style="position: relative" />
          
            </div>

        </div>

        <hr />
    <div class="row" style="margin-top:4%">
        <div class="col-md-12 text-right">

            @if (locationData.Id == 0)
            {
                <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary"  Text="Save" IsBusy=@isBusy Style="width: 120px" />
            }
            else
            {
                <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success"  Text="Update" IsBusy=@isBusy Style="width: 120px" />
            }

            <RadzenButton Click="@((args) => CloseDilaog(true))"
                          ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" Class="mr-1" />

        </div>
    </div>

    </div>
</RadzenTemplateForm>
