@using DataModels.VM.MyAccount;
@using FSM.Blazor.Data.MyAccount;

@inject MyAccountService MyAccountService
@inject DialogService DialogService

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<PageTitle>Change Password | Fly Manager </PageTitle>

<RadzenTemplateForm Data="@changePasswordVM" Submit="@((ChangePasswordVM args) => {  Submit(); })">

    <input type="hidden" value="@context. .UserId" name="UserId" />

    <RadzenFieldset Text="Purchase Info">

        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Old Password" />
            </div>
            <div class="col-md-8">
                <RadzenPassword style="width: 100%;" Placeholder="Please enter old password" Name="OldPassword" @bind-Value="@changePasswordVM.OldPassword" />
                <RadzenRequiredValidator Component="OldPassword" Text="Old password is required" Popup="@isPopup" Style="position: relative" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="New Password" />
            </div>
            <div class="col-md-8">
                <RadzenPassword style="width: 100%;" Placeholder="Please enter new password" Name="NewPassword" @bind-Value="@changePasswordVM.NewPassword" />
                <RadzenRequiredValidator Component="NewPassword" Text="New password is required" Popup="@isPopup" Style="position: relative" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Confirm Password" />
            </div>
            <div class="col-md-8">
                <RadzenPassword style="width: 100%;" Placeholder="Please enter confirm password" Name="ConfirmPassword" @bind-Value="@changePasswordVM.ConfirmPassword" />
                <RadzenCompareValidator Component="ConfirmPassword" Value=@changePasswordVM.NewPassword Text="Confirm password should be the same" Popup="@isPopup" Style="position: relative" />
            </div>
        </div>

    </RadzenFieldset>

    <div class="row" style="margin-top:4%">
        <div class="col-md-12 text-right">
            <RadzenButton ButtonType="ButtonType.Submit" BusyText="Saving ..." IsBusy="@isBusy" Text="Save" Style="width: 130px" />
            <RadzenButton Click="@((args) => DialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="width: 120px" Class="mr-1" />
        </div>
    </div>

</RadzenTemplateForm>