@using DataModels.VM.Aircraft
@using FSM.Blazor.Data.Aircraft
@using FSM.Blazor.Data.AircraftMake
@using FSM.Blazor.Data.AircraftModel
@using FSM.Blazor.Utilities;
@using DataModels.Enums;

@inject AircraftService AircraftService
@inject AircraftMakeService AircraftMakeService
@inject AircraftModelService AircraftModelService

<RadzenTemplateForm @ref=@form Data="@AircraftData" Submit="@((AircraftVM args) => {  Submit(args); })">

    <div class="popup-content">
        <RadzenSteps @ref=@steps ShowStepsButtons="false">
            <Steps>
                <RadzenStepsItem Text="Basic Details">

                    <input type="hidden" value="@AircraftData.Id" name="Id" />

                    <div class="row">

                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Company" />
                        </div>
                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Tail No" />
                        </div>

                        <div class="col-md-6">
                            @if (_currentUserPermissionManager.IsValidUser(AuthStat, UserRole.SuperAdmin).Result)
                            {
                                <RadzenDropDown @bind-Value="@CompanyId" Style="width:100%;" TValue="int"
                                            TextProperty="Name" Placeholder="Select Company"
                                            Data="@AircraftData.Companies"
                                            Name="CompanyId" ValueProperty="Id" AllowClear="true">
                                </RadzenDropDown>
                                <RadzenRequiredValidator DefaultValue="0" Component="CompanyId" Text="Company is required" Popup="@isPopup" Style="position: relative" />

                            }
                            else
                            {
                                <RadzenTextBox style="width: 100%;" Name="CompanyName" @bind-Value="@AircraftData.CompanyName" Disabled="true" />
                                <input type="hidden" id="CompanyId" value="@AircraftData.CompanyId" />
                            }
                        </div>

                        <div class="col-md-6">
                            <RadzenTextBox style="width: 100%;" Name="TailNo" @bind-Value="@AircraftData.TailNo" Placeholder="Tail No" />
                            <RadzenRequiredValidator Component="TailNo" Text="Tail no is required" Popup="@isPopup" Style="position: relative" />
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Year" />
                        </div>
                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Make" />
                        </div>

                        <div class="col-md-6">

                            <RadzenDropDown @bind-Value="@Year" Style="width:100%;" TValue="int"
                                            TextProperty="Name" Placeholder="Select Year"
                                            Data="@YearDropDown"
                                            Name="Year" ValueProperty="Id" AllowClear="true">
                            </RadzenDropDown>

                        </div>
                        <div class="col-md-6">

                            <RadzenDropDown @bind-Value="@MakeId" Style="width:100%;" TValue="int"
                                            TextProperty="Name" Placeholder="Select Make"
                                            Data="@AircraftData.AircraftMakeList" Change="@(args => OnMakeValueChanged(args))"
                                            Name="MakeId" ValueProperty="Id" AllowClear="true">

                                <Template Context="value">
                                    @{
                                        if (value.Name != "Add New ++")
                                        {
                                            <span> @value.Name</span>

                                        }
                                        else
                                        {
                                            <span style="font-weight:bold;color:#145fe8"> @value.Name</span>
                                        }
                                    }

                                </Template>

                            </RadzenDropDown>

                            <RadzenRequiredValidator DefaultValue="0" Component="MakeId" Text="Make is required" Popup="@isPopup" Style="position: relative" />

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Model" />
                        </div>

                        <div class="col-md-6 align-items-center d-flex">
                        </div>

                        <div class="col-md-6">
                            <RadzenDropDown @bind-Value="@ModelId" Style="width:100%;" TValue="int"
                                            TextProperty="Name" Placeholder="Select Model"
                                            Data="@AircraftData.AircraftModelList" Change="@(args => OnModelValueChanged(args))"
                                            Name="ModelId" ValueProperty="Id" AllowClear="true">

                                <Template Context="value">
                                    @{
                                        if (value.Name != "Add New ++")
                                        {
                                            <span> @value.Name</span>

                                        }
                                        else
                                        {
                                            <span style="font-weight:bold;color:#145fe8"> @value.Name</span>
                                        }
                                    }

                                </Template>

                            </RadzenDropDown>
                            <RadzenRequiredValidator DefaultValue="0" Component="ModelId" Text="Model is required" Popup="@isPopup" Style="position: relative" />

                        </div>

                        <div class="col-md-6">
                        </div>
                    </div>

                    @if (AircraftData.Id > 0)
                    {
                        <div class="row mt-2 mb-2">
                            <div class="col-12">
                                <div class="alert alert-danger" role="alert">
                                    <RadzenIcon Icon="report_problem"></RadzenIcon>  Please update below information carefully it may affect loses of your old equipment information!
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row">

                        <div class="col-md-6 align-items-center d-flex mb-3">
                            <div class="row">
                                <div class="col-md-12 align-items-center d-flex">
                                    <RadzenLabel Text="Category" />
                                </div>
                                <div class="col-md-12 align-items-center d-flex">
                                    <RadzenDropDown @bind-Value="@CategoryId" Style="width:100%;" TValue="int"
                                                    TextProperty="Name" Placeholder="Select Category"
                                                    Data="@AircraftData.AircraftCategoryList"
                                                    Name="CategoryId" ValueProperty="Id" AllowClear="true" Change=@(args => OnCategoryDropDownValueChange(args))>
                                    </RadzenDropDown>

                                </div>
                                <div class="col-md-12 align-items-center d-flex">

                                    <RadzenRequiredValidator DefaultValue="0" Component="CategoryId" Text="Category is required" Popup="@isPopup" Style="position: relative" />

                                </div>
                            </div>
                        </div>

                        @if (isDisplayClassDropDown)
                        {
                            <div class="col-md-6 align-items-center d-flex mb-3">
                                <div class="row">
                                    <div class="col-md-12 align-items-center d-flex">
                                        <RadzenLabel Text="Class" />
                                    </div>
                                    <div class="col-md-12 align-items-center d-flex">

                                        <RadzenDropDown @bind-Value="@ClassId" Style="width:100%;" TValue="int"
                                                    TextProperty="Name" Placeholder="Select Class"
                                                    Data="@AircraftData.AircraftClassList"
                                                    Name="ClassId" ValueProperty="Id" AllowClear="true"
                                                    Change=@(args => OnClassDropDownValueChange(args))>
                                        </RadzenDropDown>
                                    </div>
                                    <div class="col-md-12 align-items-center d-flex">
                                        <RadzenRequiredValidator DefaultValue="0" Component="ClassId" Text="Class is required" Popup="@isPopup" Style="position: relative" />
                                    </div>
                                </div>
                            </div>
                        }

                        @if (isDisplayFlightSimulatorDropDown)
                        {
                            <div class="col-md-6 align-items-center d-flex mb-3">
                                <div class="row">
                                    <div class="col-md-12 align-items-center d-flex">
                                        <RadzenLabel Text="Flight Simulator" />
                                    </div>
                                    <div class="col-md-12 align-items-center d-flex">

                                        <RadzenDropDown @bind-Value="@FlightSimulatorId" Style="width:100%;" TValue="int"
                                                    TextProperty="Name" Placeholder="Select Flight  Simulator"
                                                    Data="@AircraftData.FlightSimulatorClassList"
                                                    Name="FlightSimulatorId" ValueProperty="Id" AllowClear="true">
                                        </RadzenDropDown>

                                    </div>

                                    <div class="col-md-12 align-items-center d-flex">
                                        <RadzenRequiredValidator DefaultValue="0" Component="FlightSimulatorId" Text="Flight Simulator is required" Popup="@isPopup" Style="position: relative" />
                                    </div>
                                </div>
                            </div>
                        }

                        @if (isDisplayNoofEnginesDropDown)
                        {
                            <div class="col-md-6 align-items-center d-flex mb-3">
                                <div class="row">
                                    <div class="col-md-12 align-items-center d-flex">
                                        <RadzenLabel Text="Engines" />
                                    </div>
                                    <div class="col-md-12 align-items-center d-flex">

                                        <RadzenDropDown @bind-Value="@NoofEnginesId" Style="width:100%;" TValue="int"
                                                    TextProperty="Name"
                                                    Data="@NoofEnginesDropDown"
                                                    Name="NoofEnginesId" ValueProperty="Id" AllowClear="true"
                                                    Change=@(args => OnNoOfEngineDropDownValueChange())>
                                        </RadzenDropDown>

                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <div class="row">

                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Track oil and Fuel" />
                        </div>
                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Is Identity Mismatch" />
                        </div>

                        <div class="col-md-6 align-items-top d-flex mb-2">
                            <RadzenSwitch @bind-Value=@AircraftData.TrackOilandFuel />
                        </div>

                        <div class="col-md-6 align-items-top d-flex mb-2">
                            <RadzenSwitch @bind-Value=@AircraftData.IsIdentifyMeterMismatch />

                        </div>
                    </div>

                    <div class="row">

                        @if (isDisplayEnginesareTurbines)
                        {
                            <div class="col-md-6 align-items-center d-flex">
                                <div class="row">
                                    <div class="col-md-12 align-items-center d-flex">
                                        <RadzenLabel Text="Engines have Propellers" />
                                    </div>
                                    <div class="col-md-12 align-items-top d-flex ">

                                        <RadzenSwitch @bind-Value=@AircraftData.IsEngineshavePropellers />

                                    </div>
                                </div>
                            </div>
                        }

                        @if (isDisplayEnginesHavePropellers)
                        {
                            <div class="col-md-6 align-items-center d-flex">
                                <div class="row">
                                    <div class="col-md-12 align-items-center d-flex">
                                        <RadzenLabel Text="Engines are Turbines" />
                                    </div>
                                    <div class="col-md-12 align-items-top d-flex">

                                        <RadzenSwitch @bind-Value=@AircraftData.IsEnginesareTurbines />

                                    </div>
                                </div>
                            </div>
                        }

                        @if (isDisplayNoofPropellersDropDown)
                        {
                            <div class="col-md-6 align-items-center d-flex">
                                <div class="row">
                                    <div class="col-md-12 align-items-center d-flex">
                                        <RadzenLabel Text="Propellers" />
                                    </div>
                                    <div class="col-md-12 align-items-center d-flex">

                                        <RadzenDropDown @bind-Value="@NoofPropellersId" Style="width:100%;" TValue="int"
                                                    TextProperty="Name"
                                                    Data="@NoofPropellersDropDown"
                                                    Name="NoofPropellersId" ValueProperty="Id" AllowClear="true"
                                                    Change=@(args => OnNoofPropellersDropDownValueChange())>
                                        </RadzenDropDown>

                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <div class="row">

                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Aircraft Image" />
                        </div>
                        <div class="col-md-6 align-items-center d-flex">
                        </div>
                        <div class="col-md-6">
                            <RadzenFileInput Style="outline:none" @bind-Value=@AircraftData.ImagePath Change=@(args => OnFileChange()) TValue="string" Class="w-100" />

                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>

                    <hr />
                    <div class="row" style="margin-top:4%">
                        <div class="col-md-12 text-right">

                            @if (AircraftData.Id == 0)
                            {
                                <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Text="Next" Style="width: 120px" />
                            }
                            else
                            {
                                <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Text="Next" Style="width: 120px" />
                            }

                            <RadzenButton Click="@((args) => CloseDialog(true))" ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" Class="mr-1" />
                        </div>
                    </div>

                </RadzenStepsItem>
                <RadzenStepsItem Text="Equipment Times">

                    <AircraftEquipmentTimes AircraftData=@AircraftData>

                    </AircraftEquipmentTimes>

                    <hr />
                    <div class="row" style="margin-top:4%">
                        <div class="col-md-12 text-right">

                            <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Light"
                                          Text="Previous" Style="width: 120px;margin-right:4px" Click=@(args => OpenPreviousTab()) />

                            @if (AircraftData.Id == 0)
                            {
                                <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Text="Save"
                                          IsBusy=@isBusySaveButton
                                          Style="width: 120px" Class="mr-1" />
                            }
                            else
                            {
                                <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Text="Update"
                                          IsBusy=@isBusySaveButton
                                          Style="width: 120px" Class="mr-1" />
                            }

                            <RadzenButton Click="@((args) => CloseDialog(true))" ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" Class="mr-1" />

                        </div>
                    </div>

                </RadzenStepsItem>

            </Steps>
        </RadzenSteps>

    </div>
</RadzenTemplateForm>

@if (isDisplayMakePopup)
{
    <CustomPopupComponent Title="Create Make"
                      HeaderCssClass=@CustomPopupComponent.GetHeaderCssClass(OperationType.Create)
                      CloseOnOutsideClick="false" Width="400px"
                      OnClose="@(()=> {isDisplayMakePopup = false;})">
        <Body>

            <FSM.Blazor.Pages.Aircraft.AircraftMake.Create CloseDialogCallBack="@CloseMakeDialogAsync"></FSM.Blazor.Pages.Aircraft.AircraftMake.Create>

        </Body>
    </CustomPopupComponent>
}

@if (isDisplayModelPopup)
{
    <CustomPopupComponent Title="Create Model"
                      HeaderCssClass=@CustomPopupComponent.GetHeaderCssClass(OperationType.Create)
                      CloseOnOutsideClick="false" Width="400px"
                      OnClose="@(()=> {isDisplayModelPopup = false;})">
        <Body>

            <FSM.Blazor.Pages.Aircraft.AircraftMake.Create CloseDialogCallBack="@CloseModelDialogAsync"></FSM.Blazor.Pages.Aircraft.AircraftMake.Create>

        </Body>
    </CustomPopupComponent>
}
