@using DataModels.VM.Aircraft
@using FSM.Blazor.Data.Aircraft
@using FSM.Blazor.Data.AircraftMake
@using FSM.Blazor.Data.AircraftModel
@using FSM.Blazor.Utilities;
@using DataModels.Enums;

@inject AircraftService AircraftService
@inject AircraftMakeService AircraftMakeService
@inject AircraftModelService AircraftModelService
@inject Radzen.DialogService DialogService
@inject NotificationService NotificationService
@inject AuthenticationStateProvider AuthenticationStateProvider

<RadzenTemplateForm @ref=@form Data="@AircraftData" Submit="@((AircraftVM args) => {  Submit(args); })">

    <RadzenSteps @ref=@steps ShowStepsButtons="false">
        <Steps>
            <RadzenStepsItem Text="Basic Details">
                <h3 class="mt-4">1. Enter Aircraft Details</h3>


                <input type="hidden" value="@AircraftData.Id" name="Id" />

                <RadzenFieldset Text="Basic Info">

                    <div class="row mt-2 mb-2">
                        <div class="col-md-2 align-items-center d-flex">
                            <RadzenLabel Text="Company" />
                        </div>
                        <div class="col-md-4">
                            @if (_currentUserPermissionManager.IsValidUser(AuthStat, UserRole.SuperAdmin).Result)
                            {
                                <RadzenDropDown @bind-Value="@CompanyId" Style="width:100%;" TValue="int"
                                            TextProperty="Name" Placeholder="Select Company"
                                            Data="@AircraftData.Companies"
                                            Name="CompanyId" ValueProperty="Id" AllowClear="true">
                                </RadzenDropDown>
                                <RadzenRequiredValidator DefaultValue="0" Component="CompanyId" Text="Company is required" Popup="@isPopup" Style="position: relative" />

                            }
                            else
                            {
                                <RadzenTextBox style="width: 100%;" Name="CompanyName" @bind-Value="@AircraftData.CompanyName" Disabled="true" />
                                <input type="hidden" id="CompanyId" value="@AircraftData.CompanyId" />
                            }
                        </div>

                        <div class="col-md-2 align-items-center d-flex">
                            <RadzenLabel Text="Tail No" />
                        </div>
                        <div class="col-md-4">
                            <RadzenTextBox style="width: 100%;" Name="TailNo" @bind-Value="@AircraftData.TailNo" Placeholder="Please enter tail no" />
                            <RadzenRequiredValidator Component="TailNo" Text="Tail no is required" Popup="@isPopup" Style="position: relative" />
                        </div>
                    </div>


                    <div class="row mt-2 mb-2">

                        <div class="col-md-2 align-items-center d-flex">
                            <RadzenLabel Text="Year" />
                        </div>
                        <div class="col-md-4">

                            <RadzenDropDown @bind-Value="@Year" Style="width:100%;" TValue="int"
                                            TextProperty="Name" Placeholder="Select Year"
                                            Data="@YearDropDown"
                                            Name="Year" ValueProperty="Id" AllowClear="true">
                            </RadzenDropDown>

                        </div>
                        <div class="col-md-2 align-items-center d-flex">
                            <RadzenLabel Text="Make" />
                        </div>
                        <div class="col-md-4">

                            <RadzenDropDown @bind-Value="@MakeId" Style="width:100%;" TValue="int"
                                            TextProperty="Name" Placeholder="Select Make"
                                            Data="@AircraftData.AircraftMakeList" Change="@(args => OnMakeValueChanged(args))"
                                            Name="MakeId" ValueProperty="Id" AllowClear="true">

                                <Template Context="value">
                                    @{
                                        if (value.Name != "Add New ++")
                                        {
                                            <span> @value.Name</span>

                                        }
                                        else
                                        {
                                            <span style="font-weight:bold;color:#145fe8"> @value.Name</span>
                                        }
                                    }

                                </Template>

                            </RadzenDropDown>

                            <RadzenRequiredValidator DefaultValue="0" Component="MakeId" Text="Make is required" Popup="@isPopup" Style="position: relative" />

                        </div>

                    </div>

                    <div class="row mt-2 mb-2">


                        <div class="col-md-2 align-items-center d-flex">
                            <RadzenLabel Text="Model" />
                        </div>
                        <div class="col-md-4">
                            <RadzenDropDown @bind-Value="@ModelId" Style="width:100%;" TValue="int"
                                            TextProperty="Name" Placeholder="Select Model"
                                            Data="@AircraftData.AircraftModelList" Change="@(args => OnModelValueChanged(args))"
                                            Name="ModelId" ValueProperty="Id" AllowClear="true">

                                <Template Context="value">
                                    @{
                                        if (value.Name != "Add New ++")
                                        {
                                            <span> @value.Name</span>

                                        }
                                        else
                                        {
                                            <span style="font-weight:bold;color:#145fe8"> @value.Name</span>
                                        }
                                    }

                                </Template>

                            </RadzenDropDown>
                            <RadzenRequiredValidator DefaultValue="0" Component="ModelId" Text="Model is required" Popup="@isPopup" Style="position: relative" />

                        </div>
                    </div>

                    @if (AircraftData.Id > 0)
                    {
                        <div class="row mt-2 mb-2">
                            <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Please update below information carefully it may affect loses of your old equipment information!" Class="w-100" />
                        </div>
                    }
                    <div class="row ">
                        <div class="col-md-2 mt-2 mb-2 align-items-center d-flex">
                            <RadzenLabel Text="Category" />
                        </div>
                        <div class="col-md-4 mt-2 mb-2">

                            <RadzenDropDown @bind-Value="@CategoryId" Style="width:100%;" TValue="int"
                                            TextProperty="Name" Placeholder="Select Category"
                                            Data="@AircraftData.AircraftCategoryList"
                                            Name="CategoryId" ValueProperty="Id" AllowClear="true" Change=@(args => OnCategoryDropDownValueChange(args))>
                            </RadzenDropDown>
                            <RadzenRequiredValidator DefaultValue="0" Component="CategoryId" Text="Category is required" Popup="@isPopup" Style="position: relative" />

                        </div>

                        @if (isDisplayClassDropDown)
                        {

                            <div class="col-md-2  mt-2 mb-2 align-items-center d-flex">
                                <RadzenLabel Text="Class" />
                            </div>
                            <div class="col-md-4  mt-2 mb-2">
                                <RadzenDropDown @bind-Value="@ClassId" Style="width:100%;" TValue="int"
                                            TextProperty="Name" Placeholder="Select Class"
                                            Data="@AircraftData.AircraftClassList"
                                            Name="ClassId" ValueProperty="Id" AllowClear="true"
                                            Change=@(args => OnClassDropDownValueChange(args))>
                                </RadzenDropDown>
                                <RadzenRequiredValidator DefaultValue="0" Component="ClassId" Text="Class is required" Popup="@isPopup" Style="position: relative" />

                            </div>
                        }

                        @if (isDisplayFlightSimulatorDropDown)
                        {
                            <div class="col-md-2  mt-2 mb-2 align-items-center d-flex">
                                <RadzenLabel Text="Flight Simulator" />
                            </div>
                            <div class="col-md-4  mt-2 mb-2">
                                <RadzenDropDown @bind-Value="@FlightSimulatorId" Style="width:100%;" TValue="int"
                                            TextProperty="Name" Placeholder="Select Flight  Simulator"
                                            Data="@AircraftData.FlightSimulatorClassList"
                                            Name="FlightSimulatorId" ValueProperty="Id" AllowClear="true">
                                </RadzenDropDown>
                                <RadzenRequiredValidator DefaultValue="0" Component="FlightSimulatorId" Text="Flight Simulator is required" Popup="@isPopup" Style="position: relative" />

                            </div>
                        }

                        @if (isDisplayNoofEnginesDropDown)
                        {
                            <div class="col-md-2   mt-2 mb-2 align-items-center d-flex">
                                <RadzenLabel Text="Engines" />
                            </div>
                            <div class="col-md-4  mt-2 mb-2">
                                <RadzenDropDown @bind-Value="@NoofEnginesId" Style="width:100%;" TValue="int"
                                            TextProperty="Name"
                                            Data="@NoofEnginesDropDown"
                                            Name="NoofEnginesId" ValueProperty="Id" AllowClear="true"
                                Change=@(args => OnNoOfEngineDropDownValueChange())>
                                </RadzenDropDown>

                            </div>
                        }
                    </div>

                    <div class="row mt-2 mb-2">
                        <div class="col-md-3 align-items-center d-flex">
                            <RadzenLabel Text="Track oil and Fuel" />
                        </div>
                        <div class="col-md-3">

                            <RadzenSwitch @bind-Value=@AircraftData.TrackOilandFuel />

                        </div>

                        <div class="col-md-3 align-items-center d-flex">
                            <RadzenLabel Text="Is Identity Mismatch" />
                        </div>
                        <div class="col-md-3">
                            <RadzenSwitch @bind-Value=@AircraftData.IsIdentifyMeterMismatch />

                        </div>
                    </div>


                    <div class="row mt-2 mb-2">

                        @if (isDisplayEnginesHavePropellers)
                        {
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Engines have Propellers" />
                            </div>

                            <div class="col-md-3">
                                <RadzenSwitch @bind-Value=@AircraftData.IsEngineshavePropellers />
                            </div>
                        }

                        @if (isDisplayEnginesareTurbines)
                        {
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Engines are Turbines" />
                            </div>

                            <div class="col-md-3">
                                <RadzenSwitch @bind-Value=@AircraftData.IsEnginesareTurbines />
                            </div>
                        }


                    </div>
                    <div class="row ">
                        @if (isDisplayNoofPropellersDropDown)
                        {
                            <div class="col-md-2 mt-2 mb-2 align-items-top d-flex">
                                <RadzenLabel Text="Propellers" />
                            </div>
                            <div class="col-md-4 mt-2 mb-2">
                                <RadzenDropDown @bind-Value="@NoofPropellersId" Style="width:100%;" TValue="int"
                                            TextProperty="Name"
                                            Data="@NoofPropellersDropDown"
                                            Name="NoofPropellersId" ValueProperty="Id" AllowClear="true"
                                Change=@(args => OnNoofPropellersDropDownValueChange())>
                                </RadzenDropDown>
                            </div>
                        }
                        <div class="col-md-2 mt-2 mb-2 align-items-top d-flex">
                            <RadzenLabel Text="Aircraft Image" />
                        </div>
                        <div class="col-md-4 mt-2 mb-2">
                           
                            <RadzenFileInput Style="outline:none" @bind-Value=@AircraftData.ImagePath Change=@(args => OnFileChange()) TValue="string" Class="w-100" />
                                
                        </div>
                    </div>

                </RadzenFieldset>

                <div class="row" style="margin-top:4%">
                    <div class="col-md-12 text-right">
                        <RadzenButton ButtonType="ButtonType.Submit" Text="Next" Style="width: 120px" />
                        <RadzenButton Click="@((args) => DialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="width: 120px" Class="mr-1" />
                    </div>
                </div>


            </RadzenStepsItem>
            <RadzenStepsItem Text="Equipment Times">

                <h3 class="mt-4">2. Enter Equipment Times</h3>

                <AircraftEquipmentTimes AircraftData=@AircraftData >

                </AircraftEquipmentTimes>

                <div class="row" style="margin-top:4%">
                    <div class="col-md-12 text-right">
                        <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Secondary"
                        Text="Previous" Style="width: 120px" Click=@(args => OpenPreviousTab()) />

                        <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Text="Save"
                        BusyText="Saving ..." IsBusy=@isBusySaveButton
                        Style="width: 120px" Class="mr-1" />
                    </div>
                </div>

            </RadzenStepsItem>

        </Steps>
    </RadzenSteps>

</RadzenTemplateForm>