@namespace FSM.Blazor.Pages.Aircraft
@using Configuration;
@layout MainLayout
@using DataModels.VM.Aircraft
@using FSM.Blazor.Utilities
@using FSM.Blazor.Data.Aircraft;
@using DataModels.Enums;

@inject AircraftService AircraftService
@inject Radzen.DialogService DialogService
@inject NavigationManager NavManager

@page "/Aircraft"

<PageTitle>Aircraft | Fly Manager </PageTitle>
<style>
    .rz-g > div
    {
        flex:none;
    }
    </style>
<div class="row mb-4">
    <div class="col">
        <h2 style="float:left">Manage Aircrafts Details</h2>

        @if (_currentUserPermissionManager.IsAllowed(AuthStat,PermissionType.Create, @moduleName))
        {
            <RadzenButton Style="float:right" Text="Add New" Icon="add_circle_outline" BusyText="Add New ..." IsBusy=@isBusyAddNewButton
                      ButtonStyle="ButtonStyle.Primary" Click=@(() => AircraftCreateDialog(0, "Create")) />
        }

    </div>
</div>

<div class="row">

    @*    <div class="col-md-4">
        <RadzenDropDown @bind-Value="@aircraftStatus" Style="width:100%; margin: 8px 4px;" TValue="bool"
        TextProperty="Name" Placeholder="Select Role"
        Data="@(new List(){new DropdownValues(){ Id = "1", Text = "YourText"}})" Change="@(args =>  grid.Reload())"
        Name="RoleId" ValueProperty="Id" AllowClear="true">

        </RadzenDropDown>
        </div>
    *@

    @if (_currentUserPermissionManager.IsValidUser(AuthStat, UserRole.SuperAdmin).Result)
    {
        <div class="col-md-4">
            <RadzenDropDown @bind-Value="@CompanyId" Style="width:100%; margin: 8px 4px;" TValue="int"
                        @ref="companyFilter" TextProperty="Name" Placeholder="Select Company"
                        Data="@CompanyFilterDropdown" Change="@(args =>  grid.Reload())"
                        Name="CompanyId" ValueProperty="Id" AllowClear="true">
            </RadzenDropDown>
        </div>
    }

    <div class="col-md-4" style="padding-top:0.5%">
        <RadzenTextBox style="width: 100%;" Name="SearchText" Change="@(args =>  grid.Reload())"
                       Placeholder="Search Aircraft" @bind-Value="@searchText" />
    </div>

</div>
<RadzenDataList WrapItems="true" @ref="grid" AllowPaging="true" Data="@airCraftsVM" TItem="AircraftDataVM"
                ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat"
                PageSize="@pageSize" Count="@count"
                PageChanged="@PageChanged" LoadData="@LoadData"
                PageSizeOptions="@pageSizeOptions">

    <Template Context="airCraftVM">
        <RadzenCard Style="width:350px;height:257px;cursor:pointer;padding:0px;" @onclick="@((args) => OpenDetailPage(airCraftVM.Id))">
            <div class="d-flex flex-row align-items-center" style="height: 75%;width: 100%;">
                <RadzenImage onerror="this.onerror=null;this.src='../img/thumbnail-aircraft.png';" Path="@(airCraftVM.ImagePath)" Class="float-left mr-3" Style="width: 100%; height: 100%;" />            
            </div>
            <br/>
             <div class="row" style="margin-top:-12px;">
                <div class="col-md-6 text-truncate" style="padding-left:32px;">
                    <b >@(airCraftVM.TailNo)</b>
                     <h4 class="mb-0">@(airCraftVM.ModelName + " " + airCraftVM.MakeName)</h4>

                </div>
                <div class="col-md-6" style="float:right;">
                                        <div>@airCraftVM.Category</div>

                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text=@($"{String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", airCraftVM.CompanyName)}") />
                </div>
            </div>
        </RadzenCard>
    </Template>
</RadzenDataList>
