@namespace Web.UI.Pages.Company.DetailsView.DetailTabs
@using DataModels.Enums

@if (CompanyData != null && CompanyData.Id != 0)
{
    <TelerikTabStrip Class="k-tabstrip-list">

        @*  <TabStripTab>
            <HeaderTemplate>
            <div class="d-flex justify-content-center align-items-center">
            <span class="mx-2">
            <CustomIcons IconName="userrolepermission" PrimaryColor="#03AAFC"></CustomIcons>
            </span>
            <span>Stats</span>
            </div>
            </HeaderTemplate>
            <Content>

            <Web.UI.Pages.Statistics.CompanyStatistics>
            </Web.UI.Pages.Statistics.CompanyStatistics>

            </Content>
            </TabStripTab>*@

        @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.View, Module.User.ToString()))
        {
            <TabStripTab>
                <HeaderTemplate>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="mx-2">
                            <CustomIcons IconName="userrolepermission" PrimaryColor="#03AAFC"></CustomIcons>
                        </span>
                        <span>Users</span>
                    </div>
                </HeaderTemplate>
                <Content>

                    <Web.UI.Pages.User.Index CompanyIdParam="@CompanyData.Id"
                                     ParentModuleName="@Module.Company.ToString()">
                    </Web.UI.Pages.User.Index>

                </Content>
            </TabStripTab>

        }

        @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.View, Module.Reservation.ToString()))
        {
            <TabStripTab>
                <HeaderTemplate>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="mx-2">
                            <CustomIcons IconName="reservation" PrimaryColor="#03AAFC"></CustomIcons>
                        </span>
                        <span>Reservation</span>
                    </div>
                </HeaderTemplate>
                <Content>
                    <Web.UI.Pages.Reservation.Index ParentModuleName="@Module.Company.ToString()" CompanyId="@CompanyData.Id">

                    </Web.UI.Pages.Reservation.Index>
                </Content>
            </TabStripTab>

        }

        @if (_currentUserPermissionManager.IsAllowed(AuthStat, PermissionType.View, Module.Document.ToString()))
        {
            <TabStripTab>
                <HeaderTemplate>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="mx-2">
                            <CustomIcons IconName="document" PrimaryColor="#03AAFC"></CustomIcons>
                        </span>
                        <span>Documents</span>
                    </div>
                </HeaderTemplate>
                <Content>
                    <Web.UI.Pages.Document.Index ParentModuleName="@Module.Company.ToString()" CompanyIdParam="@CompanyData.Id">

                    </Web.UI.Pages.Document.Index>
                </Content>
            </TabStripTab>
        }

        <TabStripTab>
            <HeaderTemplate>
                <div class="d-flex justify-content-center align-items-center">
                    <span class="mx-2">
                        <CustomIcons IconName="aircraft" PrimaryColor="#03AAFC"></CustomIcons>
                    </span>
                    <span>Aircrafts</span>
                </div>
            </HeaderTemplate>
            <Content>
                <Web.UI.Pages.Aircraft.Index ParentModuleName="@Module.Company.ToString()" ParentCompanyId="@CompanyData.Id">

                </Web.UI.Pages.Aircraft.Index>
            </Content>
        </TabStripTab>

        <TabStripTab>
            <HeaderTemplate>
                <div class="d-flex justify-content-center align-items-center">
                    <span class="mx-2">
                        <CustomIcons IconName="setting" PrimaryColor="#03AAFC"></CustomIcons>
                    </span>
                    <span>Settings</span>
                </div>
            </HeaderTemplate>
            <Content>

                <Web.UI.Pages.Company.DetailsView.Settings.Index CompanyData="@CompanyData">
                </Web.UI.Pages.Company.DetailsView.Settings.Index>

            </Content>
        </TabStripTab>

         <TabStripTab>
        <HeaderTemplate>
            <div class="d-flex justify-content-center align-items-center">
                <span class="mx-2">
                    <CustomIcons IconName="logbook" PrimaryColor="#03AAFC"></CustomIcons>
                </span>
                <span>LogBook</span>
            </div>
        </HeaderTemplate>
        <Content>
            <Web.UI.Pages.LogBook.LogBookList ParentModuleName="@Module.Company.ToString()" CompanyIdParam="@CompanyData.Id">
            </Web.UI.Pages.LogBook.LogBookList>
        </Content>
    </TabStripTab>
      
    </TelerikTabStrip>
}