<style>
    /* enable absolute position for the icon */
    .tb-icon-container {
        position: relative;
    }

        /* position icon over textbox */
        .tb-icon-container .k-icon {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0.5em;
        }

    .comp-full-width {
        width: 150px !important;
    }
</style>
<span class="mr-2" @onclick=@(() => {isFilterBarVisible = !isFilterBarVisible;})>
    <FontLabel Class="text-white cursor-pointer"><CustomIcons IconName="weathermenu" PrimaryColor="#3066f8"> </CustomIcons></FontLabel>
</span>

<span class="mr-2" @onclick=@(() => LoadMap())>
    <FontLabel Class="text-white cursor-pointer"><CustomIcons IconName="refresh" PrimaryColor="#3066f8"> </CustomIcons></FontLabel>
</span>
<div id="parent" style="position: relative">
    <div class="collapsebar" style="position:absolute;left:12px">
        <div class="row">
            <div class="py-2">
                <span class="ma-2">

                    @*<span class="mr-2" @onclick=@(() => {isFilterBarVisible = !isFilterBarVisible;})>
                        <FontLabel Class="text-white cursor-pointer"><CustomIcons IconName="weathermenu" PrimaryColor="white"> </CustomIcons></FontLabel>
                    </span>

                    <span class="mr-2" @onclick=@(() => LoadMap())>
                        <FontLabel Class="text-white cursor-pointer"><CustomIcons IconName="refresh" PrimaryColor="white"> </CustomIcons></FontLabel>
                    </span>*@

                    @*     <span class="tb-icon-container">
                        <TelerikIcon Icon="zoom" Class="pt-1 px-1" />
                        <input placeholder="&nbsp;&nbsp;    search location" style="border-radius:100px;" />
                        </span>*@
                    @*<span class="mx-2">
                        <FontLabel Class="text-white cursor-pointer"><TelerikIcon Icon="share" Class="pt-1" /></FontLabel>
                        </span>*@
                </span>

                <div id="collapseOne" class=" collapse @(isFilterBarVisible ? "show":"")" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body ">
                        <div class="card" style="width:300px">
                            <div class="row m-2" style="border-bottom: 1px solid #f5f5f5;">
                                <div class="d-flex justify-content-between">
                                    <FontLabel fontSize="12px">Configure your map</FontLabel>
                                    <span class="pt-1" @onclick=@(() => {isFilterBarVisible = !isFilterBarVisible;})>
                                        <CustomIcons IconName="close" PrimaryColor="black"> </CustomIcons>
                                    </span>
                                </div>
                            </div>
                            <div class="row m-2 child-component">
                                <TelerikForm Model="@radarMapConfiguration">
                                    <FormValidation>
                                        <CustomValidationSummary> </CustomValidationSummary>
                                    </FormValidation>
                                    <FormItems>
                                        <table>
                                            <tbody>
                                                <tr class="my-2">
                                                    <td style="text-align: right;"><FontLabel Class="mx-2">Width:</FontLabel></td>
                                                    <td>
                                                        <span style="text-align: left;" class="d-flex justify-content-start align-items-center py-2">
                                                            <TelerikNumericTextBox Class="comp-full-width" @bind-Value="@radarMapConfiguration.Width" OnChange="@OnWidthChange"></TelerikNumericTextBox> <span style="margin-left:5px"> px </span>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr class="my-2">
                                                    <td style="text-align: right;"><FontLabel Class="mx-2">Height:</FontLabel></td>
                                                    <td>
                                                        <span style="text-align: left;" class="d-flex justify-content-start align-items-center py-2">
                                                            <TelerikNumericTextBox Class="comp-full-width" @bind-Value="@radarMapConfiguration.Height" OnChange="@OnHeightChange"></TelerikNumericTextBox> <span style="margin-left:5px"> px </span>
                                                        </span>
                                                    </td>
                                                </tr>

                                                 <tr class="my-2">
                                                    <td colspan="2" style="padding:9px 0px 12px 0px">
                                                        <span style="text-align: left;" class="">

                                                            <TelerikCheckBox @bind-Value="@radarMapConfiguration.IsApplyToAll"></TelerikCheckBox>

                                                        </span>
                                                        <FontLabel Class="mx-2">Apply Height and Width for All Maps:</FontLabel>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </FormItems>
                                    <FormButtons>

                                        <div class="col-12 col-sm-12 col-lg-5 mb-1 d-flex align-items-center justify-content-end border-0" style="margin-right:13px">
                                            <TelerikButton Class="btn k-btn-primary" ThemeColor="primary" OnClick="() => Submit()" Enabled="@(!isBusyAddButton)">
                                                Save Default
                                                <TelerikLoader Class="button-loader-indicator" Size="sm" ThemeColor="light" Visible="@isBusyAddButton">
                                                </TelerikLoader>
                                            </TelerikButton>
                                        </div>

                                    </FormButtons>
                                </TelerikForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="iframe">
        <iframe style="height:@(radarMapConfiguration.Height)px;width:@(radarMapConfiguration.Width)px;" id="radarMap" src="@mapSrc" onforminput="@radarMapConfiguration" frameborder="0">
        </iframe>
    </div>
</div>